In [529]:
import pandas as pd
import numpy as np
import re
import seaborn as sns
import matplotlib.pyplot as plt

In [530]:
dfte = pd.read_json('/Users/butler/Documents/hp/Classification_of_Indian_clothing_images/data/raw/indian_clothing/test_data.json', lines=True)

In [531]:
dfv = pd.read_json('/Users/butler/Documents/hp/Classification_of_Indian_clothing_images/data/raw/indian_clothing/val_data.json', lines=True)

In [532]:
dftr = pd.read_json('/Users/butler/Documents/hp/Classification_of_Indian_clothing_images/data/raw/indian_clothing/train_data.json', lines=True)

In [533]:
#val dhoti 1383 not correct

In [534]:
dfv.head()

,image_url,image_path,brand,product_title,class_label,color
0,https://m.media-amazon.com/images/I/81LOPbFPiQ...,images/val/0.jpeg,Generic,Women's Khadi Cotton Saree With Blouse Piece (...,saree,NaN
1,https://m.media-amazon.com/images/I/81Q8Oktw4s...,images/val/1.jpeg,Yashvi Designer,Women's Net Saree With Unstitched Blouse Piece,saree,NaN
2,https://m.media-amazon.com/images/I/613S1YGCmo...,images/val/2.jpeg,Aarrah,Georgette Strip Print Saree[S_SHIKHA30021SR02_...,saree,NaN
3,https://m.media-amazon.com/images/I/819budhQl1...,images/val/3.jpeg,MIMOSA,Women's Patola Style Art Silk Saree (Green),saree,NaN
4,https://m.media-amazon.com/images/I/61cAZ94ZQV...,images/val/4.jpeg,Generic,Women's Pure Hand Block Patola Printed Cotton ...,saree,NaN

In [535]:
dfv.tail()

,image_url,image_path,brand,product_title,class_label,color
7495,https://m.media-amazon.com/images/I/614GvuaIJu...,images/val/7495.jpeg,ishin,Women's Rayon Pink Printed A-Line Kurta Palazz...,women_kurta,NaN
7496,https://m.media-amazon.com/images/I/81WAbf4-ao...,images/val/7496.jpeg,Cotton Culture,Women's Kesar Pink Cotton Straight Kurta,women_kurta,NaN
7497,https://m.media-amazon.com/images/I/61unbmOA7k...,images/val/7497.jpeg,Bae's Wardrobe,Printed Rayon Anarkali Kurti with Plazzo Pant ...,women_kurta,NaN
7498,https://m.media-amazon.com/images/I/71zULAnVNY...,images/val/7498.jpeg,Aarika,Girl's Regular Dress,women_kurta,NaN
7499,https://m.media-amazon.com/images/I/71mhB7xFHt...,images/val/7499.jpeg,Aurelia,Women's Straight Kurta,women_kurta,NaN

In [536]:
dfv.class_label.unique()

array(['saree', 'blouse', 'dhoti_pants', 'dupattas', 'gowns', 'kurta_men',
       'leggings_and_salwars', 'lehenga', 'mojaris_men', 'mojaris_women',
       'nehru_jackets', 'palazzos', 'petticoats', 'sherwanis',
       'women_kurta'], dtype=object)

In [537]:
dfvr = dfv.copy()

In [538]:
dfvr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7500 entries, 0 to 7499
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   image_url      7500 non-null   object
 1   image_path     7500 non-null   object
 2   brand          7500 non-null   object
 3   product_title  7500 non-null   object
 4   class_label    7500 non-null   object
 5   color          947 non-null    object
dtypes: object(6)
memory usage: 351.7+ KB

In [539]:
dfvr = dfvr.reset_index(names='number')

In [540]:
dfvr.tail()

,number,image_url,image_path,brand,product_title,class_label,color
7495,7495,https://m.media-amazon.com/images/I/614GvuaIJu...,images/val/7495.jpeg,ishin,Women's Rayon Pink Printed A-Line Kurta Palazz...,women_kurta,NaN
7496,7496,https://m.media-amazon.com/images/I/81WAbf4-ao...,images/val/7496.jpeg,Cotton Culture,Women's Kesar Pink Cotton Straight Kurta,women_kurta,NaN
7497,7497,https://m.media-amazon.com/images/I/61unbmOA7k...,images/val/7497.jpeg,Bae's Wardrobe,Printed Rayon Anarkali Kurti with Plazzo Pant ...,women_kurta,NaN
7498,7498,https://m.media-amazon.com/images/I/71zULAnVNY...,images/val/7498.jpeg,Aarika,Girl's Regular Dress,women_kurta,NaN
7499,7499,https://m.media-amazon.com/images/I/71mhB7xFHt...,images/val/7499.jpeg,Aurelia,Women's Straight Kurta,women_kurta,NaN

In [541]:
dfvr['kurta'] = dfvr.product_title.str.contains('kurta', flags=re.IGNORECASE)

In [542]:
dfvr.tail()

,number,image_url,image_path,brand,product_title,class_label,color,kurta
7495,7495,https://m.media-amazon.com/images/I/614GvuaIJu...,images/val/7495.jpeg,ishin,Women's Rayon Pink Printed A-Line Kurta Palazz...,women_kurta,NaN,True
7496,7496,https://m.media-amazon.com/images/I/81WAbf4-ao...,images/val/7496.jpeg,Cotton Culture,Women's Kesar Pink Cotton Straight Kurta,women_kurta,NaN,True
7497,7497,https://m.media-amazon.com/images/I/61unbmOA7k...,images/val/7497.jpeg,Bae's Wardrobe,Printed Rayon Anarkali Kurti with Plazzo Pant ...,women_kurta,NaN,False
7498,7498,https://m.media-amazon.com/images/I/71zULAnVNY...,images/val/7498.jpeg,Aarika,Girl's Regular Dress,women_kurta,NaN,False
7499,7499,https://m.media-amazon.com/images/I/71mhB7xFHt...,images/val/7499.jpeg,Aurelia,Women's Straight Kurta,women_kurta,NaN,True

In [543]:
dfvr['women'] = dfvr.product_title.str.contains('women', flags=re.IGNORECASE)

In [544]:
dfvr.head()

,number,image_url,image_path,brand,product_title,class_label,color,kurta,women
0,0,https://m.media-amazon.com/images/I/81LOPbFPiQ...,images/val/0.jpeg,Generic,Women's Khadi Cotton Saree With Blouse Piece (...,saree,NaN,False,True
1,1,https://m.media-amazon.com/images/I/81Q8Oktw4s...,images/val/1.jpeg,Yashvi Designer,Women's Net Saree With Unstitched Blouse Piece,saree,NaN,False,True
2,2,https://m.media-amazon.com/images/I/613S1YGCmo...,images/val/2.jpeg,Aarrah,Georgette Strip Print Saree[S_SHIKHA30021SR02_...,saree,NaN,False,False
3,3,https://m.media-amazon.com/images/I/819budhQl1...,images/val/3.jpeg,MIMOSA,Women's Patola Style Art Silk Saree (Green),saree,NaN,False,True
4,4,https://m.media-amazon.com/images/I/61cAZ94ZQV...,images/val/4.jpeg,Generic,Women's Pure Hand Block Patola Printed Cotton ...,saree,NaN,False,True

In [545]:
dfvr.tail()

,number,image_url,image_path,brand,product_title,class_label,color,kurta,women
7495,7495,https://m.media-amazon.com/images/I/614GvuaIJu...,images/val/7495.jpeg,ishin,Women's Rayon Pink Printed A-Line Kurta Palazz...,women_kurta,NaN,True,True
7496,7496,https://m.media-amazon.com/images/I/81WAbf4-ao...,images/val/7496.jpeg,Cotton Culture,Women's Kesar Pink Cotton Straight Kurta,women_kurta,NaN,True,True
7497,7497,https://m.media-amazon.com/images/I/61unbmOA7k...,images/val/7497.jpeg,Bae's Wardrobe,Printed Rayon Anarkali Kurti with Plazzo Pant ...,women_kurta,NaN,False,True
7498,7498,https://m.media-amazon.com/images/I/71zULAnVNY...,images/val/7498.jpeg,Aarika,Girl's Regular Dress,women_kurta,NaN,False,False
7499,7499,https://m.media-amazon.com/images/I/71mhB7xFHt...,images/val/7499.jpeg,Aurelia,Women's Straight Kurta,women_kurta,NaN,True,True

In [546]:
kurtap = dfvr.index[dfvr.kurta == True]

In [547]:
women = dfvr.index[dfvr.women == True]

In [548]:
len(kurtap)

1066

In [549]:
len(women)

3908

In [550]:
# Setting kurtas women_kurta df to df_val  where class_label = women_kurta
women_kurta =  dfvr.index[dfvr.class_label == 'women_kurta']

In [551]:
len(women_kurta)

500

In [552]:
kurta_men = dfvr.index[dfvr.class_label == 'kurta_men']

In [553]:
len(kurta_men)

500

In [554]:
dfvr['men'] = dfvr.product_title.str.contains(' men', flags=re.IGNORECASE)

In [555]:
dfvr.head()

,number,image_url,image_path,brand,product_title,class_label,color,kurta,women,men
0,0,https://m.media-amazon.com/images/I/81LOPbFPiQ...,images/val/0.jpeg,Generic,Women's Khadi Cotton Saree With Blouse Piece (...,saree,NaN,False,True,False
1,1,https://m.media-amazon.com/images/I/81Q8Oktw4s...,images/val/1.jpeg,Yashvi Designer,Women's Net Saree With Unstitched Blouse Piece,saree,NaN,False,True,False
2,2,https://m.media-amazon.com/images/I/613S1YGCmo...,images/val/2.jpeg,Aarrah,Georgette Strip Print Saree[S_SHIKHA30021SR02_...,saree,NaN,False,False,False
3,3,https://m.media-amazon.com/images/I/819budhQl1...,images/val/3.jpeg,MIMOSA,Women's Patola Style Art Silk Saree (Green),saree,NaN,False,True,False
4,4,https://m.media-amazon.com/images/I/61cAZ94ZQV...,images/val/4.jpeg,Generic,Women's Pure Hand Block Patola Printed Cotton ...,saree,NaN,False,True,False

In [556]:
# Setting dhoti_pants column with boolean value if 'dhoti' in product title
dfvr['dhoti_pants'] = dfvr.product_title.str.contains('dhoti', flags=re.IGNORECASE)

In [557]:
dfvr['saree'] = dfvr.product_title.str.contains('saree', flags=re.IGNORECASE)

In [558]:
dfvr['sherwanis'] = dfvr.product_title.str.contains('sherwani', flags=re.IGNORECASE)

In [559]:
dfvr.head()

,number,image_url,image_path,brand,product_title,class_label,color,kurta,women,men,dhoti_pants,saree,sherwanis
0,0,https://m.media-amazon.com/images/I/81LOPbFPiQ...,images/val/0.jpeg,Generic,Women's Khadi Cotton Saree With Blouse Piece (...,saree,NaN,False,True,False,False,True,False
1,1,https://m.media-amazon.com/images/I/81Q8Oktw4s...,images/val/1.jpeg,Yashvi Designer,Women's Net Saree With Unstitched Blouse Piece,saree,NaN,False,True,False,False,True,False
2,2,https://m.media-amazon.com/images/I/613S1YGCmo...,images/val/2.jpeg,Aarrah,Georgette Strip Print Saree[S_SHIKHA30021SR02_...,saree,NaN,False,False,False,False,True,False
3,3,https://m.media-amazon.com/images/I/819budhQl1...,images/val/3.jpeg,MIMOSA,Women's Patola Style Art Silk Saree (Green),saree,NaN,False,True,False,False,True,False
4,4,https://m.media-amazon.com/images/I/61cAZ94ZQV...,images/val/4.jpeg,Generic,Women's Pure Hand Block Patola Printed Cotton ...,saree,NaN,False,True,False,False,True,False

In [560]:
dfvr['palazzos'] = dfvr.product_title.str.contains('palazzo', flags=re.IGNORECASE)

In [561]:
dfvr['mojaris'] = dfvr.product_title.str.contains('mojari', flags=re.IGNORECASE)

In [562]:
dfvr['nehru'] = dfvr.product_title.str.contains('nehru', flags=re.IGNORECASE)

In [563]:
dfvr['leggings'] = dfvr.product_title.str.contains('legging', flags=re.IGNORECASE)

In [564]:
dfvr['salwars'] = dfvr.product_title.str.contains('salwar', flags=re.IGNORECASE)

In [565]:
dfvr['petticoats'] = dfvr.product_title.str.contains('petticoat', flags=re.IGNORECASE)

In [566]:
dfvr['blouse'] = dfvr.product_title.str.contains('blouse', flags=re.IGNORECASE)

In [567]:
dfvr['dupattas'] = dfvr.product_title.str.contains('dupatta', flags=re.IGNORECASE)

In [568]:
dfvr['gowns'] = dfvr.product_title.str.contains('gown', flags=re.IGNORECASE)

In [569]:
dfvr['lehenga'] = dfvr.product_title.str.contains('lehenga', flags=re.IGNORECASE)

In [570]:
dfvr.head()

,number,image_url,image_path,brand,product_title,class_label,color,kurta,women,men,...,palazzos,mojaris,nehru,leggings,salwars,petticoats,blouse,dupattas,gowns,lehenga
0,0,https://m.media-amazon.com/images/I/81LOPbFPiQ...,images/val/0.jpeg,Generic,Women's Khadi Cotton Saree With Blouse Piece (...,saree,NaN,False,True,False,...,False,False,False,False,False,False,True,False,False,False
1,1,https://m.media-amazon.com/images/I/81Q8Oktw4s...,images/val/1.jpeg,Yashvi Designer,Women's Net Saree With Unstitched Blouse Piece,saree,NaN,False,True,False,...,False,False,False,False,False,False,True,False,False,False
2,2,https://m.media-amazon.com/images/I/613S1YGCmo...,images/val/2.jpeg,Aarrah,Georgette Strip Print Saree[S_SHIKHA30021SR02_...,saree,NaN,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,3,https://m.media-amazon.com/images/I/819budhQl1...,images/val/3.jpeg,MIMOSA,Women's Patola Style Art Silk Saree (Green),saree,NaN,False,True,False,...,False,False,False,False,False,False,False,False,False,False
4,4,https://m.media-amazon.com/images/I/61cAZ94ZQV...,images/val/4.jpeg,Generic,Women's Pure Hand Block Patola Printed Cotton ...,saree,NaN,False,True,False,...,False,False,False,False,False,False,True,False,False,False

In [571]:
dfvr.iloc[2,4]

'Georgette Strip Print Saree[S_SHIKHA30021SR02_perent_Red & Yellow]'

In [572]:
dfvr.iloc[1,4]

"Women's Net Saree With Unstitched Blouse Piece"

In [573]:
dfvr.to_csv('/Users/butler/Documents/hp/Classification_of_Indian_clothing_images/data/interim/dfvr.csv')

In [481]:
def func(x):
    if x == 'True':
        return 0
    else:
        return 'blouse'

In [482]:
dfvr['blouse'] = dfvr.blouse.apply(lambda x: func(x))

In [574]:
def func(x):
    if x == 'True':
        return 0
    else:
        return 'dhoti_pants'

In [575]:
dfvr['dhoti_pants'] = dfvr.dhoti_pants.apply(lambda x: func(x))

In [576]:
dfvr.loc[1000]

number                                                        1000
image_url        https://rukminim1.flixcart.com/image/309/371/k...
image_path                                    images/val/1000.jpeg
brand                                                          N/A
product_title    MK Fashion Hub Red Rayon Fabric Floral Print W...
class_label                                            dhoti_pants
color                                                          N/A
kurta                                                        False
women                                                         True
men                                                          False
dhoti_pants                                            dhoti_pants
saree                                                        False
sherwanis                                                    False
palazzos                                                     False
mojaris                                                      False
nehru                                                        False
leggings                                                     False
salwars                                                      False
petticoats                                                   False
blouse                                                       False
dupattas                                                     False
gowns                                                        False
lehenga                                                      False
Name: 1000, dtype: object

In [459]:
def func(x):
    if x == 'True':
        return 0
    else:
        return 'dupattas'

In [483]:
dfvr['dupatta'] = dfvr.dupatta.apply(lambda x: func(x))

AttributeError: 'DataFrame' object has no attribute 'dupatta'

In [480]:
def func(x):
    if x == 'True':
        return 0
    else:
        return 'gowns'

In [479]:
dfvr['gown'] = dfvr.gown.apply(lambda x: func(x))

In [480]:
def func(x):
    if x == 'True':
        return 0
    else:
        return 'kurta'

In [479]:
dfvr['kurta'] = dfvr.kurta.apply(lambda x: func(x))

In [480]:
def func(x):
    if x == 'True':
        return 0
    else:
        return 'legging'

In [479]:
for name in dfvr.columns:
    def func(x):
    if x == 'True':
        return 0
    else:
        return 'name'
    
    dfvr['name'] = dfvr['name'].apply(lambda x: func(x))

In [473]:
dfvr.head()

,number,image_url,image_path,brand,product_title,class_label,color,kurta,women,men,...,palazzos,nehru,mojaris,leggings,salwars,petticoats,blouse,dupattas,gowns,lehenga
0,0,https://m.media-amazon.com/images/I/81LOPbFPiQ...,images/val/0.jpeg,Generic,Women's Khadi Cotton Saree With Blouse Piece (...,saree,NaN,dhoti_pants,women,men,...,False,False,False,False,False,False,True,False,False,False
1,1,https://m.media-amazon.com/images/I/81Q8Oktw4s...,images/val/1.jpeg,Yashvi Designer,Women's Net Saree With Unstitched Blouse Piece,saree,NaN,dhoti_pants,women,men,...,False,False,False,False,False,False,True,False,False,False
2,2,https://m.media-amazon.com/images/I/613S1YGCmo...,images/val/2.jpeg,Aarrah,Georgette Strip Print Saree[S_SHIKHA30021SR02_...,saree,NaN,dhoti_pants,women,men,...,False,False,False,False,False,False,False,False,False,False
3,3,https://m.media-amazon.com/images/I/819budhQl1...,images/val/3.jpeg,MIMOSA,Women's Patola Style Art Silk Saree (Green),saree,NaN,dhoti_pants,women,men,...,False,False,False,False,False,False,False,False,False,False
4,4,https://m.media-amazon.com/images/I/61cAZ94ZQV...,images/val/4.jpeg,Generic,Women's Pure Hand Block Patola Printed Cotton ...,saree,NaN,dhoti_pants,women,men,...,False,False,False,False,False,False,True,False,False,False

In [577]:
df = pd.read_csv('/Users/butler/Documents/hp/Classification_of_Indian_clothing_images/data/interim/dfvr.csv')

In [579]:
df.tail()

,Unnamed: 0,number,image_url,image_path,brand,product_title,class_label,color,kurta,women,...,palazzos,mojaris,nehru,leggings,salwars,petticoats,blouse,dupattas,gowns,lehenga
7495,7495,7495,https://m.media-amazon.com/images/I/614GvuaIJu...,images/val/7495.jpeg,ishin,Women's Rayon Pink Printed A-Line Kurta Palazz...,women_kurta,NaN,kurta,women,...,palazzos,0,0,0,0,0,0,0,0,0
7496,7496,7496,https://m.media-amazon.com/images/I/81WAbf4-ao...,images/val/7496.jpeg,Cotton Culture,Women's Kesar Pink Cotton Straight Kurta,women_kurta,NaN,kurta,women,...,0,0,0,0,0,0,0,0,0,0
7497,7497,7497,https://m.media-amazon.com/images/I/61unbmOA7k...,images/val/7497.jpeg,Bae's Wardrobe,Printed Rayon Anarkali Kurti with Plazzo Pant ...,women_kurta,NaN,0,women,...,0,0,0,0,0,0,0,0,0,0
7498,7498,7498,https://m.media-amazon.com/images/I/71zULAnVNY...,images/val/7498.jpeg,Aarika,Girl's Regular Dress,women_kurta,NaN,0,0,...,0,0,0,0,0,0,0,0,0,0
7499,7499,7499,https://m.media-amazon.com/images/I/71mhB7xFHt...,images/val/7499.jpeg,Aurelia,Women's Straight Kurta,women_kurta,NaN,kurta,women,...,0,0,0,0,0,0,0,0,0,0

In [584]:
columns = ['kurta', 'women', 'men', 'dhoti_pants', 'saree', 'sherwanis', 
           'palazzos', 'mojaris', 'nehru', 'leggings', 'salwars', 
           'petticoats', 'blouse', 'dupattas', 'gowns', 'lehenga']


def func(x):
    for column in columns:
        if x == column:
            return str(column)
        else:
            return x
for name in columns:
    dfvr['other_label'] = dfvr[str(name)].apply(lambda x: func(x))

In [585]:
dfvr.head()

,number,image_url,image_path,brand,product_title,class_label,color,kurta,women,men,...,mojaris,nehru,leggings,salwars,petticoats,blouse,dupattas,gowns,lehenga,other_label
0,0,https://m.media-amazon.com/images/I/81LOPbFPiQ...,images/val/0.jpeg,Generic,Women's Khadi Cotton Saree With Blouse Piece (...,saree,NaN,False,True,False,...,False,False,False,False,False,True,False,False,False,False
1,1,https://m.media-amazon.com/images/I/81Q8Oktw4s...,images/val/1.jpeg,Yashvi Designer,Women's Net Saree With Unstitched Blouse Piece,saree,NaN,False,True,False,...,False,False,False,False,False,True,False,False,False,False
2,2,https://m.media-amazon.com/images/I/613S1YGCmo...,images/val/2.jpeg,Aarrah,Georgette Strip Print Saree[S_SHIKHA30021SR02_...,saree,NaN,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,3,https://m.media-amazon.com/images/I/819budhQl1...,images/val/3.jpeg,MIMOSA,Women's Patola Style Art Silk Saree (Green),saree,NaN,False,True,False,...,False,False,False,False,False,False,False,False,False,False
4,4,https://m.media-amazon.com/images/I/61cAZ94ZQV...,images/val/4.jpeg,Generic,Women's Pure Hand Block Patola Printed Cotton ...,saree,NaN,False,True,False,...,False,False,False,False,False,True,False,False,False,False

In [ ]:
# Setting df_non_dhoti to df_val_revised with boolean value if 'dhoti' is not in any column
df_non_dhoti = df_val.applymap(lambda x: 'dhoti' not in str(x).lower())

In [586]:
dfvr.tail()

,number,image_url,image_path,brand,product_title,class_label,color,kurta,women,men,...,mojaris,nehru,leggings,salwars,petticoats,blouse,dupattas,gowns,lehenga,other_label
7495,7495,https://m.media-amazon.com/images/I/614GvuaIJu...,images/val/7495.jpeg,ishin,Women's Rayon Pink Printed A-Line Kurta Palazz...,women_kurta,NaN,True,True,False,...,False,False,False,False,False,False,False,False,False,False
7496,7496,https://m.media-amazon.com/images/I/81WAbf4-ao...,images/val/7496.jpeg,Cotton Culture,Women's Kesar Pink Cotton Straight Kurta,women_kurta,NaN,True,True,False,...,False,False,False,False,False,False,False,False,False,False
7497,7497,https://m.media-amazon.com/images/I/61unbmOA7k...,images/val/7497.jpeg,Bae's Wardrobe,Printed Rayon Anarkali Kurti with Plazzo Pant ...,women_kurta,NaN,False,True,False,...,False,False,False,False,False,False,False,False,False,False
7498,7498,https://m.media-amazon.com/images/I/71zULAnVNY...,images/val/7498.jpeg,Aarika,Girl's Regular Dress,women_kurta,NaN,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7499,7499,https://m.media-amazon.com/images/I/71mhB7xFHt...,images/val/7499.jpeg,Aurelia,Women's Straight Kurta,women_kurta,NaN,True,True,False,...,False,False,False,False,False,False,False,False,False,False

In [587]:
dfvr.other_label.nunique()

2