In [90]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [91]:
df_test = pd.read_json('/Users/butler/Documents/hp/Classification_of_Indian_clothing_images/data/raw/indian_clothing/test_data.json', lines=True)

In [92]:
df_test.head()

,image_url,image_path,brand,product_title,class_label,color
0,https://m.media-amazon.com/images/I/71NZQ-aaAS...,images/test/0.jpeg,TANTUJA BENGAL HANDLOOM,(A Govt. of West Bengal Enterprises) Handloom ...,saree,NaN
1,https://m.media-amazon.com/images/I/81aQmbWsG7...,images/test/1.jpeg,Trilok Fab,Women's Silk Saree With Blouse Piece,saree,NaN
2,https://m.media-amazon.com/images/I/71YjGvzs9y...,images/test/2.jpeg,Nine Sister,Women's Georgette Net Embroidered Saree with B...,saree,NaN
3,https://m.media-amazon.com/images/I/81JYhYV5Xr...,images/test/3.jpeg,Gauri Laxmi Enterprise,Women's Crepe Saree with Blouse (GLE$CHICKOO C...,saree,NaN
4,https://m.media-amazon.com/images/I/91fXc5i5Dy...,images/test/4.jpeg,SOURBH,Women's Cotton Blend Digital Butta Printed Sar...,saree,NaN

In [93]:
df_test.loc[700]

image_url        https://m.media-amazon.com/images/I/81EClLb8jn...
image_path                                    images/test/700.jpeg
brand                                             STUDIO Shringaar
product_title    Pure Cotton Blue Jaipuri Block Printed Womenâ€™s...
class_label                                                 blouse
color                                                          NaN
Name: 700, dtype: object

In [94]:
df_test.loc[600]

image_url        https://m.media-amazon.com/images/I/810UZaeQyt...
image_path                                    images/test/600.jpeg
brand                                                        Cbros
product_title    Chandana Brothers Kakinada Readymade Blouse wi...
class_label                                                 blouse
color                                                          NaN
Name: 600, dtype: object

In [95]:
df_test.loc[1000]

image_url        https://rukminim1.flixcart.com/image/309/371/j...
image_path                                   images/test/1000.jpeg
brand                                                          N/A
product_title                          ARYA Welcro Solid Men Dhoti
class_label                                            dhoti_pants
color                                                          N/A
Name: 1000, dtype: object

In [96]:
df_test.loc[2000]

image_url        https://m.media-amazon.com/images/I/71ex9XIz4Y...
image_path                                   images/test/2000.jpeg
brand                                                   GOTI HOUSE
product_title    Women's Designer Semi stitched Heavy Cording S...
class_label                                                  gowns
color                                                          NaN
Name: 2000, dtype: object

In [97]:
df_test.loc[3000]

image_url        https://m.media-amazon.com/images/I/41XQnAp0Ss...
image_path                                   images/test/3000.jpeg
brand                                                        Devil
product_title    Women's Lycra Fit Palazzo (BJIPBLKP, Black, Fr...
class_label                                   leggings_and_salwars
color                                                          NaN
Name: 3000, dtype: object

In [98]:
df_test.loc[4000]

image_url        https://m.media-amazon.com/images/I/51jQHoSBqU...
image_path                                   images/test/4000.jpeg
brand                                                         Unik
product_title    Royal Style Leather Juttis/Mojaris for Men - B...
class_label                                            mojaris_men
color                                                          NaN
Name: 4000, dtype: object

In [99]:
df_test.loc[5000]

image_url        https://m.media-amazon.com/images/I/41KryQ1Y0U...
image_path                                   images/test/5000.jpeg
brand                                                       hangup
product_title    mens Nehru Jacket size 40 (Linen_Basket2_DARK_...
class_label                                          nehru_jackets
color                                                          NaN
Name: 5000, dtype: object

In [100]:
df_test.loc[6000]

image_url        https://m.media-amazon.com/images/I/41q5JbIao9...
image_path                                   images/test/6000.jpeg
brand                                         Shree Charbuja Sales
product_title           Women's Cotton Petticoat (Brown_Free Size)
class_label                                             petticoats
color                                                          NaN
Name: 6000, dtype: object

In [101]:
df_test.loc[7000]

image_url        https://m.media-amazon.com/images/I/71cFqff2CY...
image_path                                   images/test/7000.jpeg
brand                                                  global desi
product_title                           Women's Rayon a-line Kurta
class_label                                            women_kurta
color                                                          NaN
Name: 7000, dtype: object

In [102]:
df_test.loc[1100]

image_url        https://rukminim1.flixcart.com/image/309/371/j...
image_path                                   images/test/1100.jpeg
brand                                                          N/A
product_title                      Prakasam Cotton Solid Men Dhoti
class_label                                            dhoti_pants
color                                                          N/A
Name: 1100, dtype: object

In [103]:
df_test.loc[1050]

image_url        https://m.media-amazon.com/images/I/51jq6XPmES...
image_path                                   images/test/1050.jpeg
brand                                                    Glampunch
product_title    Women's Exclusive Multicolor Stripes Top for W...
class_label                                            dhoti_pants
color                                                          NaN
Name: 1050, dtype: object

In [104]:
#val dhoti 1383 not correct

In [105]:
df_val = pd.read_json('/Users/butler/Documents/hp/Classification_of_Indian_clothing_images/data/raw/indian_clothing/val_data.json', lines=True)

In [106]:
df_val.head()

,image_url,image_path,brand,product_title,class_label,color
0,https://m.media-amazon.com/images/I/81LOPbFPiQ...,images/val/0.jpeg,Generic,Women's Khadi Cotton Saree With Blouse Piece (...,saree,NaN
1,https://m.media-amazon.com/images/I/81Q8Oktw4s...,images/val/1.jpeg,Yashvi Designer,Women's Net Saree With Unstitched Blouse Piece,saree,NaN
2,https://m.media-amazon.com/images/I/613S1YGCmo...,images/val/2.jpeg,Aarrah,Georgette Strip Print Saree[S_SHIKHA30021SR02_...,saree,NaN
3,https://m.media-amazon.com/images/I/819budhQl1...,images/val/3.jpeg,MIMOSA,Women's Patola Style Art Silk Saree (Green),saree,NaN
4,https://m.media-amazon.com/images/I/61cAZ94ZQV...,images/val/4.jpeg,Generic,Women's Pure Hand Block Patola Printed Cotton ...,saree,NaN

In [107]:
df_val_revised = df_val.copy()

In [108]:
df_val_revised.loc[1383]

image_url        https://m.media-amazon.com/images/I/616Z5o3thO...
image_path                                    images/val/1383.jpeg
brand                                                    Glampunch
product_title    Women's Exclusive Yellow Cold Shoulder Top for...
class_label                                            dhoti_pants
color                                                          NaN
Name: 1383, dtype: object

In [157]:
df_val_revised.iloc[1383,3]

"Women's Exclusive Yellow Cold Shoulder Top forr Women"

In [109]:
df_val_revised.loc[1382:1385]

,image_url,image_path,brand,product_title,class_label,color
1382,https://m.media-amazon.com/images/I/61o8SCDWVp...,images/val/1382.jpeg,Idalia,Women's Cotton Slub Kurta With Palazzo,dhoti_pants,NaN
1383,https://m.media-amazon.com/images/I/616Z5o3thO...,images/val/1383.jpeg,Glampunch,Women's Exclusive Yellow Cold Shoulder Top for...,dhoti_pants,NaN
1384,"https://assets.myntassets.com/h_720,q_90,w_540...",images/val/1384.jpeg,DEYANN,DEVYAAN Men Brown &amp; Black Printed Dhoti,dhoti_pants,NaN
1385,https://m.media-amazon.com/images/I/61N+mjYrXP...,images/val/1385.jpeg,Buy That Trendz,Women's Cotton Viscose Lycra Dhoti Patiyala Sa...,dhoti_pants,NaN

In [110]:
df_kurta = df_val_revised.applymap(lambda x: 'kurta' in str(x).lower())

In [111]:
len(kurta)

7499

In [112]:
df_kurta = df_kurta[df_kurta.product_title == True]

In [113]:
len(df_kurta)

1066

In [114]:
df_kurta.head()

      image_url  image_path  brand  product_title  class_label  color
1011      False       False  False           True        False  False
1013      False       False  False           True        False  False
1015      False       False  False           True        False  False
1019      False       False  False           True        False  False
1026      False       False  False           True        False  False

In [115]:
df_kurta_title = df_kurta[df_kurta.class_label == False]

In [116]:
len(df_kurta_title)

221

In [117]:
# Setting df_dhoti_pants to df_val_revised with boolean value if 'dhoti' in column
df_dhoti_pants = df_val_revised.applymap(lambda x: 'dhoti' in str(x).lower())

In [135]:
df_dhoti_pants = df_dhoti_pants[df_dhoti_pants.product_title == True]

In [136]:
df_dhoti_pants.head()

      image_url  image_path  brand  product_title  class_label  color
1517      False       False  False           True        False  False
2570      False       False  False           True        False  False
2674      False       False  False           True        False  False
2789      False       False  False           True        False  False
2911       True       False  False           True        False  False

In [137]:
# Getting a df where 'dhoti' in a column but not in the class_label
df_dhoti_pants = df_dhoti_pants[df_dhoti_pants.class_label == False]

In [138]:
len(df_dhoti_pants)

36

In [139]:
# Setting dhoti_pants df to df_val where class_label = dhoti_pants
dhoti_pants = df_val[df_val.class_label == 'dhoti_pants']

In [140]:
# Getting index for when class_label = dhoti_pants
dhoti_pants = dhoti_pants.index

In [141]:
len(dhoti_pants)

500

In [142]:
# Getting indices for rows that have 'dhoti' in product_title but not 'dhoti_pants' in class_label
dhoti = df_dhoti_pants.index

In [143]:
len(dhoti)

36

In [144]:
dhoti = list(dhoti)

In [145]:
dhoti_pants = list(dhoti_pants)

In [149]:
dhoti_diff = [x for x in dhoti if x not in dhoti_pants]

In [152]:
len(dhoti_diff)

36

In [154]:
diff = df_val.loc[dhoti_diff]

In [155]:
diff.head()

,image_url,image_path,brand,product_title,class_label,color
1517,https://m.media-amazon.com/images/I/71v5LqTrGW...,images/val/1517.jpeg,Janasya,Women's Pink Rayon Straight Short Kurta With D...,dupattas,NaN
2570,"https://assets.myntassets.com/h_720,q_90,w_540...",images/val/2570.jpeg,VASTRAMAY,Men White Solid Dhoti Pant,kurta_men,NaN
2674,"https://assets.myntassets.com/h_720,q_90,w_540...",images/val/2674.jpeg,DEYANN PLUS,Men Maroon &amp; Blue Solid Kurta with Dhoti P...,kurta_men,NaN
2789,https://m.media-amazon.com/images/I/31ynd79j0U...,images/val/2789.jpeg,Modern Garments,Men Brown Dupioni Silk Kurta & Beige Dhoti,kurta_men,NaN
2911,"https://assets.myntassets.com/h_720,q_90,w_540...",images/val/2911.jpeg,SOJANYA,Men White Chikankari Embroidered Kurta with Dh...,kurta_men,NaN

In [156]:
diff.shape

(36, 6)

In [173]:
df_dhoti_diff = df_val.drop(labels=dhoti_diff)

In [174]:
len(df_dhoti_diff)

7464

In [133]:
df_dhoti_diff.head()

,image_url,image_path,brand,product_title,class_label,color
0,https://m.media-amazon.com/images/I/81LOPbFPiQ...,images/val/0.jpeg,Generic,Women's Khadi Cotton Saree With Blouse Piece (...,saree,NaN
1,https://m.media-amazon.com/images/I/81Q8Oktw4s...,images/val/1.jpeg,Yashvi Designer,Women's Net Saree With Unstitched Blouse Piece,saree,NaN
2,https://m.media-amazon.com/images/I/613S1YGCmo...,images/val/2.jpeg,Aarrah,Georgette Strip Print Saree[S_SHIKHA30021SR02_...,saree,NaN
3,https://m.media-amazon.com/images/I/819budhQl1...,images/val/3.jpeg,MIMOSA,Women's Patola Style Art Silk Saree (Green),saree,NaN
4,https://m.media-amazon.com/images/I/61cAZ94ZQV...,images/val/4.jpeg,Generic,Women's Pure Hand Block Patola Printed Cotton ...,saree,NaN

In [167]:
# Setting df_non_dhoti to df_val_revised with boolean value if 'dhoti' is not in any column
df_non_dhoti = df_val.applymap(lambda x: 'dhoti' not in str(x).lower())

In [171]:
df_non_dhoti = df_non_dhoti[df_non_dhoti.class_label == 'dhoti_pants' ]

In [172]:
len(df_non_dhoti)

0

In [178]:
# Setting df_kurta to df_val with boolean value if 'kurta' in column
df_kurta = df_val.applymap(lambda x: 'kurta' in str(x).lower())

In [179]:
df_kurta = df_kurta[df_kurta.product_title == True]

In [180]:
df_kurta.head()

      image_url  image_path  brand  product_title  class_label  color
1011      False       False  False           True        False  False
1013      False       False  False           True        False  False
1015      False       False  False           True        False  False
1019      False       False  False           True        False  False
1026      False       False  False           True        False  False

In [181]:
# Getting a df where 'dhoti' in a column but not in the class_label
df_kurta = df_kurta[df_kurta.class_label == False]

In [182]:
len(df_kurta)

221

In [183]:
# Setting dhoti_pants df to df_val where class_label = dhoti_pants
kurta = df_val[df_val.class_label == 'kurta']

In [185]:
# Getting index for when class_label = dhoti_pants
kurta = kurta.index

In [186]:
len(kurta)

0

In [187]:
# Getting indices for rows that have 'dhoti' in product_title but not 'dhoti_pants' in class_label
kurta_t = df_kurta.index

In [188]:
len(kurta_t)

221

In [144]:
dhoti = list(dhoti)

In [145]:
dhoti_pants = list(dhoti_pants)

In [190]:
kurta_diff = [x for x in kurta_t if x not in kurta]

In [191]:
len(kurta_diff)

221

In [192]:
diff = df_val.loc[kurta_diff]

In [193]:
diff.head()

,image_url,image_path,brand,product_title,class_label,color
1011,https://m.media-amazon.com/images/I/81gj360K59...,images/val/1011.jpeg,TRENDS WOW,Rayon Multi Color Printed Jacket Style Kurta f...,dhoti_pants,NaN
1013,https://m.media-amazon.com/images/I/61GA6b9scm...,images/val/1013.jpeg,Larwa,Men's Embroidery Kurta & Salwar Dhoti Set Spec...,dhoti_pants,NaN
1015,https://m.media-amazon.com/images/I/71GRlpcRpv...,images/val/1015.jpeg,W for Woman,Women's Regular Kurta,dhoti_pants,NaN
1019,https://m.media-amazon.com/images/I/71u-qfsPLE...,images/val/1019.jpeg,Idalia,Women's Rama Green And Navy Blue Cotton Kurta Set,dhoti_pants,NaN
1026,https://m.media-amazon.com/images/I/91zuCwMIgb...,images/val/1026.jpeg,THE VASTRA,Rayon Green Printed Hand Work Kurta Palazzo an...,dhoti_pants,NaN

In [196]:
diff.shape

(221, 6)

In [197]:
df_diff = df_val.drop(labels=diff)

KeyError: "['image_url', 'image_path', 'brand', 'product_title', 'class_label', 'color'] not found in axis"

In [174]:
len(df_diff)

7464

In [133]:
df_dhoti_diff.head()

,image_url,image_path,brand,product_title,class_label,color
0,https://m.media-amazon.com/images/I/81LOPbFPiQ...,images/val/0.jpeg,Generic,Women's Khadi Cotton Saree With Blouse Piece (...,saree,NaN
1,https://m.media-amazon.com/images/I/81Q8Oktw4s...,images/val/1.jpeg,Yashvi Designer,Women's Net Saree With Unstitched Blouse Piece,saree,NaN
2,https://m.media-amazon.com/images/I/613S1YGCmo...,images/val/2.jpeg,Aarrah,Georgette Strip Print Saree[S_SHIKHA30021SR02_...,saree,NaN
3,https://m.media-amazon.com/images/I/819budhQl1...,images/val/3.jpeg,MIMOSA,Women's Patola Style Art Silk Saree (Green),saree,NaN
4,https://m.media-amazon.com/images/I/61cAZ94ZQV...,images/val/4.jpeg,Generic,Women's Pure Hand Block Patola Printed Cotton ...,saree,NaN

In [167]:
# Setting df_non_dhoti to df_val_revised with boolean value if 'dhoti' is not in any column
df_non_dhoti = df_val.applymap(lambda x: 'dhoti' not in str(x).lower())

In [171]:
df_non_dhoti = df_non_dhoti[df_non_dhoti.class_label == 'dhoti_pants' ]

In [172]:
len(df_non_dhoti)

0

In [164]:
non_dhoti = df_non_dhoti.index

In [165]:
non_dhoti_diff = [x for x in dhoti_pants if x not in non_dhoti]

In [166]:
len(non_dhoti_diff)

0

In [ ]:
df_val_revised = df_val_revised.drop([1383])