In [284]:
import pandas as pd
import numpy as np
import re
import seaborn as sns
import matplotlib.pyplot as plt

In [285]:
df = pd.read_json('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/raw/val_data.json', lines=True)

In [286]:
df.head()

,image_url,image_path,brand,product_title,class_label,color
0,https://m.media-amazon.com/images/I/81LOPbFPiQ...,images/val/0.jpeg,Generic,Women's Khadi Cotton Saree With Blouse Piece (...,saree,NaN
1,https://m.media-amazon.com/images/I/81Q8Oktw4s...,images/val/1.jpeg,Yashvi Designer,Women's Net Saree With Unstitched Blouse Piece,saree,NaN
2,https://m.media-amazon.com/images/I/613S1YGCmo...,images/val/2.jpeg,Aarrah,Georgette Strip Print Saree[S_SHIKHA30021SR02_...,saree,NaN
3,https://m.media-amazon.com/images/I/819budhQl1...,images/val/3.jpeg,MIMOSA,Women's Patola Style Art Silk Saree (Green),saree,NaN
4,https://m.media-amazon.com/images/I/61cAZ94ZQV...,images/val/4.jpeg,Generic,Women's Pure Hand Block Patola Printed Cotton ...,saree,NaN

In [287]:
df.tail()

,image_url,image_path,brand,product_title,class_label,color
7495,https://m.media-amazon.com/images/I/614GvuaIJu...,images/val/7495.jpeg,ishin,Women's Rayon Pink Printed A-Line Kurta Palazz...,women_kurta,NaN
7496,https://m.media-amazon.com/images/I/81WAbf4-ao...,images/val/7496.jpeg,Cotton Culture,Women's Kesar Pink Cotton Straight Kurta,women_kurta,NaN
7497,https://m.media-amazon.com/images/I/61unbmOA7k...,images/val/7497.jpeg,Bae's Wardrobe,Printed Rayon Anarkali Kurti with Plazzo Pant ...,women_kurta,NaN
7498,https://m.media-amazon.com/images/I/71zULAnVNY...,images/val/7498.jpeg,Aarika,Girl's Regular Dress,women_kurta,NaN
7499,https://m.media-amazon.com/images/I/71mhB7xFHt...,images/val/7499.jpeg,Aurelia,Women's Straight Kurta,women_kurta,NaN

In [288]:
df.shape

(7500, 6)

In [289]:
df.class_label.unique()

array(['saree', 'blouse', 'dhoti_pants', 'dupattas', 'gowns', 'kurta_men',
       'leggings_and_salwars', 'lehenga', 'mojaris_men', 'mojaris_women',
       'nehru_jackets', 'palazzos', 'petticoats', 'sherwanis',
       'women_kurta'], dtype=object)

In [290]:
df_revised = df.copy()

In [291]:
df_revised.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7500 entries, 0 to 7499
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   image_url      7500 non-null   object
 1   image_path     7500 non-null   object
 2   brand          7500 non-null   object
 3   product_title  7500 non-null   object
 4   class_label    7500 non-null   object
 5   color          947 non-null    object
dtypes: object(6)
memory usage: 351.7+ KB

In [292]:
df_revised = df_revised.reset_index(names='number')

In [293]:
df_revised.tail()

,number,image_url,image_path,brand,product_title,class_label,color
7495,7495,https://m.media-amazon.com/images/I/614GvuaIJu...,images/val/7495.jpeg,ishin,Women's Rayon Pink Printed A-Line Kurta Palazz...,women_kurta,NaN
7496,7496,https://m.media-amazon.com/images/I/81WAbf4-ao...,images/val/7496.jpeg,Cotton Culture,Women's Kesar Pink Cotton Straight Kurta,women_kurta,NaN
7497,7497,https://m.media-amazon.com/images/I/61unbmOA7k...,images/val/7497.jpeg,Bae's Wardrobe,Printed Rayon Anarkali Kurti with Plazzo Pant ...,women_kurta,NaN
7498,7498,https://m.media-amazon.com/images/I/71zULAnVNY...,images/val/7498.jpeg,Aarika,Girl's Regular Dress,women_kurta,NaN
7499,7499,https://m.media-amazon.com/images/I/71mhB7xFHt...,images/val/7499.jpeg,Aurelia,Women's Straight Kurta,women_kurta,NaN

In [294]:
df_revised.tail()

,number,image_url,image_path,brand,product_title,class_label,color
7495,7495,https://m.media-amazon.com/images/I/614GvuaIJu...,images/val/7495.jpeg,ishin,Women's Rayon Pink Printed A-Line Kurta Palazz...,women_kurta,NaN
7496,7496,https://m.media-amazon.com/images/I/81WAbf4-ao...,images/val/7496.jpeg,Cotton Culture,Women's Kesar Pink Cotton Straight Kurta,women_kurta,NaN
7497,7497,https://m.media-amazon.com/images/I/61unbmOA7k...,images/val/7497.jpeg,Bae's Wardrobe,Printed Rayon Anarkali Kurti with Plazzo Pant ...,women_kurta,NaN
7498,7498,https://m.media-amazon.com/images/I/71zULAnVNY...,images/val/7498.jpeg,Aarika,Girl's Regular Dress,women_kurta,NaN
7499,7499,https://m.media-amazon.com/images/I/71mhB7xFHt...,images/val/7499.jpeg,Aurelia,Women's Straight Kurta,women_kurta,NaN

In [295]:
columns = ['kurta', 'women', 'men', 'dhoti', 'saree', 'sherwani', 'palazzo', 
           'mojari', 'nehru', 'legging', 'salwar', 'petticoat', 'blouse', 
           'dupatta', 'gown','lehenga']

In [296]:
for column in columns:
    df_revised[str(column)] = df_revised.product_title.str.contains(str(column), flags=re.IGNORECASE)

In [297]:
df_revised.head()

,number,image_url,image_path,brand,product_title,class_label,color,kurta,women,men,...,palazzo,mojari,nehru,legging,salwar,petticoat,blouse,dupatta,gown,lehenga
0,0,https://m.media-amazon.com/images/I/81LOPbFPiQ...,images/val/0.jpeg,Generic,Women's Khadi Cotton Saree With Blouse Piece (...,saree,NaN,False,True,True,...,False,False,False,False,False,False,True,False,False,False
1,1,https://m.media-amazon.com/images/I/81Q8Oktw4s...,images/val/1.jpeg,Yashvi Designer,Women's Net Saree With Unstitched Blouse Piece,saree,NaN,False,True,True,...,False,False,False,False,False,False,True,False,False,False
2,2,https://m.media-amazon.com/images/I/613S1YGCmo...,images/val/2.jpeg,Aarrah,Georgette Strip Print Saree[S_SHIKHA30021SR02_...,saree,NaN,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,3,https://m.media-amazon.com/images/I/819budhQl1...,images/val/3.jpeg,MIMOSA,Women's Patola Style Art Silk Saree (Green),saree,NaN,False,True,True,...,False,False,False,False,False,False,False,False,False,False
4,4,https://m.media-amazon.com/images/I/61cAZ94ZQV...,images/val/4.jpeg,Generic,Women's Pure Hand Block Patola Printed Cotton ...,saree,NaN,False,True,True,...,False,False,False,False,False,False,True,False,False,False

In [298]:
df_revised_men = df_revised[df_revised.men == True]
df_revised.shape

(5502, 23)

In [299]:
df_revised_men.loc[0]

number                                                           0
image_url        https://m.media-amazon.com/images/I/81LOPbFPiQ...
image_path                                       images/val/0.jpeg
brand                                                      Generic
product_title    Women's Khadi Cotton Saree With Blouse Piece (...
class_label                                                  saree
color                                                          NaN
kurta                                                        False
women                                                         True
men                                                           True
dhoti                                                        False
saree                                                         True
sherwani                                                     False
palazzo                                                      False
mojari                                                       False
nehru                                                        False
legging                                                      False
salwar                                                       False
petticoat                                                    False
blouse                                                        True
dupatta                                                      False
gown                                                         False
lehenga                                                      False
Name: 0, dtype: object

In [300]:
df_revised.columns

Index(['number', 'image_url', 'image_path', 'brand', 'product_title',
       'class_label', 'color', 'kurta', 'women', 'men', 'dhoti', 'saree',
       'sherwani', 'palazzo', 'mojari', 'nehru', 'legging', 'salwar',
       'petticoat', 'blouse', 'dupatta', 'gown', 'lehenga'],
      dtype='object')

In [301]:
c1 = (df_revised['men'] == True) 
c2 = (df_revised['women'] == True)


df_revised.loc[c1 & c2, 'men'] = False

In [302]:
df_revised_men = df_revised[dfr.men == True]

In [303]:
df_revised_men.shape

(1594, 23)

In [304]:
df_revised_men.head()

,number,image_url,image_path,brand,product_title,class_label,color,kurta,women,men,...,palazzo,mojari,nehru,legging,salwar,petticoat,blouse,dupatta,gown,lehenga
1002,1002,"https://assets.myntassets.com/h_720,q_90,w_540...",images/val/1002.jpeg,VASTRAMAY,Men Black Solid Dhoti,dhoti_pants,NaN,False,False,True,...,False,False,False,False,False,False,False,False,False,False
1013,1013,https://m.media-amazon.com/images/I/61GA6b9scm...,images/val/1013.jpeg,Larwa,Men's Embroidery Kurta & Salwar Dhoti Set Spec...,dhoti_pants,NaN,True,False,True,...,False,False,False,False,True,False,False,False,False,False
1016,1016,"https://assets.myntassets.com/h_720,q_90,w_540...",images/val/1016.jpeg,Nakshi,Men Black &amp; Gold-coloured Hand Block Print...,dhoti_pants,NaN,False,False,True,...,False,False,False,False,False,False,False,False,False,False
1021,1021,https://rukminim1.flixcart.com/image/309/371/k...,images/val/1021.jpeg,N/A,GREEN TEE Solid Men Dhoti,dhoti_pants,N/A,False,False,True,...,False,False,False,False,False,False,False,False,False,False
1023,1023,https://rukminim1.flixcart.com/image/309/371/j...,images/val/1023.jpeg,N/A,GREEN TEE Solid Men Dhoti,dhoti_pants,N/A,False,False,True,...,False,False,False,False,False,False,False,False,False,False

In [305]:
df_revised.iloc[2,4]

'Georgette Strip Print Saree[S_SHIKHA30021SR02_perent_Red & Yellow]'

In [306]:
df_revised.iloc[1,4]

"Women's Net Saree With Unstitched Blouse Piece"

In [307]:
df_revised.loc[1000]

number                                                        1000
image_url        https://rukminim1.flixcart.com/image/309/371/k...
image_path                                    images/val/1000.jpeg
brand                                                          N/A
product_title    MK Fashion Hub Red Rayon Fabric Floral Print W...
class_label                                            dhoti_pants
color                                                          N/A
kurta                                                        False
women                                                         True
men                                                          False
dhoti                                                         True
saree                                                        False
sherwani                                                     False
palazzo                                                      False
mojari                                                       False
nehru                                                        False
legging                                                      False
salwar                                                       False
petticoat                                                    False
blouse                                                       False
dupatta                                                      False
gown                                                         False
lehenga                                                      False
Name: 1000, dtype: object

In [308]:
df_revised.iloc[1000,4]

'MK Fashion Hub Red Rayon Fabric Floral Print Women Dhoti'

In [309]:
df_revised['women_kurta'] = [False]* 7500

In [310]:
df_revised['kurta_men'] = [False]* 7500

In [311]:
df_revised.head()

,number,image_url,image_path,brand,product_title,class_label,color,kurta,women,men,...,nehru,legging,salwar,petticoat,blouse,dupatta,gown,lehenga,women_kurta,kurta_men
0,0,https://m.media-amazon.com/images/I/81LOPbFPiQ...,images/val/0.jpeg,Generic,Women's Khadi Cotton Saree With Blouse Piece (...,saree,NaN,False,True,False,...,False,False,False,False,True,False,False,False,False,False
1,1,https://m.media-amazon.com/images/I/81Q8Oktw4s...,images/val/1.jpeg,Yashvi Designer,Women's Net Saree With Unstitched Blouse Piece,saree,NaN,False,True,False,...,False,False,False,False,True,False,False,False,False,False
2,2,https://m.media-amazon.com/images/I/613S1YGCmo...,images/val/2.jpeg,Aarrah,Georgette Strip Print Saree[S_SHIKHA30021SR02_...,saree,NaN,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,3,https://m.media-amazon.com/images/I/819budhQl1...,images/val/3.jpeg,MIMOSA,Women's Patola Style Art Silk Saree (Green),saree,NaN,False,True,False,...,False,False,False,False,False,False,False,False,False,False
4,4,https://m.media-amazon.com/images/I/61cAZ94ZQV...,images/val/4.jpeg,Generic,Women's Pure Hand Block Patola Printed Cotton ...,saree,NaN,False,True,False,...,False,False,False,False,True,False,False,False,False,False

In [312]:
c1 = (df_revised['kurta'] == True) 
c2 = (df_revised['women'] == True)


df_revised.loc[c1 & c2, 'women_kurta'] = True

In [313]:
df = df_revised[df_revised.women_kurta == True]

In [314]:
df.shape

(500, 25)

In [315]:
c1 = (df_revised['kurta'] == True) 
c2 = (df_revised['men'] == True)


dfr.loc[c1 & c2, 'kurta_men'] = True

In [316]:
df_revised['mojaris_men'] = [False]*7500
df_revised['mojaris_women'] = [False]*7500
df_revised['leggings_and_salwars'] = [False]*7500

In [317]:
c1 = (df_revised['mojari'] == True) 
c2 = (df_revised['women'] == True)


dfr.loc[c1 & c2, 'mojaris_women'] = True

In [318]:
c1 = (df_revised['mojari'] == True) 
c2 = (df_revised['men'] == True)


df_revised.loc[c1 & c2, 'mojaris_men'] = True

In [319]:
c1 = (df_revised['legging'] == True) 
c2 = (df_revised['salwar'] == True)


df_revised.loc[c1 | c2, 'leggings_and_salwars'] = True

In [320]:
df_revised.leggings_and_salwars.nunique()

2

In [321]:
df_revised.drop(['men', 'women', 'legging','salwar','mojari'], axis=1, inplace=True)

In [322]:
df_revised.head()

,number,image_url,image_path,brand,product_title,class_label,color,kurta,dhoti,saree,...,petticoat,blouse,dupatta,gown,lehenga,women_kurta,kurta_men,mojaris_men,mojaris_women,leggings_and_salwars
0,0,https://m.media-amazon.com/images/I/81LOPbFPiQ...,images/val/0.jpeg,Generic,Women's Khadi Cotton Saree With Blouse Piece (...,saree,NaN,False,False,True,...,False,True,False,False,False,False,False,False,False,False
1,1,https://m.media-amazon.com/images/I/81Q8Oktw4s...,images/val/1.jpeg,Yashvi Designer,Women's Net Saree With Unstitched Blouse Piece,saree,NaN,False,False,True,...,False,True,False,False,False,False,False,False,False,False
2,2,https://m.media-amazon.com/images/I/613S1YGCmo...,images/val/2.jpeg,Aarrah,Georgette Strip Print Saree[S_SHIKHA30021SR02_...,saree,NaN,False,False,True,...,False,False,False,False,False,False,False,False,False,False
3,3,https://m.media-amazon.com/images/I/819budhQl1...,images/val/3.jpeg,MIMOSA,Women's Patola Style Art Silk Saree (Green),saree,NaN,False,False,True,...,False,False,False,False,False,False,False,False,False,False
4,4,https://m.media-amazon.com/images/I/61cAZ94ZQV...,images/val/4.jpeg,Generic,Women's Pure Hand Block Patola Printed Cotton ...,saree,NaN,False,False,True,...,False,True,False,False,False,False,False,False,False,False

In [323]:
c1 = (df_revised['class_label'] == 'saree') 
c2 = (df_revised['blouse'] == True)


df_revised.loc[c1 & c2, 'blouse'] = False

In [324]:
df_revised.head()

,number,image_url,image_path,brand,product_title,class_label,color,kurta,dhoti,saree,...,petticoat,blouse,dupatta,gown,lehenga,women_kurta,kurta_men,mojaris_men,mojaris_women,leggings_and_salwars
0,0,https://m.media-amazon.com/images/I/81LOPbFPiQ...,images/val/0.jpeg,Generic,Women's Khadi Cotton Saree With Blouse Piece (...,saree,NaN,False,False,True,...,False,False,False,False,False,False,False,False,False,False
1,1,https://m.media-amazon.com/images/I/81Q8Oktw4s...,images/val/1.jpeg,Yashvi Designer,Women's Net Saree With Unstitched Blouse Piece,saree,NaN,False,False,True,...,False,False,False,False,False,False,False,False,False,False
2,2,https://m.media-amazon.com/images/I/613S1YGCmo...,images/val/2.jpeg,Aarrah,Georgette Strip Print Saree[S_SHIKHA30021SR02_...,saree,NaN,False,False,True,...,False,False,False,False,False,False,False,False,False,False
3,3,https://m.media-amazon.com/images/I/819budhQl1...,images/val/3.jpeg,MIMOSA,Women's Patola Style Art Silk Saree (Green),saree,NaN,False,False,True,...,False,False,False,False,False,False,False,False,False,False
4,4,https://m.media-amazon.com/images/I/61cAZ94ZQV...,images/val/4.jpeg,Generic,Women's Pure Hand Block Patola Printed Cotton ...,saree,NaN,False,False,True,...,False,False,False,False,False,False,False,False,False,False

In [325]:
df_revised.loc[1]

number                                                                  1
image_url               https://m.media-amazon.com/images/I/81Q8Oktw4s...
image_path                                              images/val/1.jpeg
brand                                                     Yashvi Designer
product_title              Women's Net Saree With Unstitched Blouse Piece
class_label                                                         saree
color                                                                 NaN
kurta                                                               False
dhoti                                                               False
saree                                                                True
sherwani                                                            False
palazzo                                                             False
nehru                                                               False
petticoat                                                           False
blouse                                                              False
dupatta                                                             False
gown                                                                False
lehenga                                                             False
women_kurta                                                         False
kurta_men                                                           False
mojaris_men                                                         False
mojaris_women                                                       False
leggings_and_salwars                                                False
Name: 1, dtype: object

In [326]:
df_kurta = df_revised[dfr.kurta == True]

In [327]:
df_kurta1 = df_revised[dfk.kurta_men == False]

In [328]:
df_kurta2 = df_kurta1[df_kurta1.women_kurta == False]

In [329]:
df_kurta2.shape

(66, 23)

In [330]:
df_kurta2_men = df_kurta2[df_kurta2.class_label == 'kurta_men']

In [331]:
df_kurta2_women = df_kurta2[df_kurta2.class_label == 'women_kurta']

In [332]:
df_kurta2_none = df_kurta2[df_kurta2.class_label != 'kurta_men']

In [333]:
df_kurta2_none = df_kurta2_none[df_kurta2.class_label != 'women_kurta']

/var/folders/nv/lggm200n09vgfy5n8_6lcz6c0000gn/T/ipykernel_5323/1037558784.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dfk2n = dfk2n[dfk2.class_label != 'women_kurta']

In [334]:
df_kurta2_none.head()

,number,image_url,image_path,brand,product_title,class_label,color,kurta,dhoti,saree,...,petticoat,blouse,dupatta,gown,lehenga,women_kurta,kurta_men,mojaris_men,mojaris_women,leggings_and_salwars
1058,1058,https://m.media-amazon.com/images/I/71GkvrScZ9...,images/val/1058.jpeg,BHARATASYA,Brown Block Printed Cotton Slub Short Kurta,dhoti_pants,NaN,True,False,False,...,False,False,False,False,False,False,False,False,False,False
1437,1437,https://m.media-amazon.com/images/I/61OzzjttQr...,images/val/1437.jpeg,Generic,Taani Creations Kurta Dhoti Set Red,dhoti_pants,NaN,True,True,False,...,False,False,False,False,False,False,False,False,False,False
1539,1539,https://m.media-amazon.com/images/I/51p1lMGseG...,images/val/1539.jpeg,KSUT,Black Yoke and Cuff Embroidered Straight Kurta...,dupattas,NaN,True,False,False,...,False,False,False,False,False,False,False,False,False,False
1814,1814,https://m.media-amazon.com/images/I/71EmdSjsNo...,images/val/1814.jpeg,Divyank,Straight Kurta Pant Dupatta Set with Details K...,dupattas,NaN,True,False,False,...,False,False,True,False,False,False,False,False,False,False
1951,1951,https://m.media-amazon.com/images/I/51PhpNj1a9...,images/val/1951.jpeg,Stylum,Solid Rayon Straight Kurta Pant & Dupatta Set,dupattas,NaN,True,False,False,...,False,False,True,False,False,False,False,False,False,False

In [335]:
df_kurta2_none.shape

(19, 23)

In [336]:
df_revised.iloc[6948, 4]

'Tamer Brown Printed Dupion Silk Bandi with White Printed Silkmul Kurta and Churidar'

In [337]:
df_revised.columns

Index(['number', 'image_url', 'image_path', 'brand', 'product_title',
       'class_label', 'color', 'kurta', 'dhoti', 'saree', 'sherwani',
       'palazzo', 'nehru', 'petticoat', 'blouse', 'dupatta', 'gown', 'lehenga',
       'women_kurta', 'kurta_men', 'mojaris_men', 'mojaris_women',
       'leggings_and_salwars'],
      dtype='object')

In [338]:
df_revised.head()

,number,image_url,image_path,brand,product_title,class_label,color,kurta,dhoti,saree,...,petticoat,blouse,dupatta,gown,lehenga,women_kurta,kurta_men,mojaris_men,mojaris_women,leggings_and_salwars
0,0,https://m.media-amazon.com/images/I/81LOPbFPiQ...,images/val/0.jpeg,Generic,Women's Khadi Cotton Saree With Blouse Piece (...,saree,NaN,False,False,True,...,False,False,False,False,False,False,False,False,False,False
1,1,https://m.media-amazon.com/images/I/81Q8Oktw4s...,images/val/1.jpeg,Yashvi Designer,Women's Net Saree With Unstitched Blouse Piece,saree,NaN,False,False,True,...,False,False,False,False,False,False,False,False,False,False
2,2,https://m.media-amazon.com/images/I/613S1YGCmo...,images/val/2.jpeg,Aarrah,Georgette Strip Print Saree[S_SHIKHA30021SR02_...,saree,NaN,False,False,True,...,False,False,False,False,False,False,False,False,False,False
3,3,https://m.media-amazon.com/images/I/819budhQl1...,images/val/3.jpeg,MIMOSA,Women's Patola Style Art Silk Saree (Green),saree,NaN,False,False,True,...,False,False,False,False,False,False,False,False,False,False
4,4,https://m.media-amazon.com/images/I/61cAZ94ZQV...,images/val/4.jpeg,Generic,Women's Pure Hand Block Patola Printed Cotton ...,saree,NaN,False,False,True,...,False,False,False,False,False,False,False,False,False,False

In [339]:
df_revised = df_revised.rename({'dhoti':'dhoti_pants', 'sherwani':'sherwanis', 'palazzo':'palazzos', 
             'nehru':'nehru_jackets', 'petticoat':'petticoats', 'dupatta':'dupattas', 
             'gown':'gowns'},axis=1)
df_revised.head()

,number,image_url,image_path,brand,product_title,class_label,color,kurta,dhoti_pants,saree,...,petticoats,blouse,dupattas,gowns,lehenga,women_kurta,kurta_men,mojaris_men,mojaris_women,leggings_and_salwars
0,0,https://m.media-amazon.com/images/I/81LOPbFPiQ...,images/val/0.jpeg,Generic,Women's Khadi Cotton Saree With Blouse Piece (...,saree,NaN,False,False,True,...,False,False,False,False,False,False,False,False,False,False
1,1,https://m.media-amazon.com/images/I/81Q8Oktw4s...,images/val/1.jpeg,Yashvi Designer,Women's Net Saree With Unstitched Blouse Piece,saree,NaN,False,False,True,...,False,False,False,False,False,False,False,False,False,False
2,2,https://m.media-amazon.com/images/I/613S1YGCmo...,images/val/2.jpeg,Aarrah,Georgette Strip Print Saree[S_SHIKHA30021SR02_...,saree,NaN,False,False,True,...,False,False,False,False,False,False,False,False,False,False
3,3,https://m.media-amazon.com/images/I/819budhQl1...,images/val/3.jpeg,MIMOSA,Women's Patola Style Art Silk Saree (Green),saree,NaN,False,False,True,...,False,False,False,False,False,False,False,False,False,False
4,4,https://m.media-amazon.com/images/I/61cAZ94ZQV...,images/val/4.jpeg,Generic,Women's Pure Hand Block Patola Printed Cotton ...,saree,NaN,False,False,True,...,False,False,False,False,False,False,False,False,False,False

In [340]:
columns = ['dhoti_pants', 'saree', 'sherwanis', 'palazzos', 'nehru_jackets', 'petticoats',
           'blouse','dupattas', 'gowns', 'lehenga', 'women_kurta', 'kurta_men', 
           'mojaris_men', 'mojaris_women', 'leggings_and_salwars']

def func(x):
    if x == True:
        return 1
    else:
        return 0
for column in columns:    
    df_revised[str(column)] = df_revised[str(column)].apply(lambda x: func(x))

In [342]:
df_revised.head()

,number,image_url,image_path,brand,product_title,class_label,color,kurta,dhoti_pants,saree,...,petticoats,blouse,dupattas,gowns,lehenga,women_kurta,kurta_men,mojaris_men,mojaris_women,leggings_and_salwars
0,0,https://m.media-amazon.com/images/I/81LOPbFPiQ...,images/val/0.jpeg,Generic,Women's Khadi Cotton Saree With Blouse Piece (...,saree,NaN,False,0,1,...,0,0,0,0,0,0,0,0,0,0
1,1,https://m.media-amazon.com/images/I/81Q8Oktw4s...,images/val/1.jpeg,Yashvi Designer,Women's Net Saree With Unstitched Blouse Piece,saree,NaN,False,0,1,...,0,0,0,0,0,0,0,0,0,0
2,2,https://m.media-amazon.com/images/I/613S1YGCmo...,images/val/2.jpeg,Aarrah,Georgette Strip Print Saree[S_SHIKHA30021SR02_...,saree,NaN,False,0,1,...,0,0,0,0,0,0,0,0,0,0
3,3,https://m.media-amazon.com/images/I/819budhQl1...,images/val/3.jpeg,MIMOSA,Women's Patola Style Art Silk Saree (Green),saree,NaN,False,0,1,...,0,0,0,0,0,0,0,0,0,0
4,4,https://m.media-amazon.com/images/I/61cAZ94ZQV...,images/val/4.jpeg,Generic,Women's Pure Hand Block Patola Printed Cotton ...,saree,NaN,False,0,1,...,0,0,0,0,0,0,0,0,0,0

In [343]:
df_revised.tail()

,number,image_url,image_path,brand,product_title,class_label,color,kurta,dhoti_pants,saree,...,petticoats,blouse,dupattas,gowns,lehenga,women_kurta,kurta_men,mojaris_men,mojaris_women,leggings_and_salwars
7495,7495,https://m.media-amazon.com/images/I/614GvuaIJu...,images/val/7495.jpeg,ishin,Women's Rayon Pink Printed A-Line Kurta Palazz...,women_kurta,NaN,True,0,0,...,0,0,0,0,0,1,0,0,0,0
7496,7496,https://m.media-amazon.com/images/I/81WAbf4-ao...,images/val/7496.jpeg,Cotton Culture,Women's Kesar Pink Cotton Straight Kurta,women_kurta,NaN,True,0,0,...,0,0,0,0,0,1,0,0,0,0
7497,7497,https://m.media-amazon.com/images/I/61unbmOA7k...,images/val/7497.jpeg,Bae's Wardrobe,Printed Rayon Anarkali Kurti with Plazzo Pant ...,women_kurta,NaN,False,0,0,...,0,0,0,0,0,0,0,0,0,0
7498,7498,https://m.media-amazon.com/images/I/71zULAnVNY...,images/val/7498.jpeg,Aarika,Girl's Regular Dress,women_kurta,NaN,False,0,0,...,0,0,0,0,0,0,0,0,0,0
7499,7499,https://m.media-amazon.com/images/I/71mhB7xFHt...,images/val/7499.jpeg,Aurelia,Women's Straight Kurta,women_kurta,NaN,True,0,0,...,0,0,0,0,0,1,0,0,0,0

In [344]:
df_revised.iloc[7498,4]

"Girl's Regular Dress"

In [345]:
df_revised.iloc[1001,4]

'Sweet Threadz Cotton Viscose Lycra Dhoti Patiyala Salwar Harem Bottoms Pants Light Skin Yellow Combo Pack of 2'

In [346]:
df_revised.iloc[1001]

number                                                               1001
image_url               https://m.media-amazon.com/images/I/41MEH6wJ2v...
image_path                                           images/val/1001.jpeg
brand                                                             Generic
product_title           Sweet Threadz Cotton Viscose Lycra Dhoti Patiy...
class_label                                                   dhoti_pants
color                                                                 NaN
kurta                                                               False
dhoti_pants                                                             1
saree                                                                   0
sherwanis                                                               0
palazzos                                                                0
nehru_jackets                                                           0
petticoats                                                              0
blouse                                                                  0
dupattas                                                                0
gowns                                                                   0
lehenga                                                                 0
women_kurta                                                             0
kurta_men                                                               0
mojaris_men                                                             0
mojaris_women                                                           0
leggings_and_salwars                                                    1
Name: 1001, dtype: object

In [347]:
df_revised.columns

Index(['number', 'image_url', 'image_path', 'brand', 'product_title',
       'class_label', 'color', 'kurta', 'dhoti_pants', 'saree', 'sherwanis',
       'palazzos', 'nehru_jackets', 'petticoats', 'blouse', 'dupattas',
       'gowns', 'lehenga', 'women_kurta', 'kurta_men', 'mojaris_men',
       'mojaris_women', 'leggings_and_salwars'],
      dtype='object')

In [369]:
dupattas = df_revised[df_revised.class_label == 'dupattas']

In [370]:
dupattas.shape

(500, 24)

In [371]:
df_revised.shape

(7500, 24)

In [385]:
df_gowns['gowns'] = df_revised.product_title.str.contains('dress', flags=re.IGNORECASE)

/var/folders/nv/lggm200n09vgfy5n8_6lcz6c0000gn/T/ipykernel_5323/2467206437.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfg['gowns'] = dfr.product_title.str.contains('dress', flags=re.IGNORECASE)

In [386]:
df_gowns_dress = df_gowns[df_gowns['gowns'] == True]

In [387]:
dfgd.shape

(58, 24)

In [417]:
df_revised.head()

,number,image_url,image_path,brand,product_title,class_label,color,kurta,dhoti_pants,saree,...,blouse,dupattas,gowns,lehenga,women_kurta,kurta_men,mojaris_men,mojaris_women,leggings_and_salwars,none
0,0,https://m.media-amazon.com/images/I/81LOPbFPiQ...,images/val/0.jpeg,Generic,Women's Khadi Cotton Saree With Blouse Piece (...,saree,NaN,False,0,1,...,0,0,0,0,0,0,0,0,0,NaN
1,1,https://m.media-amazon.com/images/I/81Q8Oktw4s...,images/val/1.jpeg,Yashvi Designer,Women's Net Saree With Unstitched Blouse Piece,saree,NaN,False,0,1,...,0,0,0,0,0,0,0,0,0,NaN
2,2,https://m.media-amazon.com/images/I/613S1YGCmo...,images/val/2.jpeg,Aarrah,Georgette Strip Print Saree[S_SHIKHA30021SR02_...,saree,NaN,False,0,1,...,0,0,0,0,0,0,0,0,0,NaN
3,3,https://m.media-amazon.com/images/I/819budhQl1...,images/val/3.jpeg,MIMOSA,Women's Patola Style Art Silk Saree (Green),saree,NaN,False,0,1,...,0,0,0,0,0,0,0,0,0,NaN
4,4,https://m.media-amazon.com/images/I/61cAZ94ZQV...,images/val/4.jpeg,Generic,Women's Pure Hand Block Patola Printed Cotton ...,saree,NaN,False,0,1,...,0,0,0,0,0,0,0,0,0,NaN

In [444]:
df_revised.to_csv('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/interim/df_val_multilabel.csv')

In [445]:
df_revised = dfr.drop(['number', 'image_url', 'brand', 'product_title',
       'color', ], axis=1)

In [446]:
df_revised.head()

,image_path,dhoti_pants,saree,sherwanis,palazzos,nehru_jackets,petticoats,blouse,dupattas,gowns,lehenga,women_kurta,kurta_men,mojaris_men,mojaris_women,leggings_and_salwars
0,images/val/0.jpeg,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,images/val/1.jpeg,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
2,images/val/2.jpeg,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
3,images/val/3.jpeg,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
4,images/val/4.jpeg,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0