In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import imageio.v2 as imageio
import cv2
from skimage import color
import os
from glob import glob
import random

Women's Kurtas

In [2]:
files_fk = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/women_kurta/flipkart/*.jpeg')

In [3]:
len(files_fk)

578

In [4]:
files_kp = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/women_kurta/karmaplace/*.jpg')

In [5]:
len(files_kp)

2339

In [6]:
files_uf = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/women_kurta/utsavfashion/*.jpg')

In [7]:
len(files_uf)

83

Want 500 files

In [8]:
lst = files_uf + files_kp + files_fk

In [9]:
df_women_kurta = pd.DataFrame()

In [10]:
df_women_kurta['files'] = lst

In [11]:
df_women_kurta.head()

                                               files
0  /Users/butler/Documents/springboard_bootcamp/C...
1  /Users/butler/Documents/springboard_bootcamp/C...
2  /Users/butler/Documents/springboard_bootcamp/C...
3  /Users/butler/Documents/springboard_bootcamp/C...
4  /Users/butler/Documents/springboard_bootcamp/C...

In [12]:
len(df_women_kurta)

3000

In [13]:
r = list(random.sample(range(0, 5000), 3000))

In [14]:
len(r)

3000

In [15]:
df_women_kurta['random_number'] = r

In [16]:
df_women_kurta.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...           3484
1  /Users/butler/Documents/springboard_bootcamp/C...           3470
2  /Users/butler/Documents/springboard_bootcamp/C...           4951
3  /Users/butler/Documents/springboard_bootcamp/C...           4398
4  /Users/butler/Documents/springboard_bootcamp/C...           4373

In [17]:
df_women_kurta = df_women_kurta.sort_values('random_number')

In [18]:
df_women_kurta = df_women_kurta.iloc[:500, :]

In [19]:
len(df_women_kurta)

500

In [20]:
df_women_kurta.reset_index(drop=True,inplace=True)
df_women_kurta.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...              1
1  /Users/butler/Documents/springboard_bootcamp/C...              2
2  /Users/butler/Documents/springboard_bootcamp/C...              4
3  /Users/butler/Documents/springboard_bootcamp/C...              5
4  /Users/butler/Documents/springboard_bootcamp/C...              6

In [21]:
df_women_kurta.to_csv('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/df_women_kurta.csv')

Sherwanis

In [22]:
files_fk = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/sherwanis/flipkart/*.jpeg')

In [23]:
len(files_fk)

443

In [24]:
files_kp = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/sherwanis/karmaplace/*.jpg')

In [25]:
len(files_kp)

589

In [26]:
files_uf = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/sherwanis/utsavfashion/*.jpg')

In [27]:
len(files_uf)

114

Want 500 files

In [28]:
lst = files_uf + files_kp + files_fk

In [29]:
df_sherwanis = pd.DataFrame()

In [30]:
df_sherwanis['files'] = lst

In [31]:
df_sherwanis.head()

                                               files
0  /Users/butler/Documents/springboard_bootcamp/C...
1  /Users/butler/Documents/springboard_bootcamp/C...
2  /Users/butler/Documents/springboard_bootcamp/C...
3  /Users/butler/Documents/springboard_bootcamp/C...
4  /Users/butler/Documents/springboard_bootcamp/C...

In [32]:
len(df_sherwanis)

1146

In [33]:
r = list(random.sample(range(0, 5000), 1146))

In [34]:
len(r)

1146

In [35]:
df_sherwanis['random_number'] = r

In [36]:
df_sherwanis.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...           2945
1  /Users/butler/Documents/springboard_bootcamp/C...           1608
2  /Users/butler/Documents/springboard_bootcamp/C...           4761
3  /Users/butler/Documents/springboard_bootcamp/C...           2752
4  /Users/butler/Documents/springboard_bootcamp/C...           1589

In [37]:
df_sherwanis = df_sherwanis.sort_values('random_number')

In [38]:
df_sherwanis = df_sherwanis.iloc[:500, :]

In [39]:
len(df_sherwanis)

500

In [40]:
df_sherwanis.reset_index(drop=True, inplace=True)
df_sherwanis.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...              1
1  /Users/butler/Documents/springboard_bootcamp/C...              4
2  /Users/butler/Documents/springboard_bootcamp/C...              6
3  /Users/butler/Documents/springboard_bootcamp/C...              7
4  /Users/butler/Documents/springboard_bootcamp/C...             20

In [41]:
df_sherwanis.to_csv('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/df_sherwanis.csv')

Sarees

In [42]:
files_fk = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/saree/flipkart/*.jpeg')

In [43]:
len(files_fk)

583

In [44]:
files_s = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/saree/suta/*.jpg')

In [45]:
len(files_s)

95

In [46]:
files_uf = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/saree/utsavfashion/*.jpg')

In [47]:
len(files_uf)

294

Want 500 files

In [48]:
lst = files_uf + files_s + files_fk

In [49]:
df_saree = pd.DataFrame()

In [50]:
df_saree['files'] = lst

In [51]:
df_saree.head()

                                               files
0  /Users/butler/Documents/springboard_bootcamp/C...
1  /Users/butler/Documents/springboard_bootcamp/C...
2  /Users/butler/Documents/springboard_bootcamp/C...
3  /Users/butler/Documents/springboard_bootcamp/C...
4  /Users/butler/Documents/springboard_bootcamp/C...

In [52]:
len(df_saree)

972

In [53]:
r = list(random.sample(range(0, 5000), 972))

In [54]:
len(r)

972

In [55]:
df_saree['random_number'] = r

In [56]:
df_saree.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...           1807
1  /Users/butler/Documents/springboard_bootcamp/C...           2587
2  /Users/butler/Documents/springboard_bootcamp/C...            207
3  /Users/butler/Documents/springboard_bootcamp/C...           1200
4  /Users/butler/Documents/springboard_bootcamp/C...           3359

In [57]:
df_saree = df_saree.sort_values('random_number')

In [58]:
df_saree = df_saree.iloc[:500, :]

In [59]:
len(df_saree)

500

In [60]:
df_saree.reset_index(drop=True, inplace=True)
df_saree.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...              0
1  /Users/butler/Documents/springboard_bootcamp/C...              6
2  /Users/butler/Documents/springboard_bootcamp/C...             13
3  /Users/butler/Documents/springboard_bootcamp/C...             14
4  /Users/butler/Documents/springboard_bootcamp/C...             19

In [61]:
df_saree.to_csv('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/df_saree.csv')

Petticoats

In [62]:
files_fk = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/petticoats/flipkart/*.jpeg')

In [63]:
len(files_fk)

472

In [64]:
files_uf = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/petticoats/utsavfashion/*.jpg')

In [65]:
len(files_uf)

84

Want 500 files

In [66]:
lst = files_uf + files_fk

In [67]:
df_petticoats = pd.DataFrame()

In [68]:
df_petticoats['files'] = lst

In [69]:
df_petticoats.head()

                                               files
0  /Users/butler/Documents/springboard_bootcamp/C...
1  /Users/butler/Documents/springboard_bootcamp/C...
2  /Users/butler/Documents/springboard_bootcamp/C...
3  /Users/butler/Documents/springboard_bootcamp/C...
4  /Users/butler/Documents/springboard_bootcamp/C...

In [70]:
len(df_petticoats)

556

In [71]:
r = list(random.sample(range(0, 5000), 556))

In [72]:
len(r)

556

In [73]:
df_petticoats['random_number'] = r

In [74]:
df_petticoats.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...           4179
1  /Users/butler/Documents/springboard_bootcamp/C...           1249
2  /Users/butler/Documents/springboard_bootcamp/C...           1177
3  /Users/butler/Documents/springboard_bootcamp/C...           1231
4  /Users/butler/Documents/springboard_bootcamp/C...           1040

In [75]:
df_petticoats = df_petticoats.sort_values('random_number')

In [76]:
df_petticoats = df_petticoats.iloc[:500, :]

In [77]:
len(df_petticoats)

500

In [78]:
df_petticoats.reset_index(drop=True, inplace=True)
df_petticoats.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...              1
1  /Users/butler/Documents/springboard_bootcamp/C...              5
2  /Users/butler/Documents/springboard_bootcamp/C...              6
3  /Users/butler/Documents/springboard_bootcamp/C...             10
4  /Users/butler/Documents/springboard_bootcamp/C...             12

In [79]:
df_petticoats.to_csv('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/df_petticoats.csv')

Palazzos

In [80]:
files_fk = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/palazzos/flipkart/*.jpeg')

In [81]:
len(files_fk)

462

In [82]:
files_ai = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/women_kurta/amazon.in/*.jpg')

In [83]:
len(files_kp)

589

In [84]:
files_uf = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/palazzos/utsavfashion/*.jpg')

In [85]:
len(files_uf)

120

Want 500 files

In [86]:
lst = files_uf + files_ai + files_fk

In [87]:
df_palazzos = pd.DataFrame()

In [88]:
df_palazzos['files'] = lst

In [89]:
df_palazzos.head()

                                               files
0  /Users/butler/Documents/springboard_bootcamp/C...
1  /Users/butler/Documents/springboard_bootcamp/C...
2  /Users/butler/Documents/springboard_bootcamp/C...
3  /Users/butler/Documents/springboard_bootcamp/C...
4  /Users/butler/Documents/springboard_bootcamp/C...

In [90]:
len(df_palazzos)

582

In [91]:
r = list(random.sample(range(0, 5000), 582))

In [92]:
len(r)

582

In [93]:
df_palazzos['random_number'] = r

In [94]:
df_palazzos.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...           3530
1  /Users/butler/Documents/springboard_bootcamp/C...           4239
2  /Users/butler/Documents/springboard_bootcamp/C...           4213
3  /Users/butler/Documents/springboard_bootcamp/C...           1818
4  /Users/butler/Documents/springboard_bootcamp/C...           4671

In [95]:
df_palazzos = df_palazzos.sort_values('random_number')

In [96]:
df_palazzos = df_palazzos.iloc[:500, :]

In [97]:
len(df_palazzos)

500

In [98]:
df_palazzos.reset_index(drop=True, inplace=True)
df_palazzos.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...              0
1  /Users/butler/Documents/springboard_bootcamp/C...              6
2  /Users/butler/Documents/springboard_bootcamp/C...             15
3  /Users/butler/Documents/springboard_bootcamp/C...             16
4  /Users/butler/Documents/springboard_bootcamp/C...             17

In [99]:
df_palazzos.to_csv('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/df_palazzos.csv')

Nehru Jackets

In [100]:
files_fk = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/nehru_jackets/flipkart/*.jpeg')

In [101]:
len(files_fk)

540

In [102]:
files_kp = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/nehru_jackets/karmaplace/*.jpg')

In [103]:
len(files_kp)

20

In [104]:
files_uf = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/nehru_jackets/utsavfashion/*.jpg')

In [105]:
len(files_uf)

120

Want 500 files

In [106]:
lst = files_uf + files_kp + files_fk

In [107]:
df_nehru_jackets = pd.DataFrame()

In [108]:
df_nehru_jackets['files'] = lst

In [109]:
df_nehru_jackets.head()

                                               files
0  /Users/butler/Documents/springboard_bootcamp/C...
1  /Users/butler/Documents/springboard_bootcamp/C...
2  /Users/butler/Documents/springboard_bootcamp/C...
3  /Users/butler/Documents/springboard_bootcamp/C...
4  /Users/butler/Documents/springboard_bootcamp/C...

In [110]:
len(df_nehru_jackets)

680

In [111]:
r = list(random.sample(range(0, 5000), 680))

In [112]:
len(r)

680

In [113]:
df_nehru_jackets['random_number'] = r

In [114]:
df_nehru_jackets.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...           1944
1  /Users/butler/Documents/springboard_bootcamp/C...           4530
2  /Users/butler/Documents/springboard_bootcamp/C...           1138
3  /Users/butler/Documents/springboard_bootcamp/C...           2704
4  /Users/butler/Documents/springboard_bootcamp/C...            728

In [115]:
df_nehru_jackets = df_nehru_jackets.sort_values('random_number')

In [116]:
df_nehru_jackets = df_nehru_jackets.iloc[:500, :]

In [117]:
len(df_nehru_jackets)

500

In [118]:
df_nehru_jackets.reset_index(drop=True, inplace=True)
df_nehru_jackets.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...              3
1  /Users/butler/Documents/springboard_bootcamp/C...             18
2  /Users/butler/Documents/springboard_bootcamp/C...             23
3  /Users/butler/Documents/springboard_bootcamp/C...             25
4  /Users/butler/Documents/springboard_bootcamp/C...             36

In [119]:
df_nehru_jackets.to_csv('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/df_nehru_jackets.csv')

Women's Mojaris

In [120]:
files_fk = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/mojaris_women/flipkart/*.jpeg')

In [121]:
len(files_fk)

475

In [122]:
files_ai = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/mojaris_women/amazon.in/*.jpg')

In [123]:
len(files_ai)

136

Want 500 files

In [124]:
lst = files_fk + files_ai

In [125]:
df_mojaris_women = pd.DataFrame()

In [126]:
df_mojaris_women['files'] = lst

In [127]:
df_mojaris_women.head()

                                               files
0  /Users/butler/Documents/springboard_bootcamp/C...
1  /Users/butler/Documents/springboard_bootcamp/C...
2  /Users/butler/Documents/springboard_bootcamp/C...
3  /Users/butler/Documents/springboard_bootcamp/C...
4  /Users/butler/Documents/springboard_bootcamp/C...

In [128]:
len(df_mojaris_women)

611

In [129]:
r = list(random.sample(range(0, 5000), 611))

In [130]:
len(r)

611

In [131]:
df_mojaris_women['random_number'] = r

In [132]:
df_mojaris_women.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...            328
1  /Users/butler/Documents/springboard_bootcamp/C...           4741
2  /Users/butler/Documents/springboard_bootcamp/C...           3514
3  /Users/butler/Documents/springboard_bootcamp/C...           4606
4  /Users/butler/Documents/springboard_bootcamp/C...           4137

In [133]:
df_mojaris_women = df_mojaris_women.sort_values('random_number')

In [134]:
df_mojaris_women = df_mojaris_women.iloc[:500, :]

In [135]:
len(df_mojaris_women)

500

In [136]:
df_mojaris_women.reset_index(drop=True, inplace=True)
df_mojaris_women.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...             12
1  /Users/butler/Documents/springboard_bootcamp/C...             17
2  /Users/butler/Documents/springboard_bootcamp/C...             20
3  /Users/butler/Documents/springboard_bootcamp/C...             27
4  /Users/butler/Documents/springboard_bootcamp/C...             28

In [137]:
df_mojaris_women.to_csv('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/df_mojaris_women.csv')

Men's Mojaris

In [138]:
files_fk = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/mojaris_men/flipkart/*.jpeg')

In [139]:
len(files_fk)

93

In [140]:
files_ai = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/mojaris_men/amazon.in/*.jpg')

In [141]:
len(files_ai)

203

Want 500 files

In [142]:
lst = files_ai + files_fk

In [143]:
df_mojaris_men = pd.DataFrame()

In [144]:
df_mojaris_men['files'] = lst

In [145]:
df_mojaris_men.head()

                                               files
0  /Users/butler/Documents/springboard_bootcamp/C...
1  /Users/butler/Documents/springboard_bootcamp/C...
2  /Users/butler/Documents/springboard_bootcamp/C...
3  /Users/butler/Documents/springboard_bootcamp/C...
4  /Users/butler/Documents/springboard_bootcamp/C...

In [146]:
len(df_mojaris_men)

296

In [147]:
r = list(random.sample(range(0, 5000), 296))

In [148]:
len(r)

296

In [149]:
df_mojaris_men['random_number'] = r

In [150]:
df_mojaris_men.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...           2051
1  /Users/butler/Documents/springboard_bootcamp/C...            807
2  /Users/butler/Documents/springboard_bootcamp/C...           1304
3  /Users/butler/Documents/springboard_bootcamp/C...           1729
4  /Users/butler/Documents/springboard_bootcamp/C...           2756

In [151]:
df_mojaris_men = df_mojaris_men.sort_values('random_number')

In [152]:
df_mojaris_men.reset_index(drop=True, inplace=True)
df_mojaris_men.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...              6
1  /Users/butler/Documents/springboard_bootcamp/C...             39
2  /Users/butler/Documents/springboard_bootcamp/C...             74
3  /Users/butler/Documents/springboard_bootcamp/C...             93
4  /Users/butler/Documents/springboard_bootcamp/C...            114

In [153]:
df_mojaris_men.to_csv('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/df_mojaris_men.csv')

Men's Kurtas

In [154]:
files_fk = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/kurta_men/flipkart/*.jpeg')

In [155]:
len(files_fk)

542

In [156]:
files_kp = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/kurta_men/karmaplace/*.jpg')

In [157]:
len(files_kp)

534

Want 500 files

In [158]:
lst = files_kp + files_fk

In [159]:
df_kurta_men = pd.DataFrame()

In [160]:
df_kurta_men['files'] = lst

In [161]:
df_kurta_men.head()

                                               files
0  /Users/butler/Documents/springboard_bootcamp/C...
1  /Users/butler/Documents/springboard_bootcamp/C...
2  /Users/butler/Documents/springboard_bootcamp/C...
3  /Users/butler/Documents/springboard_bootcamp/C...
4  /Users/butler/Documents/springboard_bootcamp/C...

In [162]:
len(df_kurta_men)

1076

In [163]:
r = list(random.sample(range(0, 5000), 1076))

In [164]:
len(r)

1076

In [165]:
df_kurta_men['random_number'] = r

In [166]:
df_kurta_men.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...           3939
1  /Users/butler/Documents/springboard_bootcamp/C...            237
2  /Users/butler/Documents/springboard_bootcamp/C...            269
3  /Users/butler/Documents/springboard_bootcamp/C...            588
4  /Users/butler/Documents/springboard_bootcamp/C...           4321

In [167]:
df_kurta_men = df_kurta_men.sort_values('random_number')

In [168]:
df_kurta_men = df_kurta_men.iloc[:500, :]

In [169]:
len(df_kurta_men)

500

In [170]:
df_kurta_men.reset_index(drop=True, inplace=True)
df_kurta_men.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...              2
1  /Users/butler/Documents/springboard_bootcamp/C...              5
2  /Users/butler/Documents/springboard_bootcamp/C...              8
3  /Users/butler/Documents/springboard_bootcamp/C...             14
4  /Users/butler/Documents/springboard_bootcamp/C...             21

In [171]:
df_kurta_men.to_csv('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/df_kurta_men.csv')

Lehenga

In [172]:
files_fk = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/lehenga/flipkart/*.jpeg')

In [173]:
len(files_fk)

580

In [174]:
files_uf = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/lehenga/utsavfashion/*.jpg')

In [175]:
len(files_uf)

292

Want 500 files

In [176]:
lst = files_fk + files_uf

In [177]:
df_lehenga = pd.DataFrame()

In [178]:
df_lehenga['files'] = lst

In [179]:
df_lehenga.head()

                                               files
0  /Users/butler/Documents/springboard_bootcamp/C...
1  /Users/butler/Documents/springboard_bootcamp/C...
2  /Users/butler/Documents/springboard_bootcamp/C...
3  /Users/butler/Documents/springboard_bootcamp/C...
4  /Users/butler/Documents/springboard_bootcamp/C...

In [180]:
len(df_lehenga)

872

In [181]:
r = list(random.sample(range(0, 5000), 872))

In [182]:
len(r)

872

In [183]:
df_lehenga['random_number'] = r

In [184]:
df_lehenga.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...           3214
1  /Users/butler/Documents/springboard_bootcamp/C...           1466
2  /Users/butler/Documents/springboard_bootcamp/C...           3750
3  /Users/butler/Documents/springboard_bootcamp/C...            484
4  /Users/butler/Documents/springboard_bootcamp/C...           2885

In [185]:
df_lehenga = df_lehenga.sort_values('random_number')

In [186]:
df_lehenga = df_lehenga.iloc[:500, :]

In [187]:
len(df_lehenga)

500

In [188]:
df_lehenga.reset_index(drop=True, inplace=True)
df_lehenga.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...              8
1  /Users/butler/Documents/springboard_bootcamp/C...             11
2  /Users/butler/Documents/springboard_bootcamp/C...             16
3  /Users/butler/Documents/springboard_bootcamp/C...             21
4  /Users/butler/Documents/springboard_bootcamp/C...             24

In [189]:
df_lehenga.iloc[0,0]

'/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/lehenga/utsavfashion/woven-art-silk-lehenga-in-mustard-v2-lyc1705.jpg'

In [190]:
df_lehenga.to_csv('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/df_lehenga.csv')

Gowns

In [191]:
files_fk = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/gowns/flipkart/*.jpeg')

In [192]:
len(files_fk)

327

In [193]:
files_kp = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/gowns/karmaplace/*.jpg')

In [194]:
len(files_kp)

257

Want 500 files

In [195]:
lst = files_kp + files_fk

In [196]:
df_gowns = pd.DataFrame()

In [197]:
df_gowns['files'] = lst

In [198]:
df_gowns.head()

                                               files
0  /Users/butler/Documents/springboard_bootcamp/C...
1  /Users/butler/Documents/springboard_bootcamp/C...
2  /Users/butler/Documents/springboard_bootcamp/C...
3  /Users/butler/Documents/springboard_bootcamp/C...
4  /Users/butler/Documents/springboard_bootcamp/C...

In [199]:
len(df_gowns)

584

In [203]:
r = list(random.sample(range(0, 5000), 584))

In [204]:
len(r)

584

In [206]:
df_gowns['random_number'] = r

In [207]:
df_gowns.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...            565
1  /Users/butler/Documents/springboard_bootcamp/C...           1821
2  /Users/butler/Documents/springboard_bootcamp/C...           1088
3  /Users/butler/Documents/springboard_bootcamp/C...           1240
4  /Users/butler/Documents/springboard_bootcamp/C...           2492

In [208]:
df_gowns = df_gowns.sort_values('random_number')

In [209]:
df_gowns = df_gowns.iloc[:500, :]

In [210]:
len(df_gowns)

500

In [211]:
df_gowns.reset_index(drop=True, inplace=True)
df_gowns.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...              4
1  /Users/butler/Documents/springboard_bootcamp/C...              6
2  /Users/butler/Documents/springboard_bootcamp/C...             11
3  /Users/butler/Documents/springboard_bootcamp/C...             20
4  /Users/butler/Documents/springboard_bootcamp/C...             28

In [212]:
df_gowns.to_csv('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/df_gowns.csv')

Dupattas

In [213]:
files_ai = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/dupattas/amazon.in/*.jpg')

In [214]:
len(files_ai)

171

In [215]:
files_kp = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/dupattas/karmaplace/*.jpg')

In [216]:
len(files_kp)

773

In [217]:
files_uf = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/dupattas/utsavfashion/*.jpg')

In [218]:
len(files_uf)

120

Want 500 files

In [219]:
lst = files_kp + files_fk + files_uf

In [220]:
df_dupattas = pd.DataFrame()

In [221]:
df_dupattas['files'] = lst

In [222]:
df_dupattas.head()

                                               files
0  /Users/butler/Documents/springboard_bootcamp/C...
1  /Users/butler/Documents/springboard_bootcamp/C...
2  /Users/butler/Documents/springboard_bootcamp/C...
3  /Users/butler/Documents/springboard_bootcamp/C...
4  /Users/butler/Documents/springboard_bootcamp/C...

In [227]:
len(df_dupattas)

1220

In [228]:
r = list(random.sample(range(0, 5000), 1220))

In [229]:
len(r)

1220

In [230]:
df_dupattas['random_number'] = r

In [231]:
df_dupattas.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...           1035
1  /Users/butler/Documents/springboard_bootcamp/C...           1218
2  /Users/butler/Documents/springboard_bootcamp/C...           1034
3  /Users/butler/Documents/springboard_bootcamp/C...           4269
4  /Users/butler/Documents/springboard_bootcamp/C...           3123

In [232]:
df_dupattas = df_dupattas.sort_values('random_number')

In [233]:
df_dupattas = df_dupattas.iloc[:500, :]

In [234]:
len(df_dupattas)

500

In [235]:
df_dupattas.reset_index(drop=True, inplace=True)
df_dupattas.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...             14
1  /Users/butler/Documents/springboard_bootcamp/C...             15
2  /Users/butler/Documents/springboard_bootcamp/C...             30
3  /Users/butler/Documents/springboard_bootcamp/C...             43
4  /Users/butler/Documents/springboard_bootcamp/C...             44

In [236]:
df_dupattas.iloc[0,0]

'/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/dupattas/karmaplace/N2ZDBK0387-M_512x769.jpg'

In [237]:
df_dupattas.to_csv('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/df_dupattas.csv')

Dhoti Pants

In [238]:
files_fk = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/dhoti_pants/flipkart/*.jpeg')

In [239]:
len(files_fk)

608

In [240]:
files_kp = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/dhoti_pants/karmaplace/*.jpg')

In [241]:
len(files_kp)

304

In [242]:
files_uf = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/dhoti_pants/utsavfashion/*.jpg')

In [243]:
len(files_uf)

114

Want 500 files

In [244]:
lst = files_kp + files_fk + files_uf

In [245]:
df_dhoti_pants = pd.DataFrame()

In [246]:
df_dhoti_pants['files'] = lst

In [247]:
df_dhoti_pants.head()

                                               files
0  /Users/butler/Documents/springboard_bootcamp/C...
1  /Users/butler/Documents/springboard_bootcamp/C...
2  /Users/butler/Documents/springboard_bootcamp/C...
3  /Users/butler/Documents/springboard_bootcamp/C...
4  /Users/butler/Documents/springboard_bootcamp/C...

In [248]:
len(df_dhoti_pants)

1026

In [249]:
r = list(random.sample(range(0, 5000), 1026))

In [250]:
len(r)

1026

In [251]:
df_dhoti_pants['random_number'] = r

In [252]:
df_dhoti_pants.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...           4265
1  /Users/butler/Documents/springboard_bootcamp/C...           3238
2  /Users/butler/Documents/springboard_bootcamp/C...           4354
3  /Users/butler/Documents/springboard_bootcamp/C...           1517
4  /Users/butler/Documents/springboard_bootcamp/C...           4435

In [253]:
df_dhoti_pants = df_dhoti_pants.sort_values('random_number')

In [254]:
df_dhoti_pants = df_dhoti_pants.iloc[:500, :]

In [255]:
len(df_dhoti_pants)

500

In [256]:
df_dhoti_pants.reset_index(drop=True, inplace=True)
df_dhoti_pants.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...              0
1  /Users/butler/Documents/springboard_bootcamp/C...              1
2  /Users/butler/Documents/springboard_bootcamp/C...             10
3  /Users/butler/Documents/springboard_bootcamp/C...             22
4  /Users/butler/Documents/springboard_bootcamp/C...             24

In [257]:
df_dhoti_pants.to_csv('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/df_dhoti_pants.csv')

Blouses

In [304]:
files_fk = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/blouse/flipkart/*.jpeg')

In [305]:
len(files_fk)

357

In [306]:
files_uf = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/blouse/utsavfashion/*.jpg')

In [307]:
len(files_uf)

120

Want 500 files

In [308]:
lst = files_fk + files_uf

In [309]:
df_blouse = pd.DataFrame()

In [310]:
df_blouse['files'] = lst

In [311]:
df_blouse.head()

                                               files
0  /Users/butler/Documents/springboard_bootcamp/C...
1  /Users/butler/Documents/springboard_bootcamp/C...
2  /Users/butler/Documents/springboard_bootcamp/C...
3  /Users/butler/Documents/springboard_bootcamp/C...
4  /Users/butler/Documents/springboard_bootcamp/C...

In [312]:
len(df_blouse)

477

In [313]:
r = list(random.sample(range(0, 5000), 477))

In [314]:
len(r)

477

In [315]:
df_blouse['random_number'] = r

In [316]:
df_blouse.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...           2619
1  /Users/butler/Documents/springboard_bootcamp/C...           4200
2  /Users/butler/Documents/springboard_bootcamp/C...           3657
3  /Users/butler/Documents/springboard_bootcamp/C...            306
4  /Users/butler/Documents/springboard_bootcamp/C...           4358

In [317]:
df_blouse = df_blouse.sort_values('random_number')

In [318]:
df_blouse = df_blouse.iloc[:500, :]

In [319]:
len(df_blouse)

477

In [320]:
df_blouse.reset_index(drop=True, inplace=True)
df_blouse.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...              3
1  /Users/butler/Documents/springboard_bootcamp/C...             14
2  /Users/butler/Documents/springboard_bootcamp/C...             36
3  /Users/butler/Documents/springboard_bootcamp/C...             38
4  /Users/butler/Documents/springboard_bootcamp/C...             40

In [280]:
df_blouse.to_csv('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/df_blouse.csv')

Leggings and Salwars

In [281]:
files_ai = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/leggings_and_salwars/amazon.in_salwars/*.jpg')

In [282]:
len(files_ai)

237

In [283]:
files_fk = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/leggings_and_salwars/flipkart/*.jpeg')

In [284]:
len(files_fk)

482

In [285]:
files_fkw = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/leggings_and_salwars/flipkart_salwars/*.jpeg')

In [286]:
len(files_fkw)

591

In [287]:
files_uf = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/leggings_and_salwars/utsav_leggings/*.jpg')

In [288]:
len(files_uf)

233

Want 500 files

In [289]:
lst = files_kp + files_fk + files_uf + files_fkw

In [290]:
df_leggings_and_salwars = pd.DataFrame()

In [291]:
df_leggings_and_salwars['files'] = lst

In [292]:
df_leggings_and_salwars.head()

                                               files
0  /Users/butler/Documents/springboard_bootcamp/C...
1  /Users/butler/Documents/springboard_bootcamp/C...
2  /Users/butler/Documents/springboard_bootcamp/C...
3  /Users/butler/Documents/springboard_bootcamp/C...
4  /Users/butler/Documents/springboard_bootcamp/C...

In [293]:
len(df_leggings_and_salwars)

2200

In [295]:
r = list(random.sample(range(0, 5000), 2200))

In [296]:
len(r)

2200

In [297]:
df_leggings_and_salwars['random_number'] = r

In [298]:
df_leggings_and_salwars.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...           4613
1  /Users/butler/Documents/springboard_bootcamp/C...           2407
2  /Users/butler/Documents/springboard_bootcamp/C...           2797
3  /Users/butler/Documents/springboard_bootcamp/C...           4252
4  /Users/butler/Documents/springboard_bootcamp/C...           1248

In [299]:
df_leggings_and_salwars = df_leggings_and_salwars.sort_values('random_number')

In [300]:
df_leggings_and_salwars = df_leggings_and_salwars.iloc[:500, :]

In [301]:
len(df_leggings_and_salwars)

500

In [302]:
df_leggings_and_salwars.reset_index(drop=True, inplace=True)
df_leggings_and_salwars.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...              1
1  /Users/butler/Documents/springboard_bootcamp/C...              3
2  /Users/butler/Documents/springboard_bootcamp/C...              4
3  /Users/butler/Documents/springboard_bootcamp/C...              7
4  /Users/butler/Documents/springboard_bootcamp/C...              8

In [303]:
df_leggings_and_salwars.to_csv('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/df_leggings_and_salwars.csv')