In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import imageio.v2 as imageio
import cv2
from skimage import color
import os
from glob import glob
import random

Women's Kurtas

In [2]:
# Getting all the saved images of women's kurtas
# They are in folders that indicate from where they were scraped
# These are from Flipkart

files_fk = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/women_kurta/flipkart/*.jpeg')

In [3]:
len(files_fk)

528

In [4]:
# Getting all the saved images of women's kurtas from Utsav Fashion

files_uf = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/women_kurta/utsavfashion/*.jpg')

In [5]:
len(files_uf)

83

Want 500 files

In [6]:
# Making a list with all of the paths of images of women's kurtas

lst = files_uf + files_fk

In [7]:
# Putting the file paths into a dataframe

df_women_kurta = pd.DataFrame()

In [8]:
df_women_kurta['files'] = lst

In [9]:
df_women_kurta.head()

                                               files
0  /Users/butler/Documents/springboard_bootcamp/C...
1  /Users/butler/Documents/springboard_bootcamp/C...
2  /Users/butler/Documents/springboard_bootcamp/C...
3  /Users/butler/Documents/springboard_bootcamp/C...
4  /Users/butler/Documents/springboard_bootcamp/C...

In [10]:
# Total number of images of women's kurtas

len(df_women_kurta)

611

In [11]:
# Making a list of random numbers with the same length as the dataframe.

r = list(random.sample(range(0, 5000), 611))

In [12]:
len(r)

611

In [13]:
# Adding the random numbers to the df

df_women_kurta['random_number'] = r

In [14]:
df_women_kurta.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...           3542
1  /Users/butler/Documents/springboard_bootcamp/C...            735
2  /Users/butler/Documents/springboard_bootcamp/C...           4785
3  /Users/butler/Documents/springboard_bootcamp/C...           4332
4  /Users/butler/Documents/springboard_bootcamp/C...           4572

In [15]:
# Sorting the df based on the random numbers to randomize images chosen

df_women_kurta = df_women_kurta.sort_values('random_number')

In [16]:
# Taking only the first 500 images

df_women_kurta = df_women_kurta.iloc[:500, :]

In [17]:
len(df_women_kurta)

500

In [18]:
df_women_kurta.reset_index(drop=True,inplace=True)
df_women_kurta.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...              1
1  /Users/butler/Documents/springboard_bootcamp/C...              8
2  /Users/butler/Documents/springboard_bootcamp/C...             14
3  /Users/butler/Documents/springboard_bootcamp/C...             19
4  /Users/butler/Documents/springboard_bootcamp/C...             20

In [19]:
df_women_kurta.to_csv('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/df_women_kurta.csv')

Sherwanis

In [20]:
# Getting all saved images of sherwanis from Flipkart

files_fk = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/sherwanis/flipkart/*.jpeg')

In [21]:
len(files_fk)

443

In [22]:
# Getting all saved images of sherwanis from Karmaplace

files_kp = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/sherwanis/karmaplace/*.jpg')

In [23]:
len(files_kp)

589

In [24]:
# Getting all saved images of sherwanis from Utsav Fashion

files_uf = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/sherwanis/utsavfashion/*.jpg')

In [25]:
len(files_uf)

114

Want 500 files

In [26]:
# Making combined list

lst = files_uf + files_kp + files_fk

In [27]:
# Putting list into df

df_sherwanis = pd.DataFrame()
df_sherwanis['files'] = lst
df_sherwanis.head()

                                               files
0  /Users/butler/Documents/springboard_bootcamp/C...
1  /Users/butler/Documents/springboard_bootcamp/C...
2  /Users/butler/Documents/springboard_bootcamp/C...
3  /Users/butler/Documents/springboard_bootcamp/C...
4  /Users/butler/Documents/springboard_bootcamp/C...

In [567]:
# Total number of images

len(df_sherwanis)

1146

In [568]:
# Making list of random numbers

r = list(random.sample(range(0, 5000), 1146))

In [569]:
len(r)

1146

In [570]:
# Adding random numbers to df

df_sherwanis['random_number'] = r

In [571]:
df_sherwanis.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...           2019
1  /Users/butler/Documents/springboard_bootcamp/C...           4303
2  /Users/butler/Documents/springboard_bootcamp/C...            283
3  /Users/butler/Documents/springboard_bootcamp/C...           2411
4  /Users/butler/Documents/springboard_bootcamp/C...           1874

In [572]:
# Sorting dataframe based on random numbers to randomize images chosen

df_sherwanis = df_sherwanis.sort_values('random_number')

In [573]:
# Taking only first 500 images

df_sherwanis = df_sherwanis.iloc[:500, :]

In [574]:
len(df_sherwanis)

500

In [575]:
df_sherwanis.reset_index(drop=True, inplace=True)
df_sherwanis.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...              2
1  /Users/butler/Documents/springboard_bootcamp/C...              6
2  /Users/butler/Documents/springboard_bootcamp/C...              8
3  /Users/butler/Documents/springboard_bootcamp/C...             20
4  /Users/butler/Documents/springboard_bootcamp/C...             27

In [576]:
df_sherwanis.to_csv('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/df_sherwanis.csv')

Sarees

In [577]:
# Getting all saved images of sarees from Flipkart

files_fk = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/saree/flipkart/*.jpeg')

In [578]:
len(files_fk)

574

In [579]:
# Getting all saved images of sarees from Utsav Fashion

files_uf = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/saree/utsavfashion/*.jpg')

In [580]:
len(files_uf)

294

Want 500 files

In [581]:
lst = files_uf + files_fk

In [582]:
df_saree = pd.DataFrame()

In [583]:
df_saree['files'] = lst

In [584]:
df_saree.head()

                                               files
0  /Users/butler/Documents/springboard_bootcamp/C...
1  /Users/butler/Documents/springboard_bootcamp/C...
2  /Users/butler/Documents/springboard_bootcamp/C...
3  /Users/butler/Documents/springboard_bootcamp/C...
4  /Users/butler/Documents/springboard_bootcamp/C...

In [585]:
len(df_saree)

868

In [586]:
r = list(random.sample(range(0, 5000), 868))

In [587]:
len(r)

868

In [588]:
df_saree['random_number'] = r

In [589]:
df_saree.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...           1245
1  /Users/butler/Documents/springboard_bootcamp/C...            978
2  /Users/butler/Documents/springboard_bootcamp/C...           1736
3  /Users/butler/Documents/springboard_bootcamp/C...           2432
4  /Users/butler/Documents/springboard_bootcamp/C...           3335

In [590]:
df_saree = df_saree.sort_values('random_number')

In [591]:
df_saree = df_saree.iloc[:500, :]

In [592]:
len(df_saree)

500

In [593]:
df_saree.reset_index(drop=True, inplace=True)
df_saree.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...              6
1  /Users/butler/Documents/springboard_bootcamp/C...             10
2  /Users/butler/Documents/springboard_bootcamp/C...             15
3  /Users/butler/Documents/springboard_bootcamp/C...             19
4  /Users/butler/Documents/springboard_bootcamp/C...             21

In [594]:
df_saree.to_csv('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/df_saree.csv')

Petticoats

In [595]:
# Getting all saved images of petticoats from Flipkart

files_fk = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/petticoats/flipkart/*.jpeg')

In [596]:
len(files_fk)

472

In [597]:
# Getting all saved images of petticoats from Utsav Fashion

files_uf = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/petticoats/utsavfashion/*.jpg')

In [598]:
len(files_uf)

84

Want 500 files

In [599]:
lst = files_uf + files_fk

In [600]:
df_petticoats = pd.DataFrame()

In [601]:
df_petticoats['files'] = lst

In [602]:
df_petticoats.head()

                                               files
0  /Users/butler/Documents/springboard_bootcamp/C...
1  /Users/butler/Documents/springboard_bootcamp/C...
2  /Users/butler/Documents/springboard_bootcamp/C...
3  /Users/butler/Documents/springboard_bootcamp/C...
4  /Users/butler/Documents/springboard_bootcamp/C...

In [603]:
len(df_petticoats)

556

In [604]:
r = list(random.sample(range(0, 5000), 556))

In [605]:
len(r)

556

In [606]:
df_petticoats['random_number'] = r

In [607]:
df_petticoats.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...           3834
1  /Users/butler/Documents/springboard_bootcamp/C...           1905
2  /Users/butler/Documents/springboard_bootcamp/C...            513
3  /Users/butler/Documents/springboard_bootcamp/C...           3023
4  /Users/butler/Documents/springboard_bootcamp/C...           4013

In [608]:
df_petticoats = df_petticoats.sort_values('random_number')

In [609]:
df_petticoats = df_petticoats.iloc[:500, :]

In [610]:
len(df_petticoats)

500

In [611]:
df_petticoats.reset_index(drop=True, inplace=True)
df_petticoats.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...              8
1  /Users/butler/Documents/springboard_bootcamp/C...             28
2  /Users/butler/Documents/springboard_bootcamp/C...             33
3  /Users/butler/Documents/springboard_bootcamp/C...             36
4  /Users/butler/Documents/springboard_bootcamp/C...             39

In [612]:
df_petticoats.to_csv('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/df_petticoats.csv')

Palazzos

In [613]:
# Getting all saved images of palazzos from Flipkart

files_fk = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/palazzos/flipkart/*.jpeg')

In [614]:
len(files_fk)

462

In [615]:
# Getting all saved images of palazzos from Amazon.in

files_ai = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/women_kurta/amazon.in/*.jpg')

In [616]:
len(files_ai)

589

In [617]:
# Getting all saved images of palazzos from Utsav Fashion

files_uf = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/palazzos/utsavfashion/*.jpg')

In [618]:
len(files_uf)

120

Want 500 files

In [619]:
lst = files_uf + files_ai + files_fk

In [620]:
df_palazzos = pd.DataFrame()

In [621]:
df_palazzos['files'] = lst

In [622]:
df_palazzos.head()

                                               files
0  /Users/butler/Documents/springboard_bootcamp/C...
1  /Users/butler/Documents/springboard_bootcamp/C...
2  /Users/butler/Documents/springboard_bootcamp/C...
3  /Users/butler/Documents/springboard_bootcamp/C...
4  /Users/butler/Documents/springboard_bootcamp/C...

In [623]:
len(df_palazzos)

582

In [624]:
r = list(random.sample(range(0, 5000), 582))

In [625]:
len(r)

582

In [626]:
df_palazzos['random_number'] = r

In [627]:
df_palazzos.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...           1374
1  /Users/butler/Documents/springboard_bootcamp/C...           3235
2  /Users/butler/Documents/springboard_bootcamp/C...            187
3  /Users/butler/Documents/springboard_bootcamp/C...           2512
4  /Users/butler/Documents/springboard_bootcamp/C...            897

In [628]:
df_palazzos = df_palazzos.sort_values('random_number')

In [629]:
df_palazzos = df_palazzos.iloc[:500, :]

In [630]:
len(df_palazzos)

500

In [631]:
df_palazzos.reset_index(drop=True, inplace=True)
df_palazzos.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...             16
1  /Users/butler/Documents/springboard_bootcamp/C...             41
2  /Users/butler/Documents/springboard_bootcamp/C...             67
3  /Users/butler/Documents/springboard_bootcamp/C...             75
4  /Users/butler/Documents/springboard_bootcamp/C...             91

In [632]:
df_palazzos.to_csv('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/df_palazzos.csv')

Nehru Jackets

In [633]:
# Getting all saved images of Nehru jackets from Flipkart

files_fk = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/nehru_jackets/flipkart/*.jpeg')

In [634]:
len(files_fk)

540

In [635]:
# Getting all saved images of Nehru jackets from Karmaplace

files_kp = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/nehru_jackets/karmaplace/*.jpg')

In [636]:
len(files_kp)

20

In [637]:
# Getting all saved images of Nehru jackets from Utsav Fashion

files_uf = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/nehru_jackets/utsavfashion/*.jpg')

In [638]:
len(files_uf)

120

Want 500 files

In [639]:
lst = files_uf + files_kp + files_fk

In [640]:
df_nehru_jackets = pd.DataFrame()

In [641]:
df_nehru_jackets['files'] = lst

In [642]:
df_nehru_jackets.head()

                                               files
0  /Users/butler/Documents/springboard_bootcamp/C...
1  /Users/butler/Documents/springboard_bootcamp/C...
2  /Users/butler/Documents/springboard_bootcamp/C...
3  /Users/butler/Documents/springboard_bootcamp/C...
4  /Users/butler/Documents/springboard_bootcamp/C...

In [643]:
len(df_nehru_jackets)

680

In [644]:
r = list(random.sample(range(0, 5000), 680))

In [645]:
len(r)

680

In [646]:
df_nehru_jackets['random_number'] = r

In [647]:
df_nehru_jackets.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...           4862
1  /Users/butler/Documents/springboard_bootcamp/C...           3046
2  /Users/butler/Documents/springboard_bootcamp/C...            756
3  /Users/butler/Documents/springboard_bootcamp/C...           2831
4  /Users/butler/Documents/springboard_bootcamp/C...           1257

In [648]:
df_nehru_jackets = df_nehru_jackets.sort_values('random_number')

In [649]:
df_nehru_jackets = df_nehru_jackets.iloc[:500, :]

In [650]:
len(df_nehru_jackets)

500

In [651]:
df_nehru_jackets.reset_index(drop=True, inplace=True)
df_nehru_jackets.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...             12
1  /Users/butler/Documents/springboard_bootcamp/C...             17
2  /Users/butler/Documents/springboard_bootcamp/C...             18
3  /Users/butler/Documents/springboard_bootcamp/C...             30
4  /Users/butler/Documents/springboard_bootcamp/C...             34

In [652]:
df_nehru_jackets.to_csv('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/df_nehru_jackets.csv')

Women's Mojaris

In [653]:
# Getting all saved images of women's mojaris from Flipkart

files_fk = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/mojaris_women/flipkart/*.jpeg')

In [654]:
len(files_fk)

475

In [655]:
# Getting all saved images of women's mojaris from Amazon.in

files_ai = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/mojaris_women/amazon.in/*.jpg')

In [656]:
len(files_ai)

136

In [ ]:
# Getting all saved images of women's mojaris from Mojari

files_mi = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/mojaris_women/mojari/*.jpg')

Want 500 files

In [657]:
lst = files_fk + files_ai + files_mi

In [658]:
df_mojaris_women = pd.DataFrame()

In [659]:
df_mojaris_women['files'] = lst

In [660]:
df_mojaris_women.head()

                                               files
0  /Users/butler/Documents/springboard_bootcamp/C...
1  /Users/butler/Documents/springboard_bootcamp/C...
2  /Users/butler/Documents/springboard_bootcamp/C...
3  /Users/butler/Documents/springboard_bootcamp/C...
4  /Users/butler/Documents/springboard_bootcamp/C...

In [661]:
len(df_mojaris_women)

611

In [662]:
r = list(random.sample(range(0, 5000), 611))

In [663]:
len(r)

611

In [664]:
df_mojaris_women['random_number'] = r

In [665]:
df_mojaris_women.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...           3407
1  /Users/butler/Documents/springboard_bootcamp/C...           4536
2  /Users/butler/Documents/springboard_bootcamp/C...           3627
3  /Users/butler/Documents/springboard_bootcamp/C...           3699
4  /Users/butler/Documents/springboard_bootcamp/C...           2762

In [666]:
df_mojaris_women = df_mojaris_women.sort_values('random_number')

In [667]:
df_mojaris_women = df_mojaris_women.iloc[:500, :]

In [668]:
len(df_mojaris_women)

500

In [669]:
df_mojaris_women.reset_index(drop=True, inplace=True)
df_mojaris_women.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...              6
1  /Users/butler/Documents/springboard_bootcamp/C...              8
2  /Users/butler/Documents/springboard_bootcamp/C...             13
3  /Users/butler/Documents/springboard_bootcamp/C...             21
4  /Users/butler/Documents/springboard_bootcamp/C...             43

In [670]:
df_mojaris_women.to_csv('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/df_mojaris_women.csv')

Men's Mojaris

In [671]:
# Getting all saved images of men's mojaris from Flipkart

files_fk = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/mojaris_men/flipkart/*.jpeg')

In [672]:
len(files_fk)

93

In [673]:
# Getting all saved images of men's mojaris from Amazon.in

files_ai = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/mojaris_men/amazon.in/*.jpg')

In [674]:
len(files_ai)

203

In [ ]:
# Getting all saved images of men's mojaris from Rajwadi

files_ri = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/mojaris_men/rajwadi/*.jpg')

Want 500 files

In [675]:
lst = files_ai + files_fk + files_ri

In [676]:
df_mojaris_men = pd.DataFrame()

In [677]:
df_mojaris_men['files'] = lst

In [678]:
df_mojaris_men.head()

                                               files
0  /Users/butler/Documents/springboard_bootcamp/C...
1  /Users/butler/Documents/springboard_bootcamp/C...
2  /Users/butler/Documents/springboard_bootcamp/C...
3  /Users/butler/Documents/springboard_bootcamp/C...
4  /Users/butler/Documents/springboard_bootcamp/C...

In [679]:
len(df_mojaris_men)

296

In [680]:
r = list(random.sample(range(0, 5000), 296))

In [681]:
len(r)

296

In [682]:
df_mojaris_men['random_number'] = r

In [683]:
df_mojaris_men.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...           1933
1  /Users/butler/Documents/springboard_bootcamp/C...           3905
2  /Users/butler/Documents/springboard_bootcamp/C...           1342
3  /Users/butler/Documents/springboard_bootcamp/C...           4392
4  /Users/butler/Documents/springboard_bootcamp/C...           4834

In [684]:
df_mojaris_men = df_mojaris_men.sort_values('random_number')

In [685]:
df_mojaris_men.reset_index(drop=True, inplace=True)
df_mojaris_men.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...             30
1  /Users/butler/Documents/springboard_bootcamp/C...             43
2  /Users/butler/Documents/springboard_bootcamp/C...             72
3  /Users/butler/Documents/springboard_bootcamp/C...            105
4  /Users/butler/Documents/springboard_bootcamp/C...            114

In [686]:
df_mojaris_men.to_csv('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/df_mojaris_men.csv')

Men's Kurtas

In [687]:
# Getting all saved images of men's kurtas from Flipkart

files_fk = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/kurta_men/flipkart/*.jpeg')

In [688]:
len(files_fk)

542

In [689]:
# Getting all saved images of men's kurtas from Karmaplace

files_kp = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/kurta_men/karmaplace/*.jpg')

In [690]:
len(files_kp)

534

Want 500 files

In [691]:
lst = files_kp + files_fk

In [692]:
df_kurta_men = pd.DataFrame()

In [693]:
df_kurta_men['files'] = lst

In [694]:
df_kurta_men.head()

                                               files
0  /Users/butler/Documents/springboard_bootcamp/C...
1  /Users/butler/Documents/springboard_bootcamp/C...
2  /Users/butler/Documents/springboard_bootcamp/C...
3  /Users/butler/Documents/springboard_bootcamp/C...
4  /Users/butler/Documents/springboard_bootcamp/C...

In [695]:
len(df_kurta_men)

1076

In [696]:
r = list(random.sample(range(0, 5000), 1076))

In [697]:
len(r)

1076

In [698]:
df_kurta_men['random_number'] = r

In [699]:
df_kurta_men.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...           1370
1  /Users/butler/Documents/springboard_bootcamp/C...           2774
2  /Users/butler/Documents/springboard_bootcamp/C...           4437
3  /Users/butler/Documents/springboard_bootcamp/C...           4670
4  /Users/butler/Documents/springboard_bootcamp/C...           3962

In [700]:
df_kurta_men = df_kurta_men.sort_values('random_number')

In [701]:
df_kurta_men = df_kurta_men.iloc[:500, :]

In [702]:
len(df_kurta_men)

500

In [703]:
df_kurta_men.reset_index(drop=True, inplace=True)
df_kurta_men.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...              1
1  /Users/butler/Documents/springboard_bootcamp/C...              4
2  /Users/butler/Documents/springboard_bootcamp/C...              6
3  /Users/butler/Documents/springboard_bootcamp/C...              7
4  /Users/butler/Documents/springboard_bootcamp/C...             10

In [704]:
df_kurta_men.to_csv('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/df_kurta_men.csv')

Lehenga

In [705]:
# Getting all saved images of lehenga from Flipkart

files_fk = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/lehenga/flipkart/*.jpeg')

In [706]:
len(files_fk)

557

In [707]:
# Getting all saved images of lehenga from Utsav Fashion

files_uf = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/lehenga/utsavfashion/*.jpg')

In [708]:
len(files_uf)

292

Want 500 files

In [709]:
lst = files_fk + files_uf

In [710]:
df_lehenga = pd.DataFrame()

In [711]:
df_lehenga['files'] = lst

In [712]:
df_lehenga.head()

                                               files
0  /Users/butler/Documents/springboard_bootcamp/C...
1  /Users/butler/Documents/springboard_bootcamp/C...
2  /Users/butler/Documents/springboard_bootcamp/C...
3  /Users/butler/Documents/springboard_bootcamp/C...
4  /Users/butler/Documents/springboard_bootcamp/C...

In [713]:
len(df_lehenga)

849

In [714]:
r = list(random.sample(range(0, 5000), 849))

In [715]:
len(r)

849

In [716]:
df_lehenga['random_number'] = r

In [717]:
df_lehenga.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...           3980
1  /Users/butler/Documents/springboard_bootcamp/C...           2858
2  /Users/butler/Documents/springboard_bootcamp/C...           2244
3  /Users/butler/Documents/springboard_bootcamp/C...           4367
4  /Users/butler/Documents/springboard_bootcamp/C...           4664

In [718]:
df_lehenga = df_lehenga.sort_values('random_number')

In [719]:
df_lehenga = df_lehenga.iloc[:500, :]

In [720]:
len(df_lehenga)

500

In [721]:
df_lehenga.reset_index(drop=True, inplace=True)
df_lehenga.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...              5
1  /Users/butler/Documents/springboard_bootcamp/C...              9
2  /Users/butler/Documents/springboard_bootcamp/C...             10
3  /Users/butler/Documents/springboard_bootcamp/C...             13
4  /Users/butler/Documents/springboard_bootcamp/C...             24

In [722]:
df_lehenga.iloc[0,0]

'/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/lehenga/flipkart/free-full-sleeve-women-vidhi-purple-fulpari-original-imagd8ppeavsrahr.jpeg'

In [723]:
df_lehenga.to_csv('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/df_lehenga.csv')

Gowns

In [724]:
# Getting all saved images of gowns from Flipkart

files_fk = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/gowns/flipkart/*.jpeg')

In [725]:
len(files_fk)

643

In [726]:
# Getting all saved images of gowns from Karmaplace

files_kp = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/gowns/karmaplace/*.jpg')

In [727]:
len(files_kp)

21

In [728]:
# Getting all saved images of gowns from Utsav Fashion

files_uf = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/gowns/utsavfashion/*.jpg')

In [729]:
len(files_uf)

60

In [730]:
# Getting all saved images of gowns from Amazon.in

files_ai = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/gowns/amazon.in/*.jpg')

In [731]:
len(files_ai)

51

Want 500 files

In [732]:
lst = files_kp + files_fk + files_ai + files_uf

In [733]:
df_gowns = pd.DataFrame()

In [734]:
df_gowns['files'] = lst

In [735]:
df_gowns.head()

                                               files
0  /Users/butler/Documents/springboard_bootcamp/C...
1  /Users/butler/Documents/springboard_bootcamp/C...
2  /Users/butler/Documents/springboard_bootcamp/C...
3  /Users/butler/Documents/springboard_bootcamp/C...
4  /Users/butler/Documents/springboard_bootcamp/C...

In [736]:
len(df_gowns)

775

In [737]:
r = list(random.sample(range(0, 5000), 775))

In [738]:
len(r)

775

In [739]:
df_gowns['random_number'] = r

In [740]:
df_gowns.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...           4691
1  /Users/butler/Documents/springboard_bootcamp/C...           2320
2  /Users/butler/Documents/springboard_bootcamp/C...           1185
3  /Users/butler/Documents/springboard_bootcamp/C...           1041
4  /Users/butler/Documents/springboard_bootcamp/C...           4902

In [741]:
df_gowns = df_gowns.sort_values('random_number')

In [742]:
df_gowns = df_gowns.iloc[:500, :]

In [743]:
len(df_gowns)

500

In [744]:
df_gowns.reset_index(drop=True, inplace=True)
df_gowns.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...              3
1  /Users/butler/Documents/springboard_bootcamp/C...              9
2  /Users/butler/Documents/springboard_bootcamp/C...             20
3  /Users/butler/Documents/springboard_bootcamp/C...             26
4  /Users/butler/Documents/springboard_bootcamp/C...             32

In [745]:
df_gowns.to_csv('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/df_gowns.csv')

Dupattas

In [862]:
# Getting all saved images of dupattas from Amazon.in

files_ai = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/dupattas/amazon.in/*.jpg')

In [863]:
len(files_ai)

159

In [864]:
# Getting all saved images of dupattas from Karmaplace

files_kp = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/dupattas/karmaplace/*.jpg')

In [865]:
len(files_kp)

763

In [866]:
# Getting all saved images of dupattas from Utsav Fashion

files_uf = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/dupattas/utsavfashion/*.jpg')

In [867]:
len(files_uf)

120

Want 500 files

In [868]:
lst = files_kp + files_fk + files_uf

In [869]:
df_dupattas = pd.DataFrame()

In [870]:
df_dupattas['files'] = lst

In [871]:
df_dupattas.head()

                                               files
0  /Users/butler/Documents/springboard_bootcamp/C...
1  /Users/butler/Documents/springboard_bootcamp/C...
2  /Users/butler/Documents/springboard_bootcamp/C...
3  /Users/butler/Documents/springboard_bootcamp/C...
4  /Users/butler/Documents/springboard_bootcamp/C...

In [872]:
len(df_dupattas)

1365

In [873]:
r = list(random.sample(range(0, 5000), 1365))

In [874]:
len(r)

1365

In [875]:
df_dupattas['random_number'] = r

In [876]:
df_dupattas.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...           4333
1  /Users/butler/Documents/springboard_bootcamp/C...           1955
2  /Users/butler/Documents/springboard_bootcamp/C...           2204
3  /Users/butler/Documents/springboard_bootcamp/C...           3897
4  /Users/butler/Documents/springboard_bootcamp/C...           3896

In [877]:
df_dupattas = df_dupattas.sort_values('random_number')

In [878]:
df_dupattas = df_dupattas.iloc[:500, :]

In [879]:
len(df_dupattas)

500

In [880]:
df_dupattas.reset_index(drop=True, inplace=True)
df_dupattas.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...              0
1  /Users/butler/Documents/springboard_bootcamp/C...              2
2  /Users/butler/Documents/springboard_bootcamp/C...              6
3  /Users/butler/Documents/springboard_bootcamp/C...             11
4  /Users/butler/Documents/springboard_bootcamp/C...             12

In [881]:
df_dupattas.iloc[0,0]

'/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/dupattas/utsavfashion/contrast-border-net-dupatta-in-peach-v1-bnj997.jpg'

In [882]:
df_dupattas.to_csv('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/df_dupattas.csv')

Dhoti Pants

In [770]:
# Getting all saved images of dhoti pants from Flipkart

files_fk = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/dhoti_pants/flipkart/*.jpeg')

In [771]:
len(files_fk)

608

In [772]:
# Getting all saved images of dhoti pants from Karmaplace

files_kp = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/dhoti_pants/karmaplace/*.jpg')

In [773]:
len(files_kp)

302

In [774]:
# Getting all saved images of dhoti pants from Utsav Fashion

files_uf = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/dhoti_pants/utsavfashion/*.jpg')

In [775]:
len(files_uf)

114

Want 500 files

In [776]:
lst = files_kp + files_fk + files_uf

In [777]:
df_dhoti_pants = pd.DataFrame()

In [778]:
df_dhoti_pants['files'] = lst

In [779]:
df_dhoti_pants.head()

                                               files
0  /Users/butler/Documents/springboard_bootcamp/C...
1  /Users/butler/Documents/springboard_bootcamp/C...
2  /Users/butler/Documents/springboard_bootcamp/C...
3  /Users/butler/Documents/springboard_bootcamp/C...
4  /Users/butler/Documents/springboard_bootcamp/C...

In [784]:
len(df_dhoti_pants)

1024

In [785]:
r = list(random.sample(range(0, 5000), 1024))

In [786]:
len(r)

1024

In [787]:
df_dhoti_pants['random_number'] = r

In [788]:
df_dhoti_pants.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...           4371
1  /Users/butler/Documents/springboard_bootcamp/C...           1746
2  /Users/butler/Documents/springboard_bootcamp/C...           3478
3  /Users/butler/Documents/springboard_bootcamp/C...           2781
4  /Users/butler/Documents/springboard_bootcamp/C...            958

In [789]:
df_dhoti_pants = df_dhoti_pants.sort_values('random_number')

In [790]:
df_dhoti_pants = df_dhoti_pants.iloc[:500, :]

In [791]:
len(df_dhoti_pants)

500

In [792]:
df_dhoti_pants.reset_index(drop=True, inplace=True)
df_dhoti_pants.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...              1
1  /Users/butler/Documents/springboard_bootcamp/C...             13
2  /Users/butler/Documents/springboard_bootcamp/C...             21
3  /Users/butler/Documents/springboard_bootcamp/C...             28
4  /Users/butler/Documents/springboard_bootcamp/C...             30

In [793]:
df_dhoti_pants.to_csv('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/df_dhoti_pants.csv')

Blouses

In [794]:
# Getting all saved images of blouses from Flipkart

files_fk = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/blouse/flipkart/*.jpeg')

In [795]:
len(files_fk)

527

In [796]:
# Getting all saved images of blouses from Utsav Fashion

files_uf = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/blouse/utsavfashion/*.jpg')

In [797]:
len(files_uf)

120

Want 500 files

In [798]:
lst = files_fk + files_uf

In [799]:
df_blouse = pd.DataFrame()

In [800]:
df_blouse['files'] = lst

In [801]:
df_blouse.head()

                                               files
0  /Users/butler/Documents/springboard_bootcamp/C...
1  /Users/butler/Documents/springboard_bootcamp/C...
2  /Users/butler/Documents/springboard_bootcamp/C...
3  /Users/butler/Documents/springboard_bootcamp/C...
4  /Users/butler/Documents/springboard_bootcamp/C...

In [802]:
len(df_blouse)

647

In [806]:
r = list(random.sample(range(0, 5000), 647))

In [807]:
len(r)

647

In [808]:
df_blouse['random_number'] = r

In [809]:
df_blouse.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...           1846
1  /Users/butler/Documents/springboard_bootcamp/C...           4319
2  /Users/butler/Documents/springboard_bootcamp/C...           2319
3  /Users/butler/Documents/springboard_bootcamp/C...           4339
4  /Users/butler/Documents/springboard_bootcamp/C...           3089

In [810]:
df_blouse = df_blouse.sort_values('random_number')

In [811]:
df_blouse = df_blouse.iloc[:500, :]

In [812]:
len(df_blouse)

500

In [813]:
df_blouse.reset_index(drop=True, inplace=True)
df_blouse.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...              2
1  /Users/butler/Documents/springboard_bootcamp/C...              4
2  /Users/butler/Documents/springboard_bootcamp/C...             12
3  /Users/butler/Documents/springboard_bootcamp/C...             31
4  /Users/butler/Documents/springboard_bootcamp/C...             32

In [814]:
df_blouse.to_csv('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/df_blouse.csv')

Leggings and Salwars

In [815]:
# Getting all saved images of salwars from Amazon.in

files_ai = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/leggings_and_salwars/amazon.in_salwars/*.jpg')

In [816]:
len(files_ai)

237

In [817]:
# Getting all saved images of leggings from Flipkart

files_fk = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/leggings_and_salwars/flipkart/*.jpeg')

In [818]:
len(files_fk)

482

In [819]:
# Getting all saved images of salvars from Flipkart

files_fkw = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/leggings_and_salwars/flipkart_salwars/*.jpeg')

In [820]:
len(files_fkw)

420

In [821]:
# Getting all saved images of leggings from Utsav Fashion

files_uf = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/leggings_and_salwars/utsav_leggings/*.jpg')

In [822]:
len(files_uf)

18

Want 500 files

In [823]:
lst = files_kp + files_fk + files_uf + files_fkw

In [824]:
df_leggings_and_salwars = pd.DataFrame()

In [825]:
df_leggings_and_salwars['files'] = lst

In [826]:
df_leggings_and_salwars.head()

                                               files
0  /Users/butler/Documents/springboard_bootcamp/C...
1  /Users/butler/Documents/springboard_bootcamp/C...
2  /Users/butler/Documents/springboard_bootcamp/C...
3  /Users/butler/Documents/springboard_bootcamp/C...
4  /Users/butler/Documents/springboard_bootcamp/C...

In [827]:
len(df_leggings_and_salwars)

1222

In [831]:
r = list(random.sample(range(0, 5000), 1222))

In [832]:
len(r)

1222

In [833]:
df_leggings_and_salwars['random_number'] = r

In [834]:
df_leggings_and_salwars.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...           4853
1  /Users/butler/Documents/springboard_bootcamp/C...           4078
2  /Users/butler/Documents/springboard_bootcamp/C...           2449
3  /Users/butler/Documents/springboard_bootcamp/C...           1574
4  /Users/butler/Documents/springboard_bootcamp/C...           3652

In [835]:
df_leggings_and_salwars = df_leggings_and_salwars.sort_values('random_number')

In [836]:
df_leggings_and_salwars = df_leggings_and_salwars.iloc[:500, :]

In [837]:
len(df_leggings_and_salwars)

500

In [838]:
df_leggings_and_salwars.reset_index(drop=True, inplace=True)
df_leggings_and_salwars.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...              2
1  /Users/butler/Documents/springboard_bootcamp/C...              5
2  /Users/butler/Documents/springboard_bootcamp/C...             18
3  /Users/butler/Documents/springboard_bootcamp/C...             20
4  /Users/butler/Documents/springboard_bootcamp/C...             21

In [839]:
df_leggings_and_salwars.to_csv('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/df_leggings_and_salwars.csv')