In [79]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import imageio.v2 as imageio
import cv2
from skimage import color
import os
from glob import glob
import random

Women's Kurtas

In [80]:
files_fk = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/women_kurta/flipkart/*.jpeg')

In [81]:
len(files_fk)

578

In [82]:
files_kp = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/women_kurta/karmaplace/*.jpg')

In [83]:
len(files_kp)

2339

In [84]:
files_uf = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/women_kurta/utsavfashion/*.jpg')

In [85]:
len(files_uf)

83

Want 500 files

In [86]:
lst = files_uf + files_kp + files_fk

In [87]:
df_women_kurta = pd.DataFrame()

In [88]:
df_women_kurta['files'] = lst

In [89]:
df_women_kurta.head()

                                               files
0  /Users/butler/Documents/springboard_bootcamp/C...
1  /Users/butler/Documents/springboard_bootcamp/C...
2  /Users/butler/Documents/springboard_bootcamp/C...
3  /Users/butler/Documents/springboard_bootcamp/C...
4  /Users/butler/Documents/springboard_bootcamp/C...

In [93]:
len(df_women_kurta)

3000

In [94]:
r = list(random.sample(range(0, 5000), 3000))

In [95]:
len(r)

3000

In [96]:
df_women_kurta['random_number'] = r

In [97]:
df_women_kurta.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...            542
1  /Users/butler/Documents/springboard_bootcamp/C...           4383
2  /Users/butler/Documents/springboard_bootcamp/C...           2519
3  /Users/butler/Documents/springboard_bootcamp/C...           2353
4  /Users/butler/Documents/springboard_bootcamp/C...           3377

In [99]:
df_women_kurta = df_women_kurta.sort_values('random_number')

In [105]:
df_women_kurta = df_women_kurta.iloc[:500, :]

In [106]:
len(df_women_kurta)

500

In [238]:
df_women_kurta.reset_index(drop=True,inplace=True)
df_women_kurta.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...              0
1  /Users/butler/Documents/springboard_bootcamp/C...              1
2  /Users/butler/Documents/springboard_bootcamp/C...              2
3  /Users/butler/Documents/springboard_bootcamp/C...              4
4  /Users/butler/Documents/springboard_bootcamp/C...              5

In [435]:
df_women_kurta.to_csv('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/df_women_kurta.csv')

Sherwanis

In [107]:
files_fk = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/sherwanis/flipkart/*.jpeg')

In [108]:
len(files_fk)

443

In [111]:
files_kp = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/sherwanis/karmaplace/*.jpg')

In [112]:
len(files_kp)

589

In [113]:
files_uf = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/sherwanis/utsavfashion/*.jpg')

In [114]:
len(files_uf)

114

Want 500 files

In [115]:
lst = files_uf + files_kp + files_fk

In [116]:
df_sherwanis = pd.DataFrame()

In [117]:
df_sherwanis['files'] = lst

In [118]:
df_sherwanis.head()

                                               files
0  /Users/butler/Documents/springboard_bootcamp/C...
1  /Users/butler/Documents/springboard_bootcamp/C...
2  /Users/butler/Documents/springboard_bootcamp/C...
3  /Users/butler/Documents/springboard_bootcamp/C...
4  /Users/butler/Documents/springboard_bootcamp/C...

In [119]:
len(df_sherwanis)

1146

In [120]:
r = list(random.sample(range(0, 5000), 1146))

In [121]:
len(r)

1146

In [123]:
df_sherwanis['random_number'] = r

In [124]:
df_sherwanis.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...            701
1  /Users/butler/Documents/springboard_bootcamp/C...           1428
2  /Users/butler/Documents/springboard_bootcamp/C...           4058
3  /Users/butler/Documents/springboard_bootcamp/C...           3515
4  /Users/butler/Documents/springboard_bootcamp/C...           4034

In [125]:
df_sherwanis = df_sherwanis.sort_values('random_number')

In [126]:
df_sherwanis = df_sherwanis.iloc[:500, :]

In [127]:
len(df_sherwanis)

500

In [178]:
df_sherwanis.reset_index(drop=True, inplace=True)
df_sherwanis.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...              2
1  /Users/butler/Documents/springboard_bootcamp/C...              3
2  /Users/butler/Documents/springboard_bootcamp/C...              7
3  /Users/butler/Documents/springboard_bootcamp/C...             18
4  /Users/butler/Documents/springboard_bootcamp/C...             19

In [436]:
df_sherwanis.to_csv('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/df_sherwanis.csv')

Sarees

In [128]:
files_fk = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/saree/flipkart/*.jpeg')

In [129]:
len(files_fk)

583

In [137]:
files_s = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/saree/suta/*.jpg')

In [138]:
len(files_s)

95

In [139]:
files_uf = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/saree/utsavfashion/*.jpg')

In [140]:
len(files_uf)

294

Want 500 files

In [141]:
lst = files_uf + files_s + files_fk

In [142]:
df_saree = pd.DataFrame()

In [143]:
df_saree['files'] = lst

In [144]:
df_saree.head()

                                               files
0  /Users/butler/Documents/springboard_bootcamp/C...
1  /Users/butler/Documents/springboard_bootcamp/C...
2  /Users/butler/Documents/springboard_bootcamp/C...
3  /Users/butler/Documents/springboard_bootcamp/C...
4  /Users/butler/Documents/springboard_bootcamp/C...

In [145]:
len(df_saree)

972

In [146]:
r = list(random.sample(range(0, 5000), 972))

In [147]:
len(r)

972

In [148]:
df_saree['random_number'] = r

In [149]:
df_saree.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...           2482
1  /Users/butler/Documents/springboard_bootcamp/C...           4016
2  /Users/butler/Documents/springboard_bootcamp/C...           1155
3  /Users/butler/Documents/springboard_bootcamp/C...           1331
4  /Users/butler/Documents/springboard_bootcamp/C...           2126

In [151]:
df_saree = df_saree.sort_values('random_number')

In [152]:
df_saree = df_saree.iloc[:500, :]

In [153]:
len(df_saree)

500

In [175]:
df_saree.reset_index(drop=True, inplace=True)
df_saree.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...              2
1  /Users/butler/Documents/springboard_bootcamp/C...              8
2  /Users/butler/Documents/springboard_bootcamp/C...              9
3  /Users/butler/Documents/springboard_bootcamp/C...             14
4  /Users/butler/Documents/springboard_bootcamp/C...             18

In [437]:
df_saree.to_csv('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/df_saree.csv')

Petticoats

In [155]:
files_fk = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/petticoats/flipkart/*.jpeg')

In [156]:
len(files_fk)

472

In [157]:
files_uf = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/petticoats/utsavfashion/*.jpg')

In [158]:
len(files_uf)

84

Want 500 files

In [159]:
lst = files_uf + files_fk

In [160]:
df_petticoats = pd.DataFrame()

In [161]:
df_petticoats['files'] = lst

In [162]:
df_petticoats.head()

                                               files
0  /Users/butler/Documents/springboard_bootcamp/C...
1  /Users/butler/Documents/springboard_bootcamp/C...
2  /Users/butler/Documents/springboard_bootcamp/C...
3  /Users/butler/Documents/springboard_bootcamp/C...
4  /Users/butler/Documents/springboard_bootcamp/C...

In [163]:
len(df_petticoats)

556

In [164]:
r = list(random.sample(range(0, 5000), 556))

In [165]:
len(r)

556

In [166]:
df_petticoats['random_number'] = r

In [167]:
df_petticoats.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...            278
1  /Users/butler/Documents/springboard_bootcamp/C...           4254
2  /Users/butler/Documents/springboard_bootcamp/C...            699
3  /Users/butler/Documents/springboard_bootcamp/C...           4385
4  /Users/butler/Documents/springboard_bootcamp/C...           2049

In [168]:
df_petticoats = df_petticoats.sort_values('random_number')

In [169]:
df_petticoats = df_petticoats.iloc[:500, :]

In [170]:
len(df_petticoats)

500

In [176]:
df_petticoats.reset_index(drop=True, inplace=True)
df_petticoats.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...             10
1  /Users/butler/Documents/springboard_bootcamp/C...             24
2  /Users/butler/Documents/springboard_bootcamp/C...             25
3  /Users/butler/Documents/springboard_bootcamp/C...             27
4  /Users/butler/Documents/springboard_bootcamp/C...             55

In [438]:
df_petticoats.to_csv('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/df_petticoats.csv')

Palazzos

In [179]:
files_fk = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/palazzos/flipkart/*.jpeg')

In [180]:
len(files_fk)

462

In [181]:
files_ai = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/women_kurta/amazon.in/*.jpg')

In [182]:
len(files_kp)

95

In [183]:
files_uf = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/palazzos/utsavfashion/*.jpg')

In [184]:
len(files_uf)

120

Want 500 files

In [185]:
lst = files_uf + files_ai + files_fk

In [186]:
df_palazzos = pd.DataFrame()

In [187]:
df_palazzos['files'] = lst

In [188]:
df_palazzos.head()

                                               files
0  /Users/butler/Documents/springboard_bootcamp/C...
1  /Users/butler/Documents/springboard_bootcamp/C...
2  /Users/butler/Documents/springboard_bootcamp/C...
3  /Users/butler/Documents/springboard_bootcamp/C...
4  /Users/butler/Documents/springboard_bootcamp/C...

In [189]:
len(df_palazzos)

582

In [190]:
r = list(random.sample(range(0, 5000), 582))

In [191]:
len(r)

582

In [192]:
df_palazzos['random_number'] = r

In [193]:
df_palazzos.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...            870
1  /Users/butler/Documents/springboard_bootcamp/C...           2668
2  /Users/butler/Documents/springboard_bootcamp/C...           2145
3  /Users/butler/Documents/springboard_bootcamp/C...           1912
4  /Users/butler/Documents/springboard_bootcamp/C...           2672

In [194]:
df_palazzos = df_palazzos.sort_values('random_number')

In [195]:
df_palazzos = df_palazzos.iloc[:500, :]

In [196]:
len(df_palazzos)

500

In [197]:
df_palazzos.reset_index(drop=True, inplace=True)
df_palazzos.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...              6
1  /Users/butler/Documents/springboard_bootcamp/C...             16
2  /Users/butler/Documents/springboard_bootcamp/C...             43
3  /Users/butler/Documents/springboard_bootcamp/C...             45
4  /Users/butler/Documents/springboard_bootcamp/C...             53

In [439]:
df_palazzos.to_csv('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/df_palazzos.csv')

Nehru Jackets

In [198]:
files_fk = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/nehru_jackets/flipkart/*.jpeg')

In [199]:
len(files_fk)

540

In [200]:
files_kp = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/nehru_jackets/karmaplace/*.jpg')

In [201]:
len(files_kp)

20

In [202]:
files_uf = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/nehru_jackets/utsavfashion/*.jpg')

In [203]:
len(files_uf)

120

Want 500 files

In [204]:
lst = files_uf + files_kp + files_fk

In [205]:
df_nehru_jackets = pd.DataFrame()

In [206]:
df_nehru_jackets['files'] = lst

In [207]:
df_nehru_jackets.head()

                                               files
0  /Users/butler/Documents/springboard_bootcamp/C...
1  /Users/butler/Documents/springboard_bootcamp/C...
2  /Users/butler/Documents/springboard_bootcamp/C...
3  /Users/butler/Documents/springboard_bootcamp/C...
4  /Users/butler/Documents/springboard_bootcamp/C...

In [208]:
len(df_nehru_jackets)

680

In [212]:
r = list(random.sample(range(0, 5000), 680))

In [213]:
len(r)

680

In [214]:
df_nehru_jackets['random_number'] = r

In [215]:
df_nehru_jackets.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...           4548
1  /Users/butler/Documents/springboard_bootcamp/C...           1943
2  /Users/butler/Documents/springboard_bootcamp/C...           3446
3  /Users/butler/Documents/springboard_bootcamp/C...           2692
4  /Users/butler/Documents/springboard_bootcamp/C...           1788

In [216]:
df_nehru_jackets = df_nehru_jackets.sort_values('random_number')

In [217]:
df_nehru_jackets = df_nehru_jackets.iloc[:500, :]

In [218]:
len(df_nehru_jackets)

500

In [219]:
df_nehru_jackets.reset_index(drop=True, inplace=True)
df_nehru_jackets.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...             11
1  /Users/butler/Documents/springboard_bootcamp/C...             18
2  /Users/butler/Documents/springboard_bootcamp/C...             20
3  /Users/butler/Documents/springboard_bootcamp/C...             21
4  /Users/butler/Documents/springboard_bootcamp/C...             30

In [440]:
df_nehru_jackets.to_csv('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/df_nehru_jackets.csv')

Women's Mojaris

In [221]:
files_fk = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/mojaris_women/flipkart/*.jpeg')

In [222]:
len(files_fk)

475

In [223]:
files_ai = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/mojaris_women/amazon.in/*.jpg')

In [224]:
len(files_ai)

136

Want 500 files

In [225]:
lst = files_fk + files_ai

In [226]:
df_mojaris_women = pd.DataFrame()

In [227]:
df_mojaris_women['files'] = lst

In [228]:
df_mojaris_women.head()

                                               files
0  /Users/butler/Documents/springboard_bootcamp/C...
1  /Users/butler/Documents/springboard_bootcamp/C...
2  /Users/butler/Documents/springboard_bootcamp/C...
3  /Users/butler/Documents/springboard_bootcamp/C...
4  /Users/butler/Documents/springboard_bootcamp/C...

In [229]:
len(df_mojaris_women)

611

In [230]:
r = list(random.sample(range(0, 5000), 611))

In [231]:
len(r)

611

In [232]:
df_mojaris_women['random_number'] = r

In [233]:
df_mojaris_women.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...           2891
1  /Users/butler/Documents/springboard_bootcamp/C...            683
2  /Users/butler/Documents/springboard_bootcamp/C...           3551
3  /Users/butler/Documents/springboard_bootcamp/C...           1356
4  /Users/butler/Documents/springboard_bootcamp/C...           1155

In [234]:
df_mojaris_women = df_mojaris_women.sort_values('random_number')

In [235]:
df_mojaris_women = df_mojaris_women.iloc[:500, :]

In [236]:
len(df_mojaris_women)

500

In [237]:
df_mojaris_women.reset_index(drop=True, inplace=True)
df_mojaris_women.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...              1
1  /Users/butler/Documents/springboard_bootcamp/C...              6
2  /Users/butler/Documents/springboard_bootcamp/C...             12
3  /Users/butler/Documents/springboard_bootcamp/C...             33
4  /Users/butler/Documents/springboard_bootcamp/C...             36

In [441]:
df_mojaris_women.to_csv('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/df_mojaris_women.csv')

Men's Mojaris

In [239]:
files_fk = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/mojaris_men/flipkart/*.jpeg')

In [240]:
len(files_fk)

93

In [241]:
files_ai = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/mojaris_men/amazon.in/*.jpg')

In [242]:
len(files_ai)

203

Want 500 files

In [243]:
lst = files_ai + files_fk

In [244]:
df_mojaris_men = pd.DataFrame()

In [245]:
df_mojaris_men['files'] = lst

In [246]:
df_mojaris_men.head()

                                               files
0  /Users/butler/Documents/springboard_bootcamp/C...
1  /Users/butler/Documents/springboard_bootcamp/C...
2  /Users/butler/Documents/springboard_bootcamp/C...
3  /Users/butler/Documents/springboard_bootcamp/C...
4  /Users/butler/Documents/springboard_bootcamp/C...

In [247]:
len(df_mojaris_men)

296

In [248]:
r = list(random.sample(range(0, 5000), 296))

In [249]:
len(r)

296

In [250]:
df_mojaris_men['random_number'] = r

In [251]:
df_mojaris_men.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...            339
1  /Users/butler/Documents/springboard_bootcamp/C...           4881
2  /Users/butler/Documents/springboard_bootcamp/C...           2028
3  /Users/butler/Documents/springboard_bootcamp/C...           1622
4  /Users/butler/Documents/springboard_bootcamp/C...            875

In [252]:
df_mojaris_men = df_mojaris_men.sort_values('random_number')

500

In [253]:
df_mojaris_men.reset_index(drop=True, inplace=True)
df_mojaris_men.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...              2
1  /Users/butler/Documents/springboard_bootcamp/C...             36
2  /Users/butler/Documents/springboard_bootcamp/C...             96
3  /Users/butler/Documents/springboard_bootcamp/C...            100
4  /Users/butler/Documents/springboard_bootcamp/C...            102

In [442]:
df_mojaris_men.to_csv('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/df_mojaris_men.csv')

Men's Kurtas

In [260]:
files_fk = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/kurta_men/flipkart/*.jpeg')

In [261]:
len(files_fk)

542

In [262]:
files_kp = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/kurta_men/karmaplace/*.jpg')

In [263]:
len(files_kp)

534

83

Want 500 files

In [264]:
lst = files_kp + files_fk

In [265]:
df_kurta_men = pd.DataFrame()

In [266]:
df_kurta_men['files'] = lst

In [267]:
df_kurta_men.head()

                                               files
0  /Users/butler/Documents/springboard_bootcamp/C...
1  /Users/butler/Documents/springboard_bootcamp/C...
2  /Users/butler/Documents/springboard_bootcamp/C...
3  /Users/butler/Documents/springboard_bootcamp/C...
4  /Users/butler/Documents/springboard_bootcamp/C...

In [268]:
len(df_kurta_men)

1076

In [269]:
r = list(random.sample(range(0, 5000), 1076))

In [270]:
len(r)

1076

In [271]:
df_kurta_men['random_number'] = r

In [272]:
df_kurta_men.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...           4316
1  /Users/butler/Documents/springboard_bootcamp/C...           2565
2  /Users/butler/Documents/springboard_bootcamp/C...           1017
3  /Users/butler/Documents/springboard_bootcamp/C...            866
4  /Users/butler/Documents/springboard_bootcamp/C...           2703

In [273]:
df_kurta_men = df_kurta_men.sort_values('random_number')

In [274]:
df_kurta_men = df_kurta_men.iloc[:500, :]

In [275]:
len(df_kurta_men)

500

In [276]:
df_kurta_men.reset_index(drop=True, inplace=True)
df_kurta_men.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...              3
1  /Users/butler/Documents/springboard_bootcamp/C...              9
2  /Users/butler/Documents/springboard_bootcamp/C...             17
3  /Users/butler/Documents/springboard_bootcamp/C...             19
4  /Users/butler/Documents/springboard_bootcamp/C...             26

In [443]:
df_kurta_men.to_csv('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/df_kurta_men.csv')

Lehenga

In [376]:
files_fk = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/lehenga/flipkart/*.jpeg')

In [382]:
len(files_fk)

580

0

In [380]:
files_uf = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/lehenga/utsavfashion/*.jpg')

In [381]:
len(files_uf)

292

Want 500 files

In [383]:
lst = files_fk + files_uf

In [384]:
df_lehenga = pd.DataFrame()

In [385]:
df_lehenga['files'] = lst

In [386]:
df_lehenga.head()

                                               files
0  /Users/butler/Documents/springboard_bootcamp/C...
1  /Users/butler/Documents/springboard_bootcamp/C...
2  /Users/butler/Documents/springboard_bootcamp/C...
3  /Users/butler/Documents/springboard_bootcamp/C...
4  /Users/butler/Documents/springboard_bootcamp/C...

In [387]:
len(df_lehenga)

872

In [388]:
r = list(random.sample(range(0, 5000), 872))

In [389]:
len(r)

872

In [390]:
df_lehenga['random_number'] = r

In [391]:
df_lehenga.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...            448
1  /Users/butler/Documents/springboard_bootcamp/C...           3030
2  /Users/butler/Documents/springboard_bootcamp/C...           4899
3  /Users/butler/Documents/springboard_bootcamp/C...           3507
4  /Users/butler/Documents/springboard_bootcamp/C...           3878

In [392]:
df_lehenga = df_lehenga.sort_values('random_number')

In [393]:
df_lehenga = df_lehenga.iloc[:500, :]

In [394]:
len(df_lehenga)

500

In [395]:
df_lehenga.reset_index(drop=True, inplace=True)
df_lehenga.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...              3
1  /Users/butler/Documents/springboard_bootcamp/C...             13
2  /Users/butler/Documents/springboard_bootcamp/C...             14
3  /Users/butler/Documents/springboard_bootcamp/C...             18
4  /Users/butler/Documents/springboard_bootcamp/C...             22

In [451]:
df_lehenga.iloc[0,0]

'/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/lehenga/flipkart/free-full-sleeve-velvet3-zingat-fashion-original-imagd57rjafhewhg.jpeg'

In [444]:
df_lehenga.to_csv('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/df_lehenga.csv')

Gowns

In [277]:
files_fk = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/gowns/flipkart/*.jpeg')

In [278]:
len(files_fk)

600

In [279]:
files_kp = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/gowns/karmaplace/*.jpg')

In [280]:
len(files_kp)

484

Want 500 files

In [281]:
lst = files_kp + files_fk

In [282]:
df_gowns = pd.DataFrame()

In [283]:
df_gowns['files'] = lst

In [284]:
df_gowns.head()

                                               files
0  /Users/butler/Documents/springboard_bootcamp/C...
1  /Users/butler/Documents/springboard_bootcamp/C...
2  /Users/butler/Documents/springboard_bootcamp/C...
3  /Users/butler/Documents/springboard_bootcamp/C...
4  /Users/butler/Documents/springboard_bootcamp/C...

In [285]:
len(df_gowns)

1084

In [286]:
r = list(random.sample(range(0, 5000), 1084))

In [287]:
len(r)

1084

In [288]:
df_gowns['random_number'] = r

In [289]:
df_gowns.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...            916
1  /Users/butler/Documents/springboard_bootcamp/C...           4958
2  /Users/butler/Documents/springboard_bootcamp/C...            299
3  /Users/butler/Documents/springboard_bootcamp/C...           1564
4  /Users/butler/Documents/springboard_bootcamp/C...           3583

In [290]:
df_gowns = df_gowns.sort_values('random_number')

In [291]:
df_gowns = df_gowns.iloc[:500, :]

In [292]:
len(df_gowns)

500

In [293]:
df_gowns.reset_index(drop=True, inplace=True)
df_gowns.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...              2
1  /Users/butler/Documents/springboard_bootcamp/C...              8
2  /Users/butler/Documents/springboard_bootcamp/C...             10
3  /Users/butler/Documents/springboard_bootcamp/C...             11
4  /Users/butler/Documents/springboard_bootcamp/C...             14

In [449]:
df_gowns.to_csv('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/df_gowns.csv')

Dupattas

In [294]:
files_ai = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/dupattas/amazon.in/*.jpg')

In [295]:
len(files_ai)

171

In [296]:
files_kp = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/dupattas/karmaplace/*.jpg')

In [297]:
len(files_kp)

773

In [298]:
files_uf = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/dupattas/utsavfashion/*.jpg')

In [299]:
len(files_uf)

120

Want 500 files

In [300]:
lst = files_kp + files_fk + files_uf

In [301]:
df_dupattas = pd.DataFrame()

In [302]:
df_dupattas['files'] = lst

In [303]:
df_dupattas.head()

                                               files
0  /Users/butler/Documents/springboard_bootcamp/C...
1  /Users/butler/Documents/springboard_bootcamp/C...
2  /Users/butler/Documents/springboard_bootcamp/C...
3  /Users/butler/Documents/springboard_bootcamp/C...
4  /Users/butler/Documents/springboard_bootcamp/C...

In [304]:
len(df_dupattas)

1493

In [305]:
r = list(random.sample(range(0, 5000), 1493))

In [306]:
len(r)

1493

In [307]:
df_dupattas['random_number'] = r

In [308]:
df_dupattas.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...           3175
1  /Users/butler/Documents/springboard_bootcamp/C...           3584
2  /Users/butler/Documents/springboard_bootcamp/C...           3112
3  /Users/butler/Documents/springboard_bootcamp/C...           4538
4  /Users/butler/Documents/springboard_bootcamp/C...           3397

In [309]:
df_dupattas = df_dupattas.sort_values('random_number')

In [310]:
df_dupattas = df_dupattas.iloc[:500, :]

In [311]:
len(df_dupattas)

500

In [312]:
df_dupattas.reset_index(drop=True, inplace=True)
df_dupattas.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...              0
1  /Users/butler/Documents/springboard_bootcamp/C...              4
2  /Users/butler/Documents/springboard_bootcamp/C...              5
3  /Users/butler/Documents/springboard_bootcamp/C...              7
4  /Users/butler/Documents/springboard_bootcamp/C...              9

In [450]:
df_dupattas.iloc[0,0]

'/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/gowns/flipkart/na-l-full-sleeve-stitched-7780-22-hotixo-na-original-imagp3gzygjhhkzq.jpeg'

In [445]:
df_dupattas.to_csv('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/df_dupattas.csv')

Dhoti Pants

In [315]:
files_fk = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/dhoti_pants/flipkart/*.jpeg')

In [316]:
len(files_fk)

608

In [317]:
files_kp = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/dhoti_pants/karmaplace/*.jpg')

In [318]:
len(files_kp)

304

In [319]:
files_uf = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/dhoti_pants/utsavfashion/*.jpg')

In [320]:
len(files_uf)

114

Want 500 files

In [321]:
lst = files_kp + files_fk + files_uf

In [322]:
df_dhoti_pants = pd.DataFrame()

In [323]:
df_dhoti_pants['files'] = lst

In [324]:
df_dhoti_pants.head()

                                               files
0  /Users/butler/Documents/springboard_bootcamp/C...
1  /Users/butler/Documents/springboard_bootcamp/C...
2  /Users/butler/Documents/springboard_bootcamp/C...
3  /Users/butler/Documents/springboard_bootcamp/C...
4  /Users/butler/Documents/springboard_bootcamp/C...

In [325]:
len(df_dhoti_pants)

1026

In [326]:
r = list(random.sample(range(0, 5000), 1026))

In [327]:
len(r)

1026

In [328]:
df_dhoti_pants['random_number'] = r

In [329]:
df_dhoti_pants.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...           1712
1  /Users/butler/Documents/springboard_bootcamp/C...           2568
2  /Users/butler/Documents/springboard_bootcamp/C...           4768
3  /Users/butler/Documents/springboard_bootcamp/C...            409
4  /Users/butler/Documents/springboard_bootcamp/C...           1930

In [330]:
df_dhoti_pants = df_dhoti_pants.sort_values('random_number')

In [331]:
df_dhoti_pants = df_dhoti_pants.iloc[:500, :]

In [332]:
len(df_dhoti_pants)

500

In [333]:
df_dhoti_pants.reset_index(drop=True, inplace=True)
df_dhoti_pants.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...              2
1  /Users/butler/Documents/springboard_bootcamp/C...              5
2  /Users/butler/Documents/springboard_bootcamp/C...              8
3  /Users/butler/Documents/springboard_bootcamp/C...             10
4  /Users/butler/Documents/springboard_bootcamp/C...             27

In [446]:
df_dhoti_pants.to_csv('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/df_dhoti_pants.csv')

Blouses

In [357]:
files_fk = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/blouse/flipkart/*.jpeg')

In [358]:
len(files_fk)

357

In [359]:
files_kp = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/blouse/karmaplace/*.jpg')

In [360]:
len(files_kp)

894

In [361]:
files_uf = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/blouse/utsavfashion/*.jpg')

In [362]:
len(files_uf)

120

Want 500 files

In [363]:
lst = files_kp + files_fk + files_uf

In [364]:
df_blouse = pd.DataFrame()

In [365]:
df_blouse['files'] = lst

In [366]:
df_blouse.head()

                                               files
0  /Users/butler/Documents/springboard_bootcamp/C...
1  /Users/butler/Documents/springboard_bootcamp/C...
2  /Users/butler/Documents/springboard_bootcamp/C...
3  /Users/butler/Documents/springboard_bootcamp/C...
4  /Users/butler/Documents/springboard_bootcamp/C...

In [367]:
len(df_blouse)

1371

In [368]:
r = list(random.sample(range(0, 5000), 1371))

In [369]:
len(r)

1371

In [370]:
df_blouse['random_number'] = r

In [371]:
df_blouse.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...            327
1  /Users/butler/Documents/springboard_bootcamp/C...           4019
2  /Users/butler/Documents/springboard_bootcamp/C...           2389
3  /Users/butler/Documents/springboard_bootcamp/C...           2346
4  /Users/butler/Documents/springboard_bootcamp/C...           3237

In [372]:
df_blouse = df_blouses.sort_values('random_number')

In [373]:
df_blouse = df_blouses.iloc[:500, :]

In [374]:
len(df_blouse)

500

In [375]:
df_blouse.reset_index(drop=True, inplace=True)
df_blouse.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...              1
1  /Users/butler/Documents/springboard_bootcamp/C...              2
2  /Users/butler/Documents/springboard_bootcamp/C...              6
3  /Users/butler/Documents/springboard_bootcamp/C...              7
4  /Users/butler/Documents/springboard_bootcamp/C...              8

In [447]:
df_blouse.to_csv('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/df_blouse.csv')

Leggings and Salwars

In [399]:
files_ai = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/leggings_and_salwars/amazon.in_salwars/*.jpg')

In [400]:
len(files_ai)

237

In [401]:
files_fk = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/leggings_and_salwars/flipkart/*.jpeg')

In [402]:
len(files_fk)

482

In [403]:
files_fkw = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/leggings_and_salwars/flipkart_salwars/*.jpeg')

In [405]:
len(files_fkw)

591

In [406]:
files_uf = glob('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/leggings_and_salwars/utsav_leggings/*.jpg')

In [407]:
len(files_uf)

233

Want 500 files

In [408]:
lst = files_kp + files_fk + files_uf + files_fkw

In [409]:
df_leggings_and_salwars = pd.DataFrame()

In [410]:
df_leggings_and_salwars['files'] = lst

In [411]:
df_leggings_and_salwars.head()

                                               files
0  /Users/butler/Documents/springboard_bootcamp/C...
1  /Users/butler/Documents/springboard_bootcamp/C...
2  /Users/butler/Documents/springboard_bootcamp/C...
3  /Users/butler/Documents/springboard_bootcamp/C...
4  /Users/butler/Documents/springboard_bootcamp/C...

In [412]:
len(df_leggings_and_salwars)

1306

In [413]:
r = list(random.sample(range(0, 5000), 1306))

In [414]:
len(r)

1306

In [415]:
df_leggings_and_salwars['random_number'] = r

In [416]:
df_leggings_and_salwars.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...            474
1  /Users/butler/Documents/springboard_bootcamp/C...           3168
2  /Users/butler/Documents/springboard_bootcamp/C...           2008
3  /Users/butler/Documents/springboard_bootcamp/C...           1324
4  /Users/butler/Documents/springboard_bootcamp/C...           1062

In [425]:
df_leggings_and_salwars = df_leggings_and_salwars.sort_values('random_number')

In [426]:
df_leggings_and_salwars = df_leggings_and_salwars.iloc[:500, :]

In [427]:
len(df_leggings_and_salwars)

500

In [428]:
df_leggings_and_salwars.reset_index(drop=True, inplace=True)
df_leggings_and_salwars.head()

                                               files  random_number
0  /Users/butler/Documents/springboard_bootcamp/C...              7
1  /Users/butler/Documents/springboard_bootcamp/C...             11
2  /Users/butler/Documents/springboard_bootcamp/C...             20
3  /Users/butler/Documents/springboard_bootcamp/C...             22
4  /Users/butler/Documents/springboard_bootcamp/C...             39

In [448]:
df_leggings_and_salwars.to_csv('/Users/butler/Documents/springboard_bootcamp/Classification_of_Indian_clothing_images/data/external/newly_scraped_images/df_leggings_and_salwars.csv')