In [1461]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [1462]:
ejscreen_2021 = '/Users/butler/Documents/hp/Capstone_Two/data/raw/EJSCREEN_2020_StatePctile.csv'
df = pd.read_csv(ejscreen_2021)

In [1463]:
df.shape

(220333, 124)

In [1464]:
df.head()

,OBJECTID,ID,STATE_NAME,ST_ABBREV,REGION,ACSTOTPOP,D_PM25_2,B_PM25_D2,P_PM25_D2,D_OZONE_2,...,T_PNPL,T_PNPL_D2,T_PRMP,T_PRMP_D2,T_PTSDF,T_PTSDF_D2,T_PWDIS,T_PWDIS_D2,Shape_Length,Shape_Area
0,1,10010201001,Alabama,AL,4,636,-492.025529,6,52.0,-1866.386370,...,0.071 facilities/km distance (79%ile),40%ile,0.085 facilities/km distance (23%ile),53%ile,0.59 facilities/km distance (57%ile),38%ile,NaN,NaN,13443.155206,6.040790e+06
1,2,10010201002,Alabama,AL,4,1287,-2053.083414,4,30.0,-7787.902602,...,0.064 facilities/km distance (76%ile),19%ile,0.074 facilities/km distance (17%ile),42%ile,0.45 facilities/km distance (52%ile),23%ile,NaN,NaN,11917.089598,7.834160e+06
2,3,10010202001,Alabama,AL,4,810,1846.126938,8,75.0,7002.783717,...,0.069 facilities/km distance (78%ile),85%ile,0.078 facilities/km distance (20%ile),67%ile,0.65 facilities/km distance (59%ile),77%ile,NaN,NaN,7770.915121,2.900774e+06
3,4,10010202002,Alabama,AL,4,1218,1392.075305,8,72.0,5280.461532,...,0.076 facilities/km distance (81%ile),83%ile,0.087 facilities/km distance (24%ile),66%ile,1 facilities/km distance (69%ile),78%ile,NaN,NaN,6506.804784,1.793332e+06
4,5,10010203001,Alabama,AL,4,2641,-769.374640,5,48.0,-2911.892606,...,0.074 facilities/km distance (80%ile),32%ile,0.08 facilities/km distance (21%ile),51%ile,1.2 facilities/km distance (74%ile),24%ile,NaN,NaN,11070.367848,5.461602e+06

In [1465]:
df.tail()

,OBJECTID,ID,STATE_NAME,ST_ABBREV,REGION,ACSTOTPOP,D_PM25_2,B_PM25_D2,P_PM25_D2,D_OZONE_2,...,T_PNPL,T_PNPL_D2,T_PRMP,T_PRMP_D2,T_PTSDF,T_PTSDF_D2,T_PWDIS,T_PWDIS_D2,Shape_Length,Shape_Area
220328,220329,721537506011,Puerto Rico,PR,2,699,NaN,0,NaN,NaN,...,0.071 facilities/km distance (39%ile),61%ile,1.1 facilities/km distance (74%ile),81%ile,0.28 facilities/km distance (48%ile),71%ile,0.0025 toxicity-weighted concentration/meters ...,72%ile,19751.958143,8.486394e+06
220329,220330,721537506012,Puerto Rico,PR,2,2432,NaN,0,NaN,NaN,...,0.064 facilities/km distance (35%ile),63%ile,1.5 facilities/km distance (83%ile),88%ile,0.39 facilities/km distance (53%ile),79%ile,0.0032 toxicity-weighted concentration/meters ...,75%ile,6704.079316,1.744950e+06
220330,220331,721537506013,Puerto Rico,PR,2,976,NaN,0,NaN,NaN,...,0.064 facilities/km distance (35%ile),49%ile,2.3 facilities/km distance (91%ile),79%ile,0.5 facilities/km distance (57%ile),66%ile,0.061 toxicity-weighted concentration/meters d...,86%ile,7737.485130,1.989274e+06
220331,220332,721537506021,Puerto Rico,PR,2,1707,NaN,0,NaN,NaN,...,0.056 facilities/km distance (27%ile),70%ile,0.53 facilities/km distance (44%ile),80%ile,0.33 facilities/km distance (51%ile),82%ile,0.000024 toxicity-weighted concentration/meter...,55%ile,5128.437876,1.265271e+06
220332,220333,721537506022,Puerto Rico,PR,2,804,NaN,0,NaN,NaN,...,0.063 facilities/km distance (34%ile),65%ile,0.62 facilities/km distance (51%ile),76%ile,0.23 facilities/km distance (43%ile),73%ile,0.0015 toxicity-weighted concentration/meters ...,71%ile,20006.384457,1.848868e+07

In [1466]:
df.describe()

,OBJECTID,ID,REGION,ACSTOTPOP,D_PM25_2,B_PM25_D2,P_PM25_D2,D_OZONE_2,B_OZONE_D2,P_OZONE_D2,...,B_LESHSPCT,P_LESHSPCT,UNDER5PCT,B_UNDR5PCT,P_UNDR5PCT,OVER64PCT,B_OVR64PCT,P_OVR64PCT,Shape_Length,Shape_Area
count,220333.000000,2.203330e+05,220333.000000,220333.000000,216046.000000,220333.000000,216046.000000,216075.000000,220333.000000,216046.000000,...,220333.000000,220333.000000,220333.000000,220333.000000,220333.000000,220333.000000,220333.000000,220333.000000,2.203330e+05,2.203330e+05
mean,110167.000000,2.863577e+11,5.167642,1480.894696,141.804077,5.678836,52.125825,120.102489,5.677338,52.115503,...,5.684006,50.877826,0.058312,5.293115,47.009272,0.164956,5.908534,52.917339,2.159727e+04,1.035941e+08
std,63604.802768,1.633201e+11,2.482247,988.146948,3444.401415,2.703466,25.484327,16722.439926,2.700227,25.451861,...,3.012208,29.231050,0.040289,3.071742,29.795501,0.101952,3.034565,29.508831,6.339526e+04,3.809275e+09
min,1.000000,1.001020e+10,1.000000,0.000000,-90644.530105,0.000000,0.000000,-371198.063720,0.000000,0.000000,...,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,3.015633e+02,5.494842e+03
25%,55084.000000,1.312101e+11,3.000000,890.000000,-1746.870154,4.000000,32.000000,-9156.587422,4.000000,32.000000,...,3.000000,25.000000,0.030006,3.000000,20.000000,0.097784,3.000000,28.000000,4.161934e+03,8.056123e+05
50%,110167.000000,2.816395e+11,5.000000,1266.000000,-538.105932,6.000000,53.000000,-2793.854824,6.000000,53.000000,...,6.000000,52.000000,0.053263,5.000000,45.000000,0.150147,6.000000,55.000000,7.461881e+03,2.223780e+06
75%,165250.000000,4.200343e+11,7.000000,1817.000000,1563.734759,8.000000,73.000000,7611.002317,8.000000,73.000000,...,8.000000,76.000000,0.080402,8.000000,73.000000,0.210931,8.000000,79.000000,2.034583e+04,1.521968e+07
max,220333.000000,7.215375e+11,10.000000,55407.000000,62799.333874,11.000000,100.000000,272045.350467,11.000000,100.000000,...,11.000000,100.000000,0.525000,11.000000,100.000000,1.000000,11.000000,100.000000,8.214219e+06,1.289561e+12

In [1467]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220333 entries, 0 to 220332
Columns: 124 entries, OBJECTID to Shape_Area
dtypes: float64(60), int64(33), object(31)
memory usage: 208.4+ MB

In [1468]:
df.dtypes

OBJECTID          int64
ID                int64
STATE_NAME       object
ST_ABBREV        object
REGION            int64
                 ...
T_PTSDF_D2       object
T_PWDIS          object
T_PWDIS_D2       object
Shape_Length    float64
Shape_Area      float64
Length: 124, dtype: object

In [1469]:
df['ACSTOTPOP'].dtypes

dtype('int64')

In [1470]:
df['PRE1960PCT'].dtypes

dtype('float64')

In [1471]:
pol = df.astype({"ID":'int64'})

In [1472]:
pol.head()

,OBJECTID,ID,STATE_NAME,ST_ABBREV,REGION,ACSTOTPOP,D_PM25_2,B_PM25_D2,P_PM25_D2,D_OZONE_2,...,T_PNPL,T_PNPL_D2,T_PRMP,T_PRMP_D2,T_PTSDF,T_PTSDF_D2,T_PWDIS,T_PWDIS_D2,Shape_Length,Shape_Area
0,1,10010201001,Alabama,AL,4,636,-492.025529,6,52.0,-1866.386370,...,0.071 facilities/km distance (79%ile),40%ile,0.085 facilities/km distance (23%ile),53%ile,0.59 facilities/km distance (57%ile),38%ile,NaN,NaN,13443.155206,6.040790e+06
1,2,10010201002,Alabama,AL,4,1287,-2053.083414,4,30.0,-7787.902602,...,0.064 facilities/km distance (76%ile),19%ile,0.074 facilities/km distance (17%ile),42%ile,0.45 facilities/km distance (52%ile),23%ile,NaN,NaN,11917.089598,7.834160e+06
2,3,10010202001,Alabama,AL,4,810,1846.126938,8,75.0,7002.783717,...,0.069 facilities/km distance (78%ile),85%ile,0.078 facilities/km distance (20%ile),67%ile,0.65 facilities/km distance (59%ile),77%ile,NaN,NaN,7770.915121,2.900774e+06
3,4,10010202002,Alabama,AL,4,1218,1392.075305,8,72.0,5280.461532,...,0.076 facilities/km distance (81%ile),83%ile,0.087 facilities/km distance (24%ile),66%ile,1 facilities/km distance (69%ile),78%ile,NaN,NaN,6506.804784,1.793332e+06
4,5,10010203001,Alabama,AL,4,2641,-769.374640,5,48.0,-2911.892606,...,0.074 facilities/km distance (80%ile),32%ile,0.08 facilities/km distance (21%ile),51%ile,1.2 facilities/km distance (74%ile),24%ile,NaN,NaN,11070.367848,5.461602e+06

In [1473]:
pop = pol.ACSTOTPOP
loc = pol.ID
pop

0          636
1         1287
2          810
3         1218
4         2641
          ...
220328     699
220329    2432
220330     976
220331    1707
220332     804
Name: ACSTOTPOP, Length: 220333, dtype: int64

In [1474]:
df.columns.get_loc('PM25')

39

In [1475]:
df.columns.get_loc('PRE1960PCT')

57

In [1476]:
df.columns.get_loc('PWDIS')

69

In [1477]:
df = df.iloc[:, 39:70]

In [1478]:
df.head()

,PM25,B_PM25,P_PM25,OZONE,B_OZONE,P_OZONE,DSLPM,B_DSLPM,P_DSLPM,CANCER,...,PNPL,B_PNPL,P_PNPL,PRMP,B_PRMP,P_PRMP,PTSDF,B_PTSDF,P_PTSDF,PWDIS
0,9.690899,7,69.0,36.760212,3,24.0,0.278663,5,47.0,49.377032,...,0.070942,8,79.0,0.085201,3,23.0,0.586754,6,57.0,NaN
1,9.690899,7,69.0,36.760212,3,24.0,0.278663,5,47.0,49.377032,...,0.064344,8,76.0,0.073796,2,17.0,0.450601,6,52.0,NaN
2,9.711240,8,70.0,36.836966,3,25.0,0.304313,6,54.0,50.320741,...,0.069234,8,78.0,0.077868,3,20.0,0.653377,6,59.0,NaN
3,9.711240,8,70.0,36.836966,3,25.0,0.304313,6,54.0,50.320741,...,0.075614,9,81.0,0.086918,3,24.0,1.009395,7,69.0,NaN
4,9.745683,8,71.0,36.884999,3,27.0,0.364215,7,65.0,50.772140,...,0.073913,9,80.0,0.080274,3,21.0,1.177764,8,74.0,NaN

In [1479]:
df.columns

Index(['PM25', 'B_PM25', 'P_PM25', 'OZONE', 'B_OZONE', 'P_OZONE', 'DSLPM',
       'B_DSLPM', 'P_DSLPM', 'CANCER', 'B_CANCR', 'P_CANCR', 'RESP', 'B_RESP',
       'P_RESP', 'PTRAF', 'B_PTRAF', 'P_PTRAF', 'PRE1960PCT', 'B_LDPNT',
       'P_LDPNT', 'PNPL', 'B_PNPL', 'P_PNPL', 'PRMP', 'B_PRMP', 'P_PRMP',
       'PTSDF', 'B_PTSDF', 'P_PTSDF', 'PWDIS'],
      dtype='object')

In [1480]:
df.drop(['B_PM25', 'P_PM25', 'B_OZONE', 'P_OZONE', 'B_DSLPM', 'P_DSLPM', 'B_CANCR', 'P_CANCR', 'B_RESP', 'P_RESP', 'B_PTRAF', 'P_PTRAF', 'B_LDPNT', 'P_LDPNT', 'B_PNPL', 'P_PNPL', 'B_PRMP', 'P_PRMP', 'B_PTSDF', 'P_PTSDF'], axis=1, inplace=True)

In [1481]:
df.head()

,PM25,OZONE,DSLPM,CANCER,RESP,PTRAF,PRE1960PCT,PNPL,PRMP,PTSDF,PWDIS
0,9.690899,36.760212,0.278663,49.377032,0.788052,91.015900,0.272109,0.070942,0.085201,0.586754,NaN
1,9.690899,36.760212,0.278663,49.377032,0.788052,2.618744,0.115464,0.064344,0.073796,0.450601,NaN
2,9.711240,36.836966,0.304313,50.320741,0.808744,4.679322,0.143243,0.069234,0.077868,0.653377,NaN
3,9.711240,36.836966,0.304313,50.320741,0.808744,218.647491,0.342324,0.075614,0.086918,1.009395,NaN
4,9.745683,36.884999,0.364215,50.772140,0.816773,69.644262,0.083889,0.073913,0.080274,1.177764,NaN

In [1482]:
pop

0          636
1         1287
2          810
3         1218
4         2641
          ...
220328     699
220329    2432
220330     976
220331    1707
220332     804
Name: ACSTOTPOP, Length: 220333, dtype: int64

In [1483]:
# Adding population back in

df['POP'] = pop
df.head()

,PM25,OZONE,DSLPM,CANCER,RESP,PTRAF,PRE1960PCT,PNPL,PRMP,PTSDF,PWDIS,POP
0,9.690899,36.760212,0.278663,49.377032,0.788052,91.015900,0.272109,0.070942,0.085201,0.586754,NaN,636
1,9.690899,36.760212,0.278663,49.377032,0.788052,2.618744,0.115464,0.064344,0.073796,0.450601,NaN,1287
2,9.711240,36.836966,0.304313,50.320741,0.808744,4.679322,0.143243,0.069234,0.077868,0.653377,NaN,810
3,9.711240,36.836966,0.304313,50.320741,0.808744,218.647491,0.342324,0.075614,0.086918,1.009395,NaN,1218
4,9.745683,36.884999,0.364215,50.772140,0.816773,69.644262,0.083889,0.073913,0.080274,1.177764,NaN,2641

In [1484]:
df.head()

,PM25,OZONE,DSLPM,CANCER,RESP,PTRAF,PRE1960PCT,PNPL,PRMP,PTSDF,PWDIS,POP
0,9.690899,36.760212,0.278663,49.377032,0.788052,91.015900,0.272109,0.070942,0.085201,0.586754,NaN,636
1,9.690899,36.760212,0.278663,49.377032,0.788052,2.618744,0.115464,0.064344,0.073796,0.450601,NaN,1287
2,9.711240,36.836966,0.304313,50.320741,0.808744,4.679322,0.143243,0.069234,0.077868,0.653377,NaN,810
3,9.711240,36.836966,0.304313,50.320741,0.808744,218.647491,0.342324,0.075614,0.086918,1.009395,NaN,1218
4,9.745683,36.884999,0.364215,50.772140,0.816773,69.644262,0.083889,0.073913,0.080274,1.177764,NaN,2641

In [1485]:
# Making sure that all locations have non-zero population

df[df['POP'] == 0].count()

PM25           761
OZONE          761
DSLPM          541
CANCER         541
RESP           541
PTRAF          231
PRE1960PCT    1119
PNPL          1119
PRMP          1119
PTSDF         1119
PWDIS          155
POP           1119
dtype: int64

In [1486]:
# Dropping any row with zero population

df = df[df['POP'] != 0]

In [1487]:
df.shape

(219214, 12)

To prepare this for concatenation with health data, need to make health LocationName and df ID the same. ID has one extra digit for the block group, while LocationName only includes census tracts. Combining the block groups into census tracts by averaging the features scaled by population.

In [1488]:
df['LocationName'] = loc // 10

In [1489]:
df.head()

,PM25,OZONE,DSLPM,CANCER,RESP,PTRAF,PRE1960PCT,PNPL,PRMP,PTSDF,PWDIS,POP,LocationName
0,9.690899,36.760212,0.278663,49.377032,0.788052,91.015900,0.272109,0.070942,0.085201,0.586754,NaN,636,1001020100
1,9.690899,36.760212,0.278663,49.377032,0.788052,2.618744,0.115464,0.064344,0.073796,0.450601,NaN,1287,1001020100
2,9.711240,36.836966,0.304313,50.320741,0.808744,4.679322,0.143243,0.069234,0.077868,0.653377,NaN,810,1001020200
3,9.711240,36.836966,0.304313,50.320741,0.808744,218.647491,0.342324,0.075614,0.086918,1.009395,NaN,1218,1001020200
4,9.745683,36.884999,0.364215,50.772140,0.816773,69.644262,0.083889,0.073913,0.080274,1.177764,NaN,2641,1001020300

In [1491]:
df['PWDIS'].isnull().value_counts()

False    148558
True      70656
Name: PWDIS, dtype: int64

In [1492]:
df[df['PWDIS'] == 0]

Empty DataFrame
Columns: [PM25, OZONE, DSLPM, CANCER, RESP, PTRAF, PRE1960PCT, PNPL, PRMP, PTSDF, PWDIS, POP, LocationName]
Index: []

In [1365]:
df['PWDIS'].fillna(0, inplace=True)

In [1366]:
df.head()

,PM25,OZONE,DSLPM,CANCER,RESP,PTRAF,PRE1960PCT,PNPL,PRMP,PTSDF,PWDIS,POP,LocationName
0,9.690899,36.760212,0.278663,49.377032,0.788052,91.015900,0.272109,0.070942,0.085201,0.586754,0.0,636,1001020100
1,9.690899,36.760212,0.278663,49.377032,0.788052,2.618744,0.115464,0.064344,0.073796,0.450601,0.0,1287,1001020100
2,9.711240,36.836966,0.304313,50.320741,0.808744,4.679322,0.143243,0.069234,0.077868,0.653377,0.0,810,1001020200
3,9.711240,36.836966,0.304313,50.320741,0.808744,218.647491,0.342324,0.075614,0.086918,1.009395,0.0,1218,1001020200
4,9.745683,36.884999,0.364215,50.772140,0.816773,69.644262,0.083889,0.073913,0.080274,1.177764,0.0,2641,1001020300

In [1367]:
# Changing index to LocationName

df.set_index('LocationName', inplace=True)

In [1368]:
df.head()

,PM25,OZONE,DSLPM,CANCER,RESP,PTRAF,PRE1960PCT,PNPL,PRMP,PTSDF,PWDIS,POP
LocationName,,,,,,,,,,,,
1001020100,9.690899,36.760212,0.278663,49.377032,0.788052,91.015900,0.272109,0.070942,0.085201,0.586754,0.0,636
1001020100,9.690899,36.760212,0.278663,49.377032,0.788052,2.618744,0.115464,0.064344,0.073796,0.450601,0.0,1287
1001020200,9.711240,36.836966,0.304313,50.320741,0.808744,4.679322,0.143243,0.069234,0.077868,0.653377,0.0,810
1001020200,9.711240,36.836966,0.304313,50.320741,0.808744,218.647491,0.342324,0.075614,0.086918,1.009395,0.0,1218
1001020300,9.745683,36.884999,0.364215,50.772140,0.816773,69.644262,0.083889,0.073913,0.080274,1.177764,0.0,2641

In [1369]:
# Multiplying each column (other than POP) by population

for column in df:
    if column != 'POP':
        df[column] *= df['POP']

df.head()

,PM25,OZONE,DSLPM,CANCER,RESP,PTRAF,PRE1960PCT,PNPL,PRMP,PTSDF,PWDIS,POP
LocationName,,,,,,,,,,,,
1001020100,6163.412052,23379.494682,177.229712,31403.792102,501.200905,57886.112454,173.061224,45.118825,54.187638,373.175342,0.0,636
1001020100,12472.187595,47310.392541,358.639369,63548.239678,1014.222586,3370.323085,148.602062,82.810299,94.975883,579.923490,0.0,1287
1001020200,7866.104622,29837.942471,246.493133,40759.800150,655.082666,3790.250422,116.027027,56.079206,63.072946,529.235611,0.0,810
1001020200,11828.290654,44867.424604,370.652636,61290.662448,985.050231,266312.643524,416.950207,92.097829,105.865801,1229.443027,0.0,1218
1001020300,25738.349563,97413.283274,961.891212,134089.220432,2157.098024,183930.495773,221.551954,195.205478,212.003996,3110.474085,0.0,2641

In [1370]:
# Grouping rows with same LocationName. Each numerical value is given the population-weighted mean

def mean_normed_by_pop(x):
    x = x.sum() / x['POP'].sum()
    return x

df = df.groupby('LocationName', group_keys=False).apply(mean_normed_by_pop)

In [1371]:
df.head()

,PM25,OZONE,DSLPM,CANCER,RESP,PTRAF,PRE1960PCT,PNPL,PRMP,PTSDF,PWDIS,POP
LocationName,,,,,,,,,,,,
1001020100,9.690899,36.760212,0.278663,49.377032,0.788052,31.854621,0.167272,0.066526,0.077568,0.495631,0.000000,1.0
1001020200,9.711240,36.836966,0.304313,50.320741,0.808744,133.186831,0.262809,0.073066,0.083303,0.867199,0.000000,1.0
1001020300,9.745683,36.884999,0.364215,50.772140,0.816773,183.972683,0.078924,0.075626,0.082494,1.528117,0.000000,1.0
1001020400,9.761186,36.949586,0.447920,51.595926,0.835904,448.339640,0.114548,0.084700,0.087962,2.299506,0.000000,1.0
1001020500,9.791458,37.041363,0.499163,51.729998,0.841417,198.171325,0.000000,0.094754,0.091258,1.635841,0.000005,1.0

In [1372]:
# POP was also changed, so it needs to be dropped

df.drop('POP', axis=1, inplace=True)

In [1373]:
# Re-indexing

df.reset_index(names='LocationName', inplace=True)

In [1374]:
df.head()

,LocationName,PM25,OZONE,DSLPM,CANCER,RESP,PTRAF,PRE1960PCT,PNPL,PRMP,PTSDF,PWDIS
0,1001020100,9.690899,36.760212,0.278663,49.377032,0.788052,31.854621,0.167272,0.066526,0.077568,0.495631,0.000000
1,1001020200,9.711240,36.836966,0.304313,50.320741,0.808744,133.186831,0.262809,0.073066,0.083303,0.867199,0.000000
2,1001020300,9.745683,36.884999,0.364215,50.772140,0.816773,183.972683,0.078924,0.075626,0.082494,1.528117,0.000000
3,1001020400,9.761186,36.949586,0.447920,51.595926,0.835904,448.339640,0.114548,0.084700,0.087962,2.299506,0.000000
4,1001020500,9.791458,37.041363,0.499163,51.729998,0.841417,198.171325,0.000000,0.094754,0.091258,1.635841,0.000005

In [1375]:
df.tail()

,LocationName,PM25,OZONE,DSLPM,CANCER,RESP,PTRAF,PRE1960PCT,PNPL,PRMP,PTSDF,PWDIS
73294,72153750501,0.0,0.0,0.053854,17.372062,0.260988,62.944027,0.009816,0.056186,0.720871,0.783596,0.020576
73295,72153750502,0.0,0.0,0.058167,17.482087,0.260866,730.916547,0.072855,0.058919,0.851300,0.747859,0.024960
73296,72153750503,0.0,0.0,0.049858,17.283555,0.258829,160.747911,0.067748,0.056212,0.604643,0.506445,0.006058
73297,72153750601,0.0,0.0,0.055070,17.199448,0.258637,94.865143,0.061086,0.065172,1.636494,0.397525,0.016798
73298,72153750602,0.0,0.0,0.057248,16.929739,0.256232,202.266125,0.167015,0.057998,0.557440,0.299630,0.000496

In [1376]:
df.to_csv('/Users/butler/Documents/hp/Capstone_Two/data/interim/EJSCREEN_2020_interim.csv')

In [1377]:
health_2022 = '/Users/butler/Documents/hp/Capstone_Two/data/raw/PLACES__Local_Data_for_Better_Health__Census_Tract_Data_2022_release.csv'
df2 = pd.read_csv(health_2022)

In [1378]:
df2.head()

,Year,StateAbbr,StateDesc,CountyName,CountyFIPS,LocationName,DataSource,Category,Measure,Data_Value_Unit,...,Data_Value_Footnote,Low_Confidence_Limit,High_Confidence_Limit,TotalPopulation,Geolocation,LocationID,CategoryID,MeasureId,DataValueTypeID,Short_Question_Text
0,2020,AL,Alabama,Autauga,1001,1001020200,BRFSS,Health Outcomes,Chronic obstructive pulmonary disease among ad...,%,...,NaN,6.8,8.5,2170,POINT (-86.47338874 32.47425254),1001020200,HLTHOUT,COPD,CrdPrv,COPD
1,2020,AL,Alabama,Autauga,1001,1001020400,BRFSS,Health Outcomes,Obesity among adults aged >=18 years,%,...,NaN,31.5,35.0,4386,POINT (-86.44370417 32.47203959),1001020400,HLTHOUT,OBESITY,CrdPrv,Obesity
2,2020,AL,Alabama,Autauga,1001,1001021000,BRFSS,Health Outcomes,Obesity among adults aged >=18 years,%,...,NaN,39.3,41.2,2894,POINT (-86.75607371 32.60894544),1001021000,HLTHOUT,OBESITY,CrdPrv,Obesity
3,2020,AL,Alabama,Baldwin,1003,1003010905,BRFSS,Health Outcomes,Stroke among adults aged >=18 years,%,...,NaN,2.7,3.2,8011,POINT (-87.75682132 30.53592075),1003010905,HLTHOUT,STROKE,CrdPrv,Stroke
4,2020,AL,Alabama,Baldwin,1003,1003010906,BRFSS,Health Outcomes,Depression among adults aged >=18 years,%,...,NaN,26.3,28.9,4302,POINT (-87.68753351 30.56418914),1003010906,HLTHOUT,DEPRESSION,CrdPrv,Depression

In [1379]:
df2.shape

(2161543, 23)

In [1380]:
df2.tail()

,Year,StateAbbr,StateDesc,CountyName,CountyFIPS,LocationName,DataSource,Category,Measure,Data_Value_Unit,...,Data_Value_Footnote,Low_Confidence_Limit,High_Confidence_Limit,TotalPopulation,Geolocation,LocationID,CategoryID,MeasureId,DataValueTypeID,Short_Question_Text
2161538,2020,WI,Wisconsin,Waukesha,55133,55133204002,BRFSS,Prevention,"Fecal occult blood test, sigmoidoscopy, or col...",%,...,NaN,59.0,64.9,5479,POINT (-88.4824858 42.88723077),55133204002,PREVENT,COLON_SCREEN,CrdPrv,Colorectal Cancer Screening
2161539,2020,WI,Wisconsin,Rock,55105,55105002700,BRFSS,Health Status,Physical health not good for >=14 days among a...,%,...,NaN,9.6,11.6,2571,POINT (-89.24626648 42.548431),55105002700,HLTHSTAT,PHLTH,CrdPrv,Physical Health
2161540,2020,WI,Wisconsin,Waukesha,55133,55133203200,BRFSS,Health Outcomes,Cancer (excluding skin cancer) among adults ag...,%,...,NaN,7.0,7.8,4106,POINT (-88.31331246 43.07069963),55133203200,HLTHOUT,CANCER,CrdPrv,Cancer (except skin)
2161541,2020,WI,Wisconsin,Waukesha,55133,55133203101,BRFSS,Prevention,Visits to dentist or dental clinic among adult...,%,...,NaN,74.7,80.6,6536,POINT (-88.27895206 43.04127835),55133203101,PREVENT,DENTAL,CrdPrv,Dental Visit
2161542,2020,WI,Wisconsin,Waukesha,55133,55133200400,BRFSS,Health Outcomes,Chronic kidney disease among adults aged >=18 ...,%,...,NaN,2.1,2.5,6582,POINT (-88.10191212 43.13413751),55133200400,HLTHOUT,KIDNEY,CrdPrv,Chronic Kidney Disease

In [1381]:
df2['Year'].unique()

array([2020, 2019])

In [1382]:
df2 = df2[df2['Category'] == 'Health Outcomes']

In [1383]:
df2.shape

(936284, 23)

In [1384]:
df2[df2['LocationName'] == 1001020200]

,Year,StateAbbr,StateDesc,CountyName,CountyFIPS,LocationName,DataSource,Category,Measure,Data_Value_Unit,...,Data_Value_Footnote,Low_Confidence_Limit,High_Confidence_Limit,TotalPopulation,Geolocation,LocationID,CategoryID,MeasureId,DataValueTypeID,Short_Question_Text
0,2020,AL,Alabama,Autauga,1001,1001020200,BRFSS,Health Outcomes,Chronic obstructive pulmonary disease among ad...,%,...,NaN,6.8,8.5,2170,POINT (-86.47338874 32.47425254),1001020200,HLTHOUT,COPD,CrdPrv,COPD
7505,2020,AL,Alabama,Autauga,1001,1001020200,BRFSS,Health Outcomes,Coronary heart disease among adults aged >=18 ...,%,...,NaN,5.5,6.3,2170,POINT (-86.47338874 32.47425254),1001020200,HLTHOUT,CHD,CrdPrv,Coronary Heart Disease
7709,2019,AL,Alabama,Autauga,1001,1001020200,BRFSS,Health Outcomes,High blood pressure among adults aged >=18 years,%,...,NaN,42.3,44.7,2170,POINT (-86.47338874 32.47425254),1001020200,HLTHOUT,BPHIGH,CrdPrv,High Blood Pressure
11227,2020,AL,Alabama,Autauga,1001,1001020200,BRFSS,Health Outcomes,All teeth lost among adults aged >=65 years,%,...,NaN,14.4,25.0,2170,POINT (-86.47338874 32.47425254),1001020200,HLTHOUT,TEETHLOST,CrdPrv,All Teeth Lost
13452,2020,AL,Alabama,Autauga,1001,1001020200,BRFSS,Health Outcomes,Cancer (excluding skin cancer) among adults ag...,%,...,NaN,4.8,5.2,2170,POINT (-86.47338874 32.47425254),1001020200,HLTHOUT,CANCER,CrdPrv,Cancer (except skin)
14063,2020,AL,Alabama,Autauga,1001,1001020200,BRFSS,Health Outcomes,Diagnosed diabetes among adults aged >=18 years,%,...,NaN,12.6,14.2,2170,POINT (-86.47338874 32.47425254),1001020200,HLTHOUT,DIABETES,CrdPrv,Diabetes
14500,2019,AL,Alabama,Autauga,1001,1001020200,BRFSS,Health Outcomes,High cholesterol among adults aged >=18 years ...,%,...,NaN,31.8,33.6,2170,POINT (-86.47338874 32.47425254),1001020200,HLTHOUT,HIGHCHOL,CrdPrv,High Cholesterol
14995,2020,AL,Alabama,Autauga,1001,1001020200,BRFSS,Health Outcomes,Arthritis among adults aged >=18 years,%,...,NaN,27.1,29.2,2170,POINT (-86.47338874 32.47425254),1001020200,HLTHOUT,ARTHRITIS,CrdPrv,Arthritis
16352,2020,AL,Alabama,Autauga,1001,1001020200,BRFSS,Health Outcomes,Obesity among adults aged >=18 years,%,...,NaN,42.4,45.3,2170,POINT (-86.47338874 32.47425254),1001020200,HLTHOUT,OBESITY,CrdPrv,Obesity
16616,2020,AL,Alabama,Autauga,1001,1001020200,BRFSS,Health Outcomes,Stroke among adults aged >=18 years,%,...,NaN,3.4,4.1,2170,POINT (-86.47338874 32.47425254),1001020200,HLTHOUT,STROKE,CrdPrv,Stroke
17208,2020,AL,Alabama,Autauga,1001,1001020200,BRFSS,Health Outcomes,Current asthma among adults aged >=18 years,%,...,NaN,10.4,11.4,2170,POINT (-86.47338874 32.47425254),1001020200,HLTHOUT,CASTHMA,CrdPrv,Current Asthma
17291,2020,AL,Alabama,Autauga,1001,1001020200,BRFSS,Health Outcomes,Chronic kidney disease among adults aged >=18 ...,%,...,NaN,2.9,3.3,2170,POINT (-86.47338874 32.47425254),1001020200,HLTHOUT,KIDNEY,CrdPrv,Chronic Kidney Disease
18332,2020,AL,Alabama,Autauga,1001,1001020200,BRFSS,Health Outcomes,Depression among adults aged >=18 years,%,...,NaN,22.8,25.0,2170,POINT (-86.47338874 32.47425254),1001020200,HLTHOUT,DEPRESSION,CrdPrv,Depression

In [1385]:
df[df['LocationName'] == 55133200400]

,LocationName,PM25,OZONE,DSLPM,CANCER,RESP,PTRAF,PRE1960PCT,PNPL,PRMP,PTSDF,PWDIS
72123,55133200400,7.514909,43.06825,0.387525,22.748623,0.292665,180.213938,0.221044,0.222978,1.888956,1.393416,0.011332

In [1386]:
df2.Category.nunique()

1

In [1387]:
df2.Category.unique()

array(['Health Outcomes'], dtype=object)

In [1388]:
df2.shape

(936284, 23)

In [1389]:
df2.DataSource.nunique()

1

In [1390]:
df2.DataSource.unique()

array(['BRFSS'], dtype=object)

In [1391]:
df2.Data_Value_Footnote_Symbol.nunique()

0

In [1392]:
df2.Data_Value_Footnote.nunique()

0

In [1393]:
df2.DataValueTypeID.unique()

array(['CrdPrv'], dtype=object)

In [1394]:
df2.DataValueTypeID.nunique()

1

In [1395]:
df2.columns

Index(['Year', 'StateAbbr', 'StateDesc', 'CountyName', 'CountyFIPS',
       'LocationName', 'DataSource', 'Category', 'Measure', 'Data_Value_Unit',
       'Data_Value_Type', 'Data_Value', 'Data_Value_Footnote_Symbol',
       'Data_Value_Footnote', 'Low_Confidence_Limit', 'High_Confidence_Limit',
       'TotalPopulation', 'Geolocation', 'LocationID', 'CategoryID',
       'MeasureId', 'DataValueTypeID', 'Short_Question_Text'],
      dtype='object')

In [1396]:
df2.MeasureId.unique()

array(['COPD', 'OBESITY', 'STROKE', 'DEPRESSION', 'CASTHMA', 'TEETHLOST',
       'ARTHRITIS', 'DIABETES', 'BPHIGH', 'CANCER', 'CHD', 'KIDNEY',
       'HIGHCHOL'], dtype=object)

In [1397]:
# Re-indexing

df2.set_index('LocationName', inplace=True)

In [1398]:
df2.head()

,Year,StateAbbr,StateDesc,CountyName,CountyFIPS,DataSource,Category,Measure,Data_Value_Unit,Data_Value_Type,...,Data_Value_Footnote,Low_Confidence_Limit,High_Confidence_Limit,TotalPopulation,Geolocation,LocationID,CategoryID,MeasureId,DataValueTypeID,Short_Question_Text
LocationName,,,,,,,,,,,,,,,,,,,,,
1001020200,2020,AL,Alabama,Autauga,1001,BRFSS,Health Outcomes,Chronic obstructive pulmonary disease among ad...,%,Crude prevalence,...,NaN,6.8,8.5,2170,POINT (-86.47338874 32.47425254),1001020200,HLTHOUT,COPD,CrdPrv,COPD
1001020400,2020,AL,Alabama,Autauga,1001,BRFSS,Health Outcomes,Obesity among adults aged >=18 years,%,Crude prevalence,...,NaN,31.5,35.0,4386,POINT (-86.44370417 32.47203959),1001020400,HLTHOUT,OBESITY,CrdPrv,Obesity
1001021000,2020,AL,Alabama,Autauga,1001,BRFSS,Health Outcomes,Obesity among adults aged >=18 years,%,Crude prevalence,...,NaN,39.3,41.2,2894,POINT (-86.75607371 32.60894544),1001021000,HLTHOUT,OBESITY,CrdPrv,Obesity
1003010905,2020,AL,Alabama,Baldwin,1003,BRFSS,Health Outcomes,Stroke among adults aged >=18 years,%,Crude prevalence,...,NaN,2.7,3.2,8011,POINT (-87.75682132 30.53592075),1003010905,HLTHOUT,STROKE,CrdPrv,Stroke
1003010906,2020,AL,Alabama,Baldwin,1003,BRFSS,Health Outcomes,Depression among adults aged >=18 years,%,Crude prevalence,...,NaN,26.3,28.9,4302,POINT (-87.68753351 30.56418914),1003010906,HLTHOUT,DEPRESSION,CrdPrv,Depression

In [1399]:
# Getting rid of unneeded columns


df2 = df2.iloc[:, 9:]

In [1400]:
df2.head()

,Data_Value_Type,Data_Value,Data_Value_Footnote_Symbol,Data_Value_Footnote,Low_Confidence_Limit,High_Confidence_Limit,TotalPopulation,Geolocation,LocationID,CategoryID,MeasureId,DataValueTypeID,Short_Question_Text
LocationName,,,,,,,,,,,,,
1001020200,Crude prevalence,7.6,NaN,NaN,6.8,8.5,2170,POINT (-86.47338874 32.47425254),1001020200,HLTHOUT,COPD,CrdPrv,COPD
1001020400,Crude prevalence,33.2,NaN,NaN,31.5,35.0,4386,POINT (-86.44370417 32.47203959),1001020400,HLTHOUT,OBESITY,CrdPrv,Obesity
1001021000,Crude prevalence,40.3,NaN,NaN,39.3,41.2,2894,POINT (-86.75607371 32.60894544),1001021000,HLTHOUT,OBESITY,CrdPrv,Obesity
1003010905,Crude prevalence,2.9,NaN,NaN,2.7,3.2,8011,POINT (-87.75682132 30.53592075),1003010905,HLTHOUT,STROKE,CrdPrv,Stroke
1003010906,Crude prevalence,27.6,NaN,NaN,26.3,28.9,4302,POINT (-87.68753351 30.56418914),1003010906,HLTHOUT,DEPRESSION,CrdPrv,Depression

In [1401]:
MeasureId = df2['MeasureId']

In [1402]:
df2 = df2.iloc[:, :2]

In [1403]:
df2.head()

               Data_Value_Type  Data_Value
LocationName
1001020200    Crude prevalence         7.6
1001020400    Crude prevalence        33.2
1001021000    Crude prevalence        40.3
1003010905    Crude prevalence         2.9
1003010906    Crude prevalence        27.6

In [1404]:
# Adding back MeasureId

df2['MeasureId'] = MeasureId

In [1405]:
# removing Data_Value_Type

df2.drop('Data_Value_Type', axis=1, inplace=True)

In [1406]:
df2.shape

(936284, 2)

In [1407]:
df2.head()

              Data_Value   MeasureId
LocationName
1001020200           7.6        COPD
1001020400          33.2     OBESITY
1001021000          40.3     OBESITY
1003010905           2.9      STROKE
1003010906          27.6  DEPRESSION

In [1408]:
# Re-indexing

df2.reset_index(names='LocationName', inplace=True)

In [1409]:
df2.head()

   LocationName  Data_Value   MeasureId
0    1001020200         7.6        COPD
1    1001020400        33.2     OBESITY
2    1001021000        40.3     OBESITY
3    1003010905         2.9      STROKE
4    1003010906        27.6  DEPRESSION

In [1410]:
df.head()

,LocationName,PM25,OZONE,DSLPM,CANCER,RESP,PTRAF,PRE1960PCT,PNPL,PRMP,PTSDF,PWDIS
0,1001020100,9.690899,36.760212,0.278663,49.377032,0.788052,31.854621,0.167272,0.066526,0.077568,0.495631,0.000000
1,1001020200,9.711240,36.836966,0.304313,50.320741,0.808744,133.186831,0.262809,0.073066,0.083303,0.867199,0.000000
2,1001020300,9.745683,36.884999,0.364215,50.772140,0.816773,183.972683,0.078924,0.075626,0.082494,1.528117,0.000000
3,1001020400,9.761186,36.949586,0.447920,51.595926,0.835904,448.339640,0.114548,0.084700,0.087962,2.299506,0.000000
4,1001020500,9.791458,37.041363,0.499163,51.729998,0.841417,198.171325,0.000000,0.094754,0.091258,1.635841,0.000005

In [1412]:
type(df)

pandas.core.frame.DataFrame

In [1413]:
type(df2)

pandas.core.frame.DataFrame

In [1329]:
df2['LocationName'].isin(df['LocationName']).value_counts()

True     936104
False       180
Name: LocationName, dtype: int64

In [1417]:
# Combining dfs

df3 = df.merge(df2, how='inner', on='LocationName')
df3.head()

,LocationName,PM25,OZONE,DSLPM,CANCER,RESP,PTRAF,PRE1960PCT,PNPL,PRMP,PTSDF,PWDIS,Data_Value,MeasureId
0,1001020100,9.690899,36.760212,0.278663,49.377032,0.788052,31.854621,0.167272,0.066526,0.077568,0.495631,0.0,6.2,CANCER
1,1001020100,9.690899,36.760212,0.278663,49.377032,0.788052,31.854621,0.167272,0.066526,0.077568,0.495631,0.0,37.0,OBESITY
2,1001020100,9.690899,36.760212,0.278663,49.377032,0.788052,31.854621,0.167272,0.066526,0.077568,0.495631,0.0,35.6,HIGHCHOL
3,1001020100,9.690899,36.760212,0.278663,49.377032,0.788052,31.854621,0.167272,0.066526,0.077568,0.495631,0.0,14.6,TEETHLOST
4,1001020100,9.690899,36.760212,0.278663,49.377032,0.788052,31.854621,0.167272,0.066526,0.077568,0.495631,0.0,29.1,ARTHRITIS

In [1418]:
df3.tail()

,LocationName,PM25,OZONE,DSLPM,CANCER,RESP,PTRAF,PRE1960PCT,PNPL,PRMP,PTSDF,PWDIS,Data_Value,MeasureId
936099,56045951300,5.646642,47.797154,0.089088,15.420952,0.197472,111.32253,0.420095,0.014525,0.923825,0.924472,0.000475,7.4,COPD
936100,56045951300,5.646642,47.797154,0.089088,15.420952,0.197472,111.32253,0.420095,0.014525,0.923825,0.924472,0.000475,18.0,DEPRESSION
936101,56045951300,5.646642,47.797154,0.089088,15.420952,0.197472,111.32253,0.420095,0.014525,0.923825,0.924472,0.000475,16.4,TEETHLOST
936102,56045951300,5.646642,47.797154,0.089088,15.420952,0.197472,111.32253,0.420095,0.014525,0.923825,0.924472,0.000475,32.1,BPHIGH
936103,56045951300,5.646642,47.797154,0.089088,15.420952,0.197472,111.32253,0.420095,0.014525,0.923825,0.924472,0.000475,8.5,DIABETES

In [1419]:
df3.shape

(936104, 14)

In [1428]:
df3 = df3.rename({'LocationName':'CensusTract'}, axis=1)

In [1431]:
df3.head()

,CensusTract,PM25,OZONE,DSLPM,CANCER,RESP,PTRAF,PRE1960PCT,PNPL,PRMP,PTSDF,PWDIS,Data_Value,MeasureId
0,1001020100,9.690899,36.760212,0.278663,49.377032,0.788052,31.854621,0.167272,0.066526,0.077568,0.495631,0.0,6.2,CANCER
1,1001020100,9.690899,36.760212,0.278663,49.377032,0.788052,31.854621,0.167272,0.066526,0.077568,0.495631,0.0,37.0,OBESITY
2,1001020100,9.690899,36.760212,0.278663,49.377032,0.788052,31.854621,0.167272,0.066526,0.077568,0.495631,0.0,35.6,HIGHCHOL
3,1001020100,9.690899,36.760212,0.278663,49.377032,0.788052,31.854621,0.167272,0.066526,0.077568,0.495631,0.0,14.6,TEETHLOST
4,1001020100,9.690899,36.760212,0.278663,49.377032,0.788052,31.854621,0.167272,0.066526,0.077568,0.495631,0.0,29.1,ARTHRITIS

Re-indexing as CensusTract will not be a feature.

In [1433]:
df3.set_index('CensusTract', inplace=True)

In [1444]:
cancer = df3[df3['MeasureId'] == 'CANCER']
cancer.shape

(72323, 13)

In [1445]:
cancer = cancer.rename({'Data_Value': "Cancer_prevalence"}, axis=1)
cancer.drop('MeasureId', axis=1, inplace=True)

In [1446]:
cancer.head()

,PM25,OZONE,DSLPM,CANCER,RESP,PTRAF,PRE1960PCT,PNPL,PRMP,PTSDF,PWDIS,Cancer_prevalence
CensusTract,,,,,,,,,,,,
1001020100,9.690899,36.760212,0.278663,49.377032,0.788052,31.854621,0.167272,0.066526,0.077568,0.495631,0.000000,6.2
1001020200,9.711240,36.836966,0.304313,50.320741,0.808744,133.186831,0.262809,0.073066,0.083303,0.867199,0.000000,5.0
1001020300,9.745683,36.884999,0.364215,50.772140,0.816773,183.972683,0.078924,0.075626,0.082494,1.528117,0.000000,6.2
1001020400,9.761186,36.949586,0.447920,51.595926,0.835904,448.339640,0.114548,0.084700,0.087962,2.299506,0.000000,8.0
1001020500,9.791458,37.041363,0.499163,51.729998,0.841417,198.171325,0.000000,0.094754,0.091258,1.635841,0.000005,5.8

Making a separate dataframe for each health concern.

In [1447]:
asthma = df3[df3['MeasureId'] == 'CASTHMA']
asthma = asthma.drop('MeasureId', axis = 1)
asthma = asthma.rename({'Data_Value': "Asthma_prevalence"}, axis=1)
asthma.head()

,PM25,OZONE,DSLPM,CANCER,RESP,PTRAF,PRE1960PCT,PNPL,PRMP,PTSDF,PWDIS,Asthma_prevalence
CensusTract,,,,,,,,,,,,
1001020100,9.690899,36.760212,0.278663,49.377032,0.788052,31.854621,0.167272,0.066526,0.077568,0.495631,0.000000,9.8
1001020200,9.711240,36.836966,0.304313,50.320741,0.808744,133.186831,0.262809,0.073066,0.083303,0.867199,0.000000,10.9
1001020300,9.745683,36.884999,0.364215,50.772140,0.816773,183.972683,0.078924,0.075626,0.082494,1.528117,0.000000,10.1
1001020400,9.761186,36.949586,0.447920,51.595926,0.835904,448.339640,0.114548,0.084700,0.087962,2.299506,0.000000,8.8
1001020500,9.791458,37.041363,0.499163,51.729998,0.841417,198.171325,0.000000,0.094754,0.091258,1.635841,0.000005,9.2

In [1448]:
asthma.shape

(72323, 12)

In [1449]:
kidney = df3[df3['MeasureId'] == 'KIDNEY']  
kidney = kidney.drop('MeasureId', axis = 1)
kidney = kidney.rename({'Data_Value': "Kidney_prevalence"}, axis=1)
kidney.head()

,PM25,OZONE,DSLPM,CANCER,RESP,PTRAF,PRE1960PCT,PNPL,PRMP,PTSDF,PWDIS,Kidney_prevalence
CensusTract,,,,,,,,,,,,
1001020100,9.690899,36.760212,0.278663,49.377032,0.788052,31.854621,0.167272,0.066526,0.077568,0.495631,0.000000,2.9
1001020200,9.711240,36.836966,0.304313,50.320741,0.808744,133.186831,0.262809,0.073066,0.083303,0.867199,0.000000,3.1
1001020300,9.745683,36.884999,0.364215,50.772140,0.816773,183.972683,0.078924,0.075626,0.082494,1.528117,0.000000,3.0
1001020400,9.761186,36.949586,0.447920,51.595926,0.835904,448.339640,0.114548,0.084700,0.087962,2.299506,0.000000,2.9
1001020500,9.791458,37.041363,0.499163,51.729998,0.841417,198.171325,0.000000,0.094754,0.091258,1.635841,0.000005,2.4

In [1450]:
kidney.shape

(72323, 12)

In [1451]:
chd = df3[df3['MeasureId'] == 'CHD']  
chd = chd.drop('MeasureId', axis = 1)
chd = chd.rename({'Data_Value': "CHD_prevalence"}, axis=1)
chd.head()

,PM25,OZONE,DSLPM,CANCER,RESP,PTRAF,PRE1960PCT,PNPL,PRMP,PTSDF,PWDIS,CHD_prevalence
CensusTract,,,,,,,,,,,,
1001020100,9.690899,36.760212,0.278663,49.377032,0.788052,31.854621,0.167272,0.066526,0.077568,0.495631,0.000000,6.6
1001020200,9.711240,36.836966,0.304313,50.320741,0.808744,133.186831,0.262809,0.073066,0.083303,0.867199,0.000000,5.9
1001020300,9.745683,36.884999,0.364215,50.772140,0.816773,183.972683,0.078924,0.075626,0.082494,1.528117,0.000000,6.7
1001020400,9.761186,36.949586,0.447920,51.595926,0.835904,448.339640,0.114548,0.084700,0.087962,2.299506,0.000000,7.1
1001020500,9.791458,37.041363,0.499163,51.729998,0.841417,198.171325,0.000000,0.094754,0.091258,1.635841,0.000005,5.2

In [1452]:
stroke = df3[df3['MeasureId'] == 'STROKE']
stroke = stroke.drop('MeasureId', axis = 1)
stroke = stroke.rename({'Data_Value': "Stroke_prevalence"}, axis=1)
stroke.head()

,PM25,OZONE,DSLPM,CANCER,RESP,PTRAF,PRE1960PCT,PNPL,PRMP,PTSDF,PWDIS,Stroke_prevalence
CensusTract,,,,,,,,,,,,
1001020100,9.690899,36.760212,0.278663,49.377032,0.788052,31.854621,0.167272,0.066526,0.077568,0.495631,0.000000,3.1
1001020200,9.711240,36.836966,0.304313,50.320741,0.808744,133.186831,0.262809,0.073066,0.083303,0.867199,0.000000,3.7
1001020300,9.745683,36.884999,0.364215,50.772140,0.816773,183.972683,0.078924,0.075626,0.082494,1.528117,0.000000,3.3
1001020400,9.761186,36.949586,0.447920,51.595926,0.835904,448.339640,0.114548,0.084700,0.087962,2.299506,0.000000,3.0
1001020500,9.791458,37.041363,0.499163,51.729998,0.841417,198.171325,0.000000,0.094754,0.091258,1.635841,0.000005,2.4

In [1453]:
copd = df3[df3['MeasureId'] == 'COPD']
copd = copd.drop('MeasureId', axis = 1)
copd = copd.rename({'Crude_prevalence': "COPD_prevalence"}, axis=1)
copd.head()

,PM25,OZONE,DSLPM,CANCER,RESP,PTRAF,PRE1960PCT,PNPL,PRMP,PTSDF,PWDIS,Data_Value
CensusTract,,,,,,,,,,,,
1001020100,9.690899,36.760212,0.278663,49.377032,0.788052,31.854621,0.167272,0.066526,0.077568,0.495631,0.000000,8.1
1001020200,9.711240,36.836966,0.304313,50.320741,0.808744,133.186831,0.262809,0.073066,0.083303,0.867199,0.000000,7.6
1001020300,9.745683,36.884999,0.364215,50.772140,0.816773,183.972683,0.078924,0.075626,0.082494,1.528117,0.000000,8.3
1001020400,9.761186,36.949586,0.447920,51.595926,0.835904,448.339640,0.114548,0.084700,0.087962,2.299506,0.000000,7.2
1001020500,9.791458,37.041363,0.499163,51.729998,0.841417,198.171325,0.000000,0.094754,0.091258,1.635841,0.000005,5.9

**Environmental risk columns defined** 

PM25 = Particulate matter 2.5 level in air  

Ozone = Ozone level in air  

DSLPM = Diesel particulate matter level in air  

Cancer = Air toxics cancer risk  

RESP = Air toxics respiratory hazard index  

PTRAF = Traffic proximity and volume  

PRE1960PCT = % pre-1960 housing (lead paint indicator)  

PNPL = Proximity to National Priorities List (NPL) [superfund] sites  

PRMP = Proximity to Risk Management Plan (RMP) facilities, facilities that use extremely hazardous substances  
       
PTSDF = Proximity to Treatment Storage and Disposal facilities (TSDF) 

PWDIS = Indicator for major direct dischargers to water

Making a dataset for each health concern

In [1454]:
copd.to_csv('/Users/butler/Documents/hp/Capstone_Two/data/interim/copd_data.csv')

In [1455]:
asthma.to_csv('/Users/butler/Documents/hp/Capstone_Two/data/interim/asthma_data.csv')

In [1456]:
stroke.to_csv('/Users/butler/Documents/hp/Capstone_Two/data/interim/stroke_data.csv')

In [1457]:
cancer.to_csv('/Users/butler/Documents/hp/Capstone_Two/data/interim/cancer_data.csv')

In [1458]:
chd.to_csv('/Users/butler/Documents/hp/Capstone_Two/data/interim/chd_data.csv')

In [1459]:
kidney.to_csv('/Users/butler/Documents/hp/Capstone_Two/data/interim/kidney_data.csv')