## Moving the files specified in the dataframes that have 500 randomized images to a new folder

In [1]:
import shutil
import pandas as pd

In [5]:
df_women_kurta = pd.read_csv('data/processed/df_women_kurta.csv')

In [6]:
df_sherwanis = pd.read_csv('data/processed/df_sherwanis.csv')

In [7]:
df_saree = pd.read_csv('data/processed/df_saree.csv')

In [8]:
df_petticoats = pd.read_csv('data/processed/df_petticoats.csv')

In [9]:
df_palazzos = pd.read_csv('data/processed/df_palazzos.csv')

In [10]:
df_nehru_jackets = pd.read_csv('data/processed/df_nehru_jackets.csv')

In [11]:
df_mojaris_women = pd.read_csv('data/processed/df_mojaris_women.csv')

In [80]:
df_mojaris_men = pd.read_csv('data/processed/df_mojaris_men.csv')

In [13]:
df_lehenga = pd.read_csv('data/processed/df_lehenga.csv')

In [84]:
df_leggings_and_salwars = pd.read_csv('data/processed/df_leggings_and_salwars.csv')

In [15]:
df_kurta_men = pd.read_csv('data/processed/df_kurta_men.csv')

In [16]:
df_dupattas = pd.read_csv('data/processed/df_dupattas.csv')

In [17]:
df_dhoti_pants = pd.read_csv('data/processeddf_dhoti_pants.csv')

In [2]:
df_blouse = pd.read_csv('data/processed/df_blouse.csv')

In [19]:
df_gown = pd.read_csv('data/processed/df_gowns.csv')

In [20]:
df_gown.head()

,Unnamed: 0,files,random_number
0,0,gowns/flipkart/na-xs-3-4-sleeve-stitched-kfo-6...,7
1,1,gowns/flipkart/na-xl-3-4-sleeve-stitched-60g2-...,22
2,2,gowns/flipkart/na-xl-3-4-sleeve-stitched-rayon...,25
3,3,gowns/flipkart/na-m-full-sleeve-stitched-sara-...,26
4,4,gowns/karmaplace/AHKUCRFP-722-1_512x683.jpg,29

In [23]:
df_gown.iloc[1,1]

'gowns/flipkart/na-xl-3-4-sleeve-stitched-60g2-sheqegirl-na-original-imagag2nacqzjpkh.jpeg'

In [24]:
df_gown.iloc[0,1]

'gowns/flipkart/na-xs-3-4-sleeve-stitched-kfo-69-navy-blue-xs-amouk-na-original-imagq9zfsfdugwg4.jpeg'

In [41]:
# Transferring gown images that are in the dataframe with the 500 randomized images. 
lst = []
for i in range(len(df_gown)):
    old = df_gown.iloc[i,1]
    
    new = f'data/processed/new_test_images/gowns/{i}.jpg'
    
    try:
        shutil.copyfile(old, new)
    
    except:
        lst.append(old)

In [42]:
# Checking to make sure that all image have been moves
len(lst)

0

In [3]:
df_blouse.iloc[1,1]

'data/external/newly_scraped_images/blouse/flipkart/free-0021-mk-womens-original-imagghppht7hvxsg.jpg'

In [4]:
df_blouse.iloc[0,1]

'data/external/newly_scraped_images/blouse/amazon.in/913OjPlRq9L._AC_UL320_.jpg'

In [5]:
lst = []
for i in range(len(df_blouse)):
    old = df_blouse.iloc[i,1]
    
    new = f'data/processed/new_test_images/blouse/{i}.jpg'
    
    try:
        shutil.move(old, new)
    except:
        lst.append(old)

In [6]:
len(lst)

0

In [51]:
df_lehenga.iloc[0,1]

'lehenga/utsavfashion/embroidered-georgette-lehenga-in-pink-v1-lbc1394.jpg'

In [52]:
lst = []
for i in range(len(df_lehenga)):
    old = df_lehenga.iloc[i,1]
    
    new = f'data/processed/new_test_images/lehenga/{i}.jpg'
    
    try:
        shutil.copyfile(old, new)
    except:
        lst.append(old)

In [53]:
len(lst)

0

In [54]:
df_petticoats.iloc[0,1]

'petticoats/flipkart/m-ds-pc-skirt-3706-light-blue-dresque-store-original-imagevgbcuyezgrn.jpeg'

In [55]:
lst = []
for i in range(len(df_petticoats)):
    old = df_petticoats.iloc[i,1]
    
    new = f'data/processed/new_test_images/petticoats/{i}.jpg'
    
    try:
        shutil.copyfile(old, new)
    except:
        lst.append(old)

In [56]:
len(lst)

0

In [57]:
lst = []
for i in range(len(df_dhoti_pants)):
    old = df_dhoti_pants.iloc[i,1]
    
    new = f'data/processed/new_test_images/dhoti_pants/{i}.jpg'
    
    try:
        shutil.copyfile(old, new)
    except:
        lst.append(old)

In [58]:
len(lst)

0

In [59]:
lst = []
for i in range(len(df_nehru_jackets)):
    old = df_nehru_jackets.iloc[i,1]
    
    new = f'data/processed/new_test_images/nehru_jackets/{i}.jpg'
    
    try:
        shutil.copyfile(old, new)
    except:
        lst.append(old)

In [60]:
len(lst)

0

In [61]:
lst = []
for i in range(len(df_kurta_men)):
    old = df_kurta_men.iloc[i,1]
    
    new = f'data/processed/new_test_images/kurta_men/{i}.jpg'
    
    try:
        shutil.copyfile(old, new)
    except:
        lst.append(old)

In [62]:
len(lst)

0

In [89]:
lst = []
for i in range(len(df_leggings_and_salwars)):
    old = df_leggings_and_salwars.iloc[i,1]
    
    new = f'data/processed/new_test_images/leggings_and_salwars/{i}.jpg'
    
    try:
        shutil.copyfile(old, new)
    except:
        lst.append(old)

In [90]:
len(lst)

0

In [81]:
lst = []
for i in range(len(df_mojaris_men)):
    old = df_mojaris_men.iloc[i,1]
    
    new = f'data/processed/new_test_images/mojaris_men/{i}.jpg'
    
    try:
        shutil.copyfile(old, new)
    except:
        lst.append(old)

In [82]:
len(lst)

0

In [67]:
lst = []
for i in range(len(df_mojaris_women)):
    old = df_mojaris_women.iloc[i,1]
    
    new = f'data/processed/new_test_images/mojaris_women/{i}.jpg'
    
    try:
        shutil.copyfile(old, new)
    except:
        lst.append(old)

In [68]:
len(lst)

0

In [69]:
df_dupattas.iloc[0,1]

'dupattas/amazon.in/81jocy6VR+L._AC_UL320_.jpg'

In [70]:
lst = []
for i in range(len(df_dupattas)):
    old = df_dupattas.iloc[i,1]
    
    new = f'data/processed/new_test_images/dupattas/{i}.jpg'
    
    try:
        shutil.copyfile(old, new)
    except:
        lst.append(old)

In [71]:
len(lst)

0

In [72]:
lst = []
for i in range(len(df_palazzos)):
    old = df_palazzos.iloc[i,1]
    
    new = f'data/processed/new_test_images/palazzos/{i}.jpg'
    
    try:
        shutil.copyfile(old, new)
    except:
        lst.append(old)

In [73]:
len(lst)

0

In [74]:
lst = []
for i in range(len(df_saree)):
    old = df_saree.iloc[i,1]
    
    new = f'data/processed/new_test_images/saree/{i}.jpg'
    
    try:
        shutil.copyfile(old, new)
    except:
        lst.append(old)

In [75]:
len(lst)

0

In [76]:
lst = []
for i in range(len(df_sherwanis)):
    old = df_sherwanis.iloc[i,1]
    
    new = f'data/processed/new_test_images/sherwanis/{i}.jpg'
    
    try:
        shutil.copyfile(old, new)
    except:
        lst.append(old)

In [77]:
len(lst)

0

In [78]:
lst = []
for i in range(len(df_women_kurta)):
    old = df_women_kurta.iloc[i,1]
    
    new = f'data/processed/new_test_images/women_kurta/{i}.jpg'
    
    try:
        shutil.copyfile(old, new)
    except:
        lst.append(old)

In [79]:
len(lst)

0